In [2]:
import os
import pandas as pd
import numpy.random as rnd
import warnings
import json
import sqlalchemy as sql
import datetime
import requests
import yfinance as yf
import numpy as np
import hvplot.pandas
from pathlib import Path
from Ticker_Data import og_data

[                       0%                       ]  314 of 2083 completed

RuntimeError: can't start new thread

[                       1%                       ]  21 of 2083 completed

In [28]:
og_data

NameError: name 'ticker_data' is not defined

In [18]:
today = datetime.date.today()
start_date = today - datetime.timedelta(days=365*1) #trading days(252) * amount of years to go back 

start = start_date.strftime("%Y-%m-%d")
end = today.strftime("%Y-%m-%d")

In [19]:
url = "https://api.quiverquant.com/beta/bulk/congresstrading"

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 77edeff3a3bd2fa2e10472e0536c0d166c147afa"
}

response = requests.get(url, headers=headers).json()

In [20]:
list_series = []

for row in response:
    list_series.append(pd.Series(row))
    column_names = response

In [21]:
congress_df = pd.DataFrame(data=list_series)
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Josh Gottheimer,2023-08-21,2023-07-27,ABBV,Sale,"$1,001-$15,000",Representatives,1001.0,D
1,Josh Gottheimer,2023-08-21,2023-07-25,FCX,Sale,"$1,001-$15,000",Representatives,1001.0,D
2,Josh Gottheimer,2023-08-21,2023-07-24,AMD,Purchase,"$1,001-$15,000",Representatives,1001.0,D
3,Josh Gottheimer,2023-08-21,2023-07-21,HLN,Purchase,"$1,001-$15,000",Representatives,1001.0,D
4,Josh Gottheimer,2023-08-21,2023-07-20,HLN,Purchase,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
30802,Sheldon Whitehouse,2016-01-20,2016-01-05,NVDA,Purchase,"$1,001 - $15,000",Senate,1001.0,D
30803,Bill Cassidy,2016-01-12,2016-01-05,AAPL,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30804,Bill Cassidy,2016-01-12,2016-01-05,CMI,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30805,Bill Cassidy,2016-01-12,2016-01-05,INTC,Sale,"$1,001 - $15,000",Senate,1001.0,R
30806,John Hoeven,2016-01-12,2016-01-06,UA,Purchase,"$50,001 - $100,000",Senate,50001.0,R

In [22]:
congress_df = congress_df[congress_df['TransactionDate'] > start]
#sort by TransactionDate
congress_df = congress_df.sort_values(by=['Ticker','TransactionDate'])

congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
4148,Virginia Foxx,2022-09-08,2022-08-30,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R
4141,Virginia Foxx,2022-09-08,2022-08-31,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R
3876,Virginia Foxx,2022-10-12,2022-09-01,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R
3850,Virginia Foxx,2022-10-12,2022-09-28,AA,Sale,"$15,001-$50,000",Representatives,15001.0,R
2321,Josh Gottheimer,2023-03-17,2023-02-13,AAGIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
1531,Daniel Goldman,2023-05-19,2023-04-10,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D
1178,Zoe Lofgren,2023-06-06,2023-05-25,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D
92,Daniel Goldman,2023-08-13,2023-07-14,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D
2586,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D
487,Daniel Goldman,2023-08-13,2023-07-10,ZURVY,Sale,"$1,001-$15,000",Representatives,1001.0,D

In [23]:
congress_df['Signal'] = 0
#if transaction type is Purchase, signal = 1 if transaction type is Sale, signal = -1
congress_df.loc[congress_df['Transaction'] == 'Purchase', 'Signal'] = 1
congress_df.loc[congress_df['Transaction'] == 'Sale', 'Signal'] = -1
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Signal
4148,Virginia Foxx,2022-09-08,2022-08-30,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1
4141,Virginia Foxx,2022-09-08,2022-08-31,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1
3876,Virginia Foxx,2022-10-12,2022-09-01,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1
3850,Virginia Foxx,2022-10-12,2022-09-28,AA,Sale,"$15,001-$50,000",Representatives,15001.0,R,-1
2321,Josh Gottheimer,2023-03-17,2023-02-13,AAGIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,1
...,...,...,...,...,...,...,...,...,...,...
1531,Daniel Goldman,2023-05-19,2023-04-10,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1
1178,Zoe Lofgren,2023-06-06,2023-05-25,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1
92,Daniel Goldman,2023-08-13,2023-07-14,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1
2586,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D,-1
487,Daniel Goldman,2023-08-13,2023-07-10,ZURVY,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1

In [24]:
# Calculate the points in time at which a position should be taken, 1 or -1
congress_df["Entry/Exit"] = congress_df["Signal"].diff()

# Review the DataFrame
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Signal,Entry/Exit
4148,Virginia Foxx,2022-09-08,2022-08-30,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1,NaN
4141,Virginia Foxx,2022-09-08,2022-08-31,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1,0.0
3876,Virginia Foxx,2022-10-12,2022-09-01,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1,0.0
3850,Virginia Foxx,2022-10-12,2022-09-28,AA,Sale,"$15,001-$50,000",Representatives,15001.0,R,-1,-2.0
2321,Josh Gottheimer,2023-03-17,2023-02-13,AAGIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...
1531,Daniel Goldman,2023-05-19,2023-04-10,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,-2.0
1178,Zoe Lofgren,2023-06-06,2023-05-25,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0
92,Daniel Goldman,2023-08-13,2023-07-14,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0
2586,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D,-1,0.0
487,Daniel Goldman,2023-08-13,2023-07-10,ZURVY,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0

In [27]:
#merger ticker data with congress trading data on ticker and transaction date
merged_df = pd.merge(og_data, congress_df, on=['Ticker', 'TransactionDate'], how='outer')
merged_df

NameError: name 'ticker_data' is not defined