In [38]:
import os
import pandas as pd
import numpy.random as rnd
import warnings
import json
import sqlalchemy as sql
from datetime import datetime
import requests
import yfinance as yf
import numpy as np
import hvplot.pandas
from pathlib import Path
from Ticker_Data_Congress import og_data

In [17]:
og_data

            Adj Close                                                \
                AAGIY         AAP        AAPL        AAT      AAVMY
Date
2020-08-26  38.222546  145.895782  124.276161  22.403139   7.651942
2020-08-27  37.918736  144.254837  122.790520  22.881117   7.628180
2020-08-28  39.323841  144.301453  122.591614  22.766050   7.834132
2020-08-31  38.744713  145.737289  126.748962  22.615572   7.509359
2020-09-01  39.209919  145.811859  131.797684  22.535912   7.491932
...               ...         ...         ...        ...        ...
2023-08-21  34.349998   68.199997  175.839996  20.620001  14.500000
2023-08-22  34.380001   67.339996  177.229996  20.459999  14.380000
2023-08-23  35.770000   69.440002  181.119995  20.930000  14.395000
2023-08-24  35.060001   67.910004  176.380005  20.920000  14.220000
2023-08-25  34.400002   64.080002  178.610001  20.790001  14.250000

                                                                       ...  \
                ABBNY        ABBV        ABNB         ABT         ACN  ...
Date                                                                   ...
2020-08-26  24.098074   82.994164         NaN   98.197166  230.706223  ...
2020-08-27  23.600826   82.950172         NaN  105.905251  231.109177  ...
2020-08-28  23.775784   82.835831         NaN  105.429451  233.143280  ...
2020-08-31  23.481119   84.243240         NaN  104.173309  230.207275  ...
2020-09-01  23.748159   81.138100         NaN  101.394600  230.293640  ...
...               ...         ...         ...         ...         ...  ...
2023-08-21  36.980000  150.160004  124.000000  103.870003  306.510010  ...
2023-08-22  37.040001  148.240005  127.080002  105.150002  308.899994  ...
2023-08-23  37.349998  147.080002  128.130005  105.129997  315.339996  ...
2023-08-24  36.849998  146.630005  124.720001  103.750000  314.140015  ...
2023-08-25  37.220001  146.690002  125.790001  104.209999  318.760010  ...

           Volume                                                             \
            YAMHY  YARIY  YASKY        YOU     YUMC        Z  ZLNDY       ZS
Date
2020-08-26      0   4700   1900        NaN   865500  3687500   2200  2228500
2020-08-27      0  10200   3500        NaN   773100  2512100   6200  1906400
2020-08-28      0  12100   3900        NaN  2300900  1823600   4100  2135000
2020-08-31      0  11400   2200        NaN  3621000  2131300   7000  5861100
2020-09-01      0   5600   2500        NaN  2429600  2383800  21400  4511200
...           ...    ...    ...        ...      ...      ...    ...      ...
2023-08-21   4200  27600  10400  1727700.0  2101300  2195300  44900  2411300
2023-08-22  13000  34500  17700  1457900.0  1242900  2604600  24000  1098400
2023-08-23   4100  34400   3500  1083700.0  1550100  1867600   9100  1093300
2023-08-24   1100  59000  11600   696100.0  1256400  2326600  12200  1138200
2023-08-25   2100  44600  10800   741700.0   977700  1895200  16700  1036800


                ZTS   ZURVY
Date
2020-08-26  1917800   83600
2020-08-27  1121700   41300
2020-08-28   926000   57400
2020-08-31  1392800   33400
2020-09-01  1273100   39700
...             ...     ...
2023-08-21   860200   74100
2023-08-22  1286400   74700
2023-08-23  1022900  731300
2023-08-24  1210300  220000
2023-08-25   879700   53900

[755 rows x 4146 columns]

In [18]:
#Take out all of the Close prices and transform them into mergable data
Close = og_data.loc[:, ("Close")]
Close = Close.reset_index()
Close = Close.rename(columns={'Date': 'TransactionDate'})
#Close["TransactionDate - 30 Days Prior"] = Close['TransactionDate']
Close

,TransactionDate,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2020-08-26,40.259998,156.479996,126.522499,25.309999,9.660,26.170000,94.349998,NaN,103.190002,...,7.92,21.120001,71.300003,NaN,55.400002,83.849998,44.186001,140.000000,159.759995,37.520000
1,2020-08-27,39.939999,154.720001,125.010002,25.850000,9.630,25.629999,94.300003,NaN,111.290001,...,7.92,20.920000,71.290001,NaN,55.200001,85.239998,43.505001,138.759995,159.610001,37.259998
2,2020-08-28,41.419998,154.770004,124.807503,25.719999,9.890,25.820000,94.169998,NaN,110.790001,...,7.92,20.940001,71.516998,NaN,56.500000,87.320000,43.987000,141.130005,160.000000,37.619999
3,2020-08-31,40.810001,156.309998,129.039993,25.549999,9.480,25.500000,95.769997,NaN,109.470001,...,7.92,20.969999,72.070000,NaN,57.709999,85.760002,43.736000,143.339996,160.100006,37.060001
4,2020-09-01,41.299999,156.389999,134.179993,25.459999,9.458,25.790001,92.239998,NaN,106.550003,...,7.92,20.750000,72.334999,NaN,58.290001,88.440002,46.058998,159.360001,162.050003,36.980000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,2023-08-21,34.349998,68.199997,175.839996,20.620001,14.500,36.980000,150.160004,124.000000,103.870003,...,12.80,18.370001,74.320000,21.990000,53.040001,49.130001,14.520000,142.779999,180.809998,46.450001
751,2023-08-22,34.380001,67.339996,177.229996,20.459999,14.380,37.040001,148.240005,127.080002,105.150002,...,12.85,18.240000,74.290001,22.000000,52.480000,49.900002,14.450000,141.899994,181.820007,45.950001
752,2023-08-23,35.770000,69.440002,181.119995,20.930000,14.395,37.349998,147.080002,128.130005,105.129997,...,13.16,17.980000,75.940002,22.059999,53.029999,50.080002,14.605000,145.470001,184.250000,46.369999
753,2023-08-24,35.060001,67.910004,176.380005,20.920000,14.220,36.849998,146.630005,124.720001,103.750000,...,13.27,17.559999,74.370003,21.850000,53.549999,50.160000,14.200000,139.740005,181.559998,45.849998
754,2023-08-25,34.400002,64.080002,178.610001,20.790001,14.250,37.220001,146.690002,125.790001,104.209999,...,12.93,17.900000,75.220001,21.590000,53.049999,49.970001,14.310000,142.759995,182.820007,46.130001

In [31]:
#Take out all of the Close prices and transform them into mergable data
Close_30day = og_data.loc[:, ("Close")]
Close_30day = Close_30day.reset_index()
Close_30day = Close_30day.rename(columns={'Date': 'TransactionDate - 30 Days Prior'})
Close_30day

,TransactionDate - 30 Days Prior,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2020-08-26,40.259998,156.479996,126.522499,25.309999,9.660,26.170000,94.349998,NaN,103.190002,...,7.92,21.120001,71.300003,NaN,55.400002,83.849998,44.186001,140.000000,159.759995,37.520000
1,2020-08-27,39.939999,154.720001,125.010002,25.850000,9.630,25.629999,94.300003,NaN,111.290001,...,7.92,20.920000,71.290001,NaN,55.200001,85.239998,43.505001,138.759995,159.610001,37.259998
2,2020-08-28,41.419998,154.770004,124.807503,25.719999,9.890,25.820000,94.169998,NaN,110.790001,...,7.92,20.940001,71.516998,NaN,56.500000,87.320000,43.987000,141.130005,160.000000,37.619999
3,2020-08-31,40.810001,156.309998,129.039993,25.549999,9.480,25.500000,95.769997,NaN,109.470001,...,7.92,20.969999,72.070000,NaN,57.709999,85.760002,43.736000,143.339996,160.100006,37.060001
4,2020-09-01,41.299999,156.389999,134.179993,25.459999,9.458,25.790001,92.239998,NaN,106.550003,...,7.92,20.750000,72.334999,NaN,58.290001,88.440002,46.058998,159.360001,162.050003,36.980000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,2023-08-21,34.349998,68.199997,175.839996,20.620001,14.500,36.980000,150.160004,124.000000,103.870003,...,12.80,18.370001,74.320000,21.990000,53.040001,49.130001,14.520000,142.779999,180.809998,46.450001
751,2023-08-22,34.380001,67.339996,177.229996,20.459999,14.380,37.040001,148.240005,127.080002,105.150002,...,12.85,18.240000,74.290001,22.000000,52.480000,49.900002,14.450000,141.899994,181.820007,45.950001
752,2023-08-23,35.770000,69.440002,181.119995,20.930000,14.395,37.349998,147.080002,128.130005,105.129997,...,13.16,17.980000,75.940002,22.059999,53.029999,50.080002,14.605000,145.470001,184.250000,46.369999
753,2023-08-24,35.060001,67.910004,176.380005,20.920000,14.220,36.849998,146.630005,124.720001,103.750000,...,13.27,17.559999,74.370003,21.850000,53.549999,50.160000,14.200000,139.740005,181.559998,45.849998
754,2023-08-25,34.400002,64.080002,178.610001,20.790001,14.250,37.220001,146.690002,125.790001,104.209999,...,12.93,17.900000,75.220001,21.590000,53.049999,49.970001,14.310000,142.759995,182.820007,46.130001

In [36]:
#Take out all of the Close prices and transform them into mergable data
Close_Current = og_data.loc[:, ("Close")]
Close_Current = Close_Current.reset_index()
Close_Current = Close_Current.rename(columns={'Date': "Latest Close Date"})
Close_Current

,Latest Close Date,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2020-08-26,40.259998,156.479996,126.522499,25.309999,9.660,26.170000,94.349998,NaN,103.190002,...,7.92,21.120001,71.300003,NaN,55.400002,83.849998,44.186001,140.000000,159.759995,37.520000
1,2020-08-27,39.939999,154.720001,125.010002,25.850000,9.630,25.629999,94.300003,NaN,111.290001,...,7.92,20.920000,71.290001,NaN,55.200001,85.239998,43.505001,138.759995,159.610001,37.259998
2,2020-08-28,41.419998,154.770004,124.807503,25.719999,9.890,25.820000,94.169998,NaN,110.790001,...,7.92,20.940001,71.516998,NaN,56.500000,87.320000,43.987000,141.130005,160.000000,37.619999
3,2020-08-31,40.810001,156.309998,129.039993,25.549999,9.480,25.500000,95.769997,NaN,109.470001,...,7.92,20.969999,72.070000,NaN,57.709999,85.760002,43.736000,143.339996,160.100006,37.060001
4,2020-09-01,41.299999,156.389999,134.179993,25.459999,9.458,25.790001,92.239998,NaN,106.550003,...,7.92,20.750000,72.334999,NaN,58.290001,88.440002,46.058998,159.360001,162.050003,36.980000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,2023-08-21,34.349998,68.199997,175.839996,20.620001,14.500,36.980000,150.160004,124.000000,103.870003,...,12.80,18.370001,74.320000,21.990000,53.040001,49.130001,14.520000,142.779999,180.809998,46.450001
751,2023-08-22,34.380001,67.339996,177.229996,20.459999,14.380,37.040001,148.240005,127.080002,105.150002,...,12.85,18.240000,74.290001,22.000000,52.480000,49.900002,14.450000,141.899994,181.820007,45.950001
752,2023-08-23,35.770000,69.440002,181.119995,20.930000,14.395,37.349998,147.080002,128.130005,105.129997,...,13.16,17.980000,75.940002,22.059999,53.029999,50.080002,14.605000,145.470001,184.250000,46.369999
753,2023-08-24,35.060001,67.910004,176.380005,20.920000,14.220,36.849998,146.630005,124.720001,103.750000,...,13.27,17.559999,74.370003,21.850000,53.549999,50.160000,14.200000,139.740005,181.559998,45.849998
754,2023-08-25,34.400002,64.080002,178.610001,20.790001,14.250,37.220001,146.690002,125.790001,104.209999,...,12.93,17.900000,75.220001,21.590000,53.049999,49.970001,14.310000,142.759995,182.820007,46.130001

In [19]:
today = datetime.date.today()
start_date = today - datetime.timedelta(days=365*1) #trading days(252) * amount of years to go back 

start = start_date.strftime("%Y-%m-%d")
end = today.strftime("%Y-%m-%d")

In [20]:
url = "https://api.quiverquant.com/beta/bulk/congresstrading"

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 77edeff3a3bd2fa2e10472e0536c0d166c147afa"
}

response = requests.get(url, headers=headers).json()

In [21]:
list_series = []

for row in response:
    list_series.append(pd.Series(row))
    column_names = response

In [22]:
congress_df = pd.DataFrame(data=list_series)
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Michael Patrick Guest,2023-08-23,2023-08-09,PR,Purchase,"$1,001-$15,000",Representatives,1001.0,R
1,Michael Patrick Guest,2023-08-23,2023-08-07,ELF,Purchase,"$1,001-$15,000",Representatives,1001.0,R
2,Michael Patrick Guest,2023-08-23,2023-08-07,XOM,Purchase,"$1,001-$15,000",Representatives,1001.0,R
3,Michael Patrick Guest,2023-08-23,2023-08-07,AAPL,Purchase,"$1,001-$15,000",Representatives,1001.0,R
4,Michael Patrick Guest,2023-08-23,2023-08-07,GD,Purchase,"$1,001-$15,000",Representatives,1001.0,R
...,...,...,...,...,...,...,...,...,...
30834,Sheldon Whitehouse,2016-01-20,2016-01-05,NVDA,Purchase,"$1,001 - $15,000",Senate,1001.0,D
30835,Bill Cassidy,2016-01-12,2016-01-05,AAPL,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30836,Bill Cassidy,2016-01-12,2016-01-05,CMI,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30837,Bill Cassidy,2016-01-12,2016-01-05,INTC,Sale,"$1,001 - $15,000",Senate,1001.0,R
30838,John Hoeven,2016-01-12,2016-01-06,UA,Purchase,"$50,001 - $100,000",Senate,50001.0,R

In [23]:
congress_df = congress_df[congress_df['TransactionDate'] > start]
#sort by TransactionDate
congress_df = congress_df.sort_values(by=['Ticker','TransactionDate'])

congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
4177,Virginia Foxx,2022-09-08,2022-08-30,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R
4175,Virginia Foxx,2022-09-08,2022-08-31,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R
3911,Virginia Foxx,2022-10-12,2022-09-01,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R
3882,Virginia Foxx,2022-10-12,2022-09-28,AA,Sale,"$15,001-$50,000",Representatives,15001.0,R
2355,Josh Gottheimer,2023-03-17,2023-02-13,AAGIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
1589,Daniel Goldman,2023-05-19,2023-04-10,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D
1188,Zoe Lofgren,2023-06-06,2023-05-25,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D
125,Daniel Goldman,2023-08-13,2023-07-14,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D
2642,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D
289,Daniel Goldman,2023-08-13,2023-07-10,ZURVY,Sale,"$1,001-$15,000",Representatives,1001.0,D

In [24]:
congress_df['Signal'] = 0
#if transaction type is Purchase, signal = 1 if transaction type is Sale, signal = -1
congress_df.loc[congress_df['Transaction'] == 'Purchase', 'Signal'] = 1
congress_df.loc[congress_df['Transaction'] == 'Sale', 'Signal'] = -1
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Signal
4177,Virginia Foxx,2022-09-08,2022-08-30,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1
4175,Virginia Foxx,2022-09-08,2022-08-31,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1
3911,Virginia Foxx,2022-10-12,2022-09-01,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1
3882,Virginia Foxx,2022-10-12,2022-09-28,AA,Sale,"$15,001-$50,000",Representatives,15001.0,R,-1
2355,Josh Gottheimer,2023-03-17,2023-02-13,AAGIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,1
...,...,...,...,...,...,...,...,...,...,...
1589,Daniel Goldman,2023-05-19,2023-04-10,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1
1188,Zoe Lofgren,2023-06-06,2023-05-25,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1
125,Daniel Goldman,2023-08-13,2023-07-14,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1
2642,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D,-1
289,Daniel Goldman,2023-08-13,2023-07-10,ZURVY,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1

In [25]:
# Calculate the points in time at which a position should be taken, 1 or -1
congress_df["Entry/Exit"] = congress_df["Signal"].diff()

# Review the DataFrame
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Signal,Entry/Exit
4177,Virginia Foxx,2022-09-08,2022-08-30,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1,NaN
4175,Virginia Foxx,2022-09-08,2022-08-31,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1,0.0
3911,Virginia Foxx,2022-10-12,2022-09-01,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1,0.0
3882,Virginia Foxx,2022-10-12,2022-09-28,AA,Sale,"$15,001-$50,000",Representatives,15001.0,R,-1,-2.0
2355,Josh Gottheimer,2023-03-17,2023-02-13,AAGIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...
1589,Daniel Goldman,2023-05-19,2023-04-10,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,-2.0
1188,Zoe Lofgren,2023-06-06,2023-05-25,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0
125,Daniel Goldman,2023-08-13,2023-07-14,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0
2642,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D,-1,0.0
289,Daniel Goldman,2023-08-13,2023-07-10,ZURVY,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0

In [28]:
congress_df.dtypes

Representative      object
ReportDate          object
TransactionDate     object
Ticker              object
Transaction         object
Range               object
House               object
Amount             float64
Party               object
Signal               int64
Entry/Exit         float64
dtype: object

In [29]:
congress_df["ReportDate"] = pd.to_datetime(congress_df["ReportDate"], format="%Y-%m-%d")
congress_df["TransactionDate"] = pd.to_datetime(congress_df["TransactionDate"], format="%Y-%m-%d")

In [30]:
#merger ticker data with congress trading data on ticker and transaction date
df_close = Close.melt(id_vars='TransactionDate', var_name='Ticker', value_name='Transaction Close')
CC1 = congress_df.merge(df_close, on = ["TransactionDate",'Ticker'])
CC1

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Signal,Entry/Exit,Transaction Close
0,Josh Gottheimer,2023-03-17,2023-02-13,AAGIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,1,2.0,43.900002
1,Daniel Goldman,2023-03-20,2023-02-27,AAGIY,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,-2.0,41.900002
2,Daniel Goldman,2023-08-13,2023-07-10,AAGIY,Sale,"$100,001-250,000",Representatives,100001.0,D,-1,0.0,39.500000
3,Josh Gottheimer,2023-08-21,2023-07-19,AAGIY,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0,40.389999
4,Josh Gottheimer,2023-08-21,2023-07-20,AAGIY,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0,39.590000
...,...,...,...,...,...,...,...,...,...,...,...,...
2133,Daniel Goldman,2023-05-19,2023-04-10,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,-2.0,170.869995
2134,Zoe Lofgren,2023-06-06,2023-05-25,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0,165.240005
2135,Daniel Goldman,2023-08-13,2023-07-14,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0,172.190002
2136,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D,-1,0.0,48.110001
2137,Daniel Goldman,2023-08-13,2023-07-10,ZURVY,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0,46.259998

In [32]:
CC1["TransactionDate - 30 Days Prior"] = (CC1["TransactionDate"] - pd.Timedelta(days=30))

In [33]:
#Reorder columns
CC1 = CC1[["Representative",
     "House",
     "Party",
     "Ticker",
     "Amount",
     "ReportDate",
     "TransactionDate",
     "TransactionDate - 30 Days Prior",
     "Transaction",
     "Transaction Close",
     "Signal", 
     "Entry/Exit"]]
CC1

,Representative,House,Party,Ticker,Amount,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Transaction Close,Signal,Entry/Exit
0,Josh Gottheimer,Representatives,D,AAGIY,1001.0,2023-03-17,2023-02-13,2023-01-14,Purchase,43.900002,1,2.0
1,Daniel Goldman,Representatives,D,AAGIY,1001.0,2023-03-20,2023-02-27,2023-01-28,Sale,41.900002,-1,-2.0
2,Daniel Goldman,Representatives,D,AAGIY,100001.0,2023-08-13,2023-07-10,2023-06-10,Sale,39.500000,-1,0.0
3,Josh Gottheimer,Representatives,D,AAGIY,1001.0,2023-08-21,2023-07-19,2023-06-19,Sale,40.389999,-1,0.0
4,Josh Gottheimer,Representatives,D,AAGIY,1001.0,2023-08-21,2023-07-20,2023-06-20,Sale,39.590000,-1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2133,Daniel Goldman,Representatives,D,ZTS,1001.0,2023-05-19,2023-04-10,2023-03-11,Sale,170.869995,-1,-2.0
2134,Zoe Lofgren,Representatives,D,ZTS,1001.0,2023-06-06,2023-05-25,2023-04-25,Sale,165.240005,-1,0.0
2135,Daniel Goldman,Representatives,D,ZTS,1001.0,2023-08-13,2023-07-14,2023-06-14,Sale,172.190002,-1,0.0
2136,Daniel Goldman,Representatives,D,ZURVY,15001.0,2023-02-24,2023-01-13,2022-12-14,Sale,48.110001,-1,0.0
2137,Daniel Goldman,Representatives,D,ZURVY,1001.0,2023-08-13,2023-07-10,2023-06-10,Sale,46.259998,-1,0.0

In [34]:
#Many of the tickers that were traded do not have data for 30 days prior to the transation.  
#We may need to change our time horizon for the hold duration - It removes ~500 rows of data

#Merge Close price with Price - 30 Days Prior
df_close_sale = Close_30day.melt(id_vars="TransactionDate - 30 Days Prior", var_name='Ticker', value_name="Price - 30 Days Prior")
#df.dtypes
#Daniel_Goldman_Clean.dtypes
CC2 = CC1.merge(df_close_sale, on = ["TransactionDate - 30 Days Prior",'Ticker'])
CC2

,Representative,House,Party,Ticker,Amount,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Transaction Close,Signal,Entry/Exit,Price - 30 Days Prior
0,Josh Gottheimer,Representatives,D,AAGIY,1001.0,2023-08-21,2023-07-20,2023-06-20,Sale,39.590000,-1,0.0,41.130001
1,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-14,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001
2,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-14,2023-02-24,2023-01-25,Purchase,138.850006,1,2.0,149.110001
3,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-03,2023-02-24,2023-01-25,Purchase,138.850006,1,0.0,149.110001
4,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-03,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,Daniel Goldman,Representatives,D,YUMC,15001.0,2023-08-13,2023-07-12,2023-06-12,Sale,59.180000,-1,0.0,59.529999
882,Dan Sullivan,Senate,R,ZTS,1001.0,2022-12-21,2022-11-30,2022-10-31,Purchase,154.139999,1,2.0,150.779999
883,Zoe Lofgren,Representatives,D,ZTS,1001.0,2023-06-06,2023-05-25,2023-04-25,Sale,165.240005,-1,0.0,173.020004
884,Daniel Goldman,Representatives,D,ZTS,1001.0,2023-08-13,2023-07-14,2023-06-14,Sale,172.190002,-1,0.0,165.649994
885,Daniel Goldman,Representatives,D,ZURVY,15001.0,2023-02-24,2023-01-13,2022-12-14,Sale,48.110001,-1,0.0,48.689999

In [39]:
#Set a column for today's date to merge the current closing prices.  
#NOTE - This does not work on weekends as Yahoo does not have trading data for the weekends.  Value is currently set to 2023.08.18
#Un-comment the today() line for up to date data.

CC2["Latest Close Date"] = datetime.today().strftime('%Y-%m-%d')
#CC2["Current Date"] = "2023-08-18"
CC2["Latest Close Date"] = pd.to_datetime(CC2["Latest Close Date"], format="%Y-%m-%d")
CC2["Latest Close Date"] = CC2["Latest Close Date"] - pd.Timedelta(days=1)
CC2

,Representative,House,Party,Ticker,Amount,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Transaction Close,Signal,Entry/Exit,Price - 30 Days Prior,Latest Close Date
0,Josh Gottheimer,Representatives,D,AAGIY,1001.0,2023-08-21,2023-07-20,2023-06-20,Sale,39.590000,-1,0.0,41.130001,2023-08-25
1,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-14,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001,2023-08-25
2,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-14,2023-02-24,2023-01-25,Purchase,138.850006,1,2.0,149.110001,2023-08-25
3,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-03,2023-02-24,2023-01-25,Purchase,138.850006,1,0.0,149.110001,2023-08-25
4,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-03,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001,2023-08-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,Daniel Goldman,Representatives,D,YUMC,15001.0,2023-08-13,2023-07-12,2023-06-12,Sale,59.180000,-1,0.0,59.529999,2023-08-25
882,Dan Sullivan,Senate,R,ZTS,1001.0,2022-12-21,2022-11-30,2022-10-31,Purchase,154.139999,1,2.0,150.779999,2023-08-25
883,Zoe Lofgren,Representatives,D,ZTS,1001.0,2023-06-06,2023-05-25,2023-04-25,Sale,165.240005,-1,0.0,173.020004,2023-08-25
884,Daniel Goldman,Representatives,D,ZTS,1001.0,2023-08-13,2023-07-14,2023-06-14,Sale,172.190002,-1,0.0,165.649994,2023-08-25
885,Daniel Goldman,Representatives,D,ZURVY,15001.0,2023-02-24,2023-01-13,2022-12-14,Sale,48.110001,-1,0.0,48.689999,2023-08-25

In [41]:
#Merge current close prices
df_close_current = Close_Current.melt(id_vars="Latest Close Date", var_name='Ticker', value_name="Current Date Close Price")
CC2 = CC2.merge(df_close_current, on = ["Latest Close Date",'Ticker'])
CC2

,Representative,House,Party,Ticker,Amount,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Transaction Close,Signal,Entry/Exit,Price - 30 Days Prior,Latest Close Date,Current Date Close Price
0,Josh Gottheimer,Representatives,D,AAGIY,1001.0,2023-08-21,2023-07-20,2023-06-20,Sale,39.590000,-1,0.0,41.130001,2023-08-25,34.400002
1,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-14,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001,2023-08-25,64.080002
2,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-14,2023-02-24,2023-01-25,Purchase,138.850006,1,2.0,149.110001,2023-08-25,64.080002
3,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-03,2023-02-24,2023-01-25,Purchase,138.850006,1,0.0,149.110001,2023-08-25,64.080002
4,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-03,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001,2023-08-25,64.080002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,Daniel Goldman,Representatives,D,YUMC,15001.0,2023-08-13,2023-07-12,2023-06-12,Sale,59.180000,-1,0.0,59.529999,2023-08-25,53.049999
882,Dan Sullivan,Senate,R,ZTS,1001.0,2022-12-21,2022-11-30,2022-10-31,Purchase,154.139999,1,2.0,150.779999,2023-08-25,182.820007
883,Zoe Lofgren,Representatives,D,ZTS,1001.0,2023-06-06,2023-05-25,2023-04-25,Sale,165.240005,-1,0.0,173.020004,2023-08-25,182.820007
884,Daniel Goldman,Representatives,D,ZTS,1001.0,2023-08-13,2023-07-14,2023-06-14,Sale,172.190002,-1,0.0,165.649994,2023-08-25,182.820007
885,Daniel Goldman,Representatives,D,ZURVY,15001.0,2023-02-24,2023-01-13,2022-12-14,Sale,48.110001,-1,0.0,48.689999,2023-08-25,46.130001

In [42]:
# Rate of return calculation for a stock purchase transaction = (current closing price - price at transaction close)/transaction close price

CC2["Rate of Return (Purchase)"] = (((CC2["Current Date Close Price"] - CC2["Transaction Close"])/ CC2["Transaction Close"]))
CC2["Rate of Return (Purchase)"] = CC2["Rate of Return (Purchase)"].where(CC2["Transaction"] == "Purchase", other=0)
CC2

,Representative,House,Party,Ticker,Amount,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Transaction Close,Signal,Entry/Exit,Price - 30 Days Prior,Latest Close Date,Current Date Close Price,Rate of Return (Purchase)
0,Josh Gottheimer,Representatives,D,AAGIY,1001.0,2023-08-21,2023-07-20,2023-06-20,Sale,39.590000,-1,0.0,41.130001,2023-08-25,34.400002,0.000000
1,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-14,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001,2023-08-25,64.080002,0.000000
2,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-14,2023-02-24,2023-01-25,Purchase,138.850006,1,2.0,149.110001,2023-08-25,64.080002,-0.538495
3,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-03,2023-02-24,2023-01-25,Purchase,138.850006,1,0.0,149.110001,2023-08-25,64.080002,-0.538495
4,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-03,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001,2023-08-25,64.080002,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,Daniel Goldman,Representatives,D,YUMC,15001.0,2023-08-13,2023-07-12,2023-06-12,Sale,59.180000,-1,0.0,59.529999,2023-08-25,53.049999,0.000000
882,Dan Sullivan,Senate,R,ZTS,1001.0,2022-12-21,2022-11-30,2022-10-31,Purchase,154.139999,1,2.0,150.779999,2023-08-25,182.820007,0.186065
883,Zoe Lofgren,Representatives,D,ZTS,1001.0,2023-06-06,2023-05-25,2023-04-25,Sale,165.240005,-1,0.0,173.020004,2023-08-25,182.820007,0.000000
884,Daniel Goldman,Representatives,D,ZTS,1001.0,2023-08-13,2023-07-14,2023-06-14,Sale,172.190002,-1,0.0,165.649994,2023-08-25,182.820007,0.000000
885,Daniel Goldman,Representatives,D,ZURVY,15001.0,2023-02-24,2023-01-13,2022-12-14,Sale,48.110001,-1,0.0,48.689999,2023-08-25,46.130001,0.000000

In [43]:
# Rate of return for sale transaction is based on the assumption that the asset was held for 30 days.
# Rate of return for a sale transaction = (price at transaction close (sale) - price 30 days prior)/Price 30 days prior to sale

CC2["Rate of Return (Sale)"] = ((CC2["Transaction Close"] - CC2["Price - 30 Days Prior"])/ CC2["Price - 30 Days Prior"])
CC2["Rate of Return (Sale)"] = CC2["Rate of Return (Sale)"].where(CC2["Transaction"] == "Sale", other=0)
CC2

,Representative,House,Party,Ticker,Amount,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Transaction Close,Signal,Entry/Exit,Price - 30 Days Prior,Latest Close Date,Current Date Close Price,Rate of Return (Purchase),Rate of Return (Sale)
0,Josh Gottheimer,Representatives,D,AAGIY,1001.0,2023-08-21,2023-07-20,2023-06-20,Sale,39.590000,-1,0.0,41.130001,2023-08-25,34.400002,0.000000,-0.037442
1,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-14,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001,2023-08-25,64.080002,0.000000,-0.068808
2,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-14,2023-02-24,2023-01-25,Purchase,138.850006,1,2.0,149.110001,2023-08-25,64.080002,-0.538495,0.000000
3,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-03,2023-02-24,2023-01-25,Purchase,138.850006,1,0.0,149.110001,2023-08-25,64.080002,-0.538495,0.000000
4,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-03,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001,2023-08-25,64.080002,0.000000,-0.068808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,Daniel Goldman,Representatives,D,YUMC,15001.0,2023-08-13,2023-07-12,2023-06-12,Sale,59.180000,-1,0.0,59.529999,2023-08-25,53.049999,0.000000,-0.005879
882,Dan Sullivan,Senate,R,ZTS,1001.0,2022-12-21,2022-11-30,2022-10-31,Purchase,154.139999,1,2.0,150.779999,2023-08-25,182.820007,0.186065,0.000000
883,Zoe Lofgren,Representatives,D,ZTS,1001.0,2023-06-06,2023-05-25,2023-04-25,Sale,165.240005,-1,0.0,173.020004,2023-08-25,182.820007,0.000000,-0.044966
884,Daniel Goldman,Representatives,D,ZTS,1001.0,2023-08-13,2023-07-14,2023-06-14,Sale,172.190002,-1,0.0,165.649994,2023-08-25,182.820007,0.000000,0.039481
885,Daniel Goldman,Representatives,D,ZURVY,15001.0,2023-02-24,2023-01-13,2022-12-14,Sale,48.110001,-1,0.0,48.689999,2023-08-25,46.130001,0.000000,-0.011912

In [44]:
CC2["Total Returns"] = (CC2["Rate of Return (Purchase)"] + CC2["Rate of Return (Sale)"])
CC2

,Representative,House,Party,Ticker,Amount,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Transaction Close,Signal,Entry/Exit,Price - 30 Days Prior,Latest Close Date,Current Date Close Price,Rate of Return (Purchase),Rate of Return (Sale),Total Returns
0,Josh Gottheimer,Representatives,D,AAGIY,1001.0,2023-08-21,2023-07-20,2023-06-20,Sale,39.590000,-1,0.0,41.130001,2023-08-25,34.400002,0.000000,-0.037442,-0.037442
1,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-14,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001,2023-08-25,64.080002,0.000000,-0.068808,-0.068808
2,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-14,2023-02-24,2023-01-25,Purchase,138.850006,1,2.0,149.110001,2023-08-25,64.080002,-0.538495,0.000000,-0.538495
3,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-03,2023-02-24,2023-01-25,Purchase,138.850006,1,0.0,149.110001,2023-08-25,64.080002,-0.538495,0.000000,-0.538495
4,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-03,2023-02-24,2023-01-25,Sale,138.850006,-1,-2.0,149.110001,2023-08-25,64.080002,0.000000,-0.068808,-0.068808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,Daniel Goldman,Representatives,D,YUMC,15001.0,2023-08-13,2023-07-12,2023-06-12,Sale,59.180000,-1,0.0,59.529999,2023-08-25,53.049999,0.000000,-0.005879,-0.005879
882,Dan Sullivan,Senate,R,ZTS,1001.0,2022-12-21,2022-11-30,2022-10-31,Purchase,154.139999,1,2.0,150.779999,2023-08-25,182.820007,0.186065,0.000000,0.186065
883,Zoe Lofgren,Representatives,D,ZTS,1001.0,2023-06-06,2023-05-25,2023-04-25,Sale,165.240005,-1,0.0,173.020004,2023-08-25,182.820007,0.000000,-0.044966,-0.044966
884,Daniel Goldman,Representatives,D,ZTS,1001.0,2023-08-13,2023-07-14,2023-06-14,Sale,172.190002,-1,0.0,165.649994,2023-08-25,182.820007,0.000000,0.039481,0.039481
885,Daniel Goldman,Representatives,D,ZURVY,15001.0,2023-02-24,2023-01-13,2022-12-14,Sale,48.110001,-1,0.0,48.689999,2023-08-25,46.130001,0.000000,-0.011912,-0.011912

In [45]:
#Reorder columns
CC2 = CC2[["Representative",
     "House",
     "Party",
     "Ticker",
     "Amount",
     "ReportDate",
     "TransactionDate",
     "TransactionDate - 30 Days Prior",
     "Latest Close Date",
     "Transaction",
     "Transaction Close",
     "Price - 30 Days Prior",
     "Current Date Close Price",
     "Rate of Return (Purchase)",
     "Rate of Return (Sale)",
     "Total Returns",
     "Signal", 
     "Entry/Exit"]]
CC2

,Representative,House,Party,Ticker,Amount,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Latest Close Date,Transaction,Transaction Close,Price - 30 Days Prior,Current Date Close Price,Rate of Return (Purchase),Rate of Return (Sale),Total Returns,Signal,Entry/Exit
0,Josh Gottheimer,Representatives,D,AAGIY,1001.0,2023-08-21,2023-07-20,2023-06-20,2023-08-25,Sale,39.590000,41.130001,34.400002,0.000000,-0.037442,-0.037442,-1,0.0
1,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-14,2023-02-24,2023-01-25,2023-08-25,Sale,138.850006,149.110001,64.080002,0.000000,-0.068808,-0.068808,-1,-2.0
2,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-14,2023-02-24,2023-01-25,2023-08-25,Purchase,138.850006,149.110001,64.080002,-0.538495,0.000000,-0.538495,1,2.0
3,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-03,2023-02-24,2023-01-25,2023-08-25,Purchase,138.850006,149.110001,64.080002,-0.538495,0.000000,-0.538495,1,0.0
4,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-03,2023-02-24,2023-01-25,2023-08-25,Sale,138.850006,149.110001,64.080002,0.000000,-0.068808,-0.068808,-1,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,Daniel Goldman,Representatives,D,YUMC,15001.0,2023-08-13,2023-07-12,2023-06-12,2023-08-25,Sale,59.180000,59.529999,53.049999,0.000000,-0.005879,-0.005879,-1,0.0
882,Dan Sullivan,Senate,R,ZTS,1001.0,2022-12-21,2022-11-30,2022-10-31,2023-08-25,Purchase,154.139999,150.779999,182.820007,0.186065,0.000000,0.186065,1,2.0
883,Zoe Lofgren,Representatives,D,ZTS,1001.0,2023-06-06,2023-05-25,2023-04-25,2023-08-25,Sale,165.240005,173.020004,182.820007,0.000000,-0.044966,-0.044966,-1,0.0
884,Daniel Goldman,Representatives,D,ZTS,1001.0,2023-08-13,2023-07-14,2023-06-14,2023-08-25,Sale,172.190002,165.649994,182.820007,0.000000,0.039481,0.039481,-1,0.0
885,Daniel Goldman,Representatives,D,ZURVY,15001.0,2023-02-24,2023-01-13,2022-12-14,2023-08-25,Sale,48.110001,48.689999,46.130001,0.000000,-0.011912,-0.011912,-1,0.0

In [46]:
# Remove other forms of asset transactions such as stock exchanges and stock option exercises

CC2 = CC2[~CC2["Transaction"].isin(['Exchange', 'Exercise'])]
CC2

,Representative,House,Party,Ticker,Amount,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Latest Close Date,Transaction,Transaction Close,Price - 30 Days Prior,Current Date Close Price,Rate of Return (Purchase),Rate of Return (Sale),Total Returns,Signal,Entry/Exit
0,Josh Gottheimer,Representatives,D,AAGIY,1001.0,2023-08-21,2023-07-20,2023-06-20,2023-08-25,Sale,39.590000,41.130001,34.400002,0.000000,-0.037442,-0.037442,-1,0.0
1,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-14,2023-02-24,2023-01-25,2023-08-25,Sale,138.850006,149.110001,64.080002,0.000000,-0.068808,-0.068808,-1,-2.0
2,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-14,2023-02-24,2023-01-25,2023-08-25,Purchase,138.850006,149.110001,64.080002,-0.538495,0.000000,-0.538495,1,2.0
3,Michael C. Burgess,Representatives,R,AAP,15001.0,2023-03-03,2023-02-24,2023-01-25,2023-08-25,Purchase,138.850006,149.110001,64.080002,-0.538495,0.000000,-0.538495,1,0.0
4,Michael C. Burgess,Representatives,R,AAP,1001.0,2023-03-03,2023-02-24,2023-01-25,2023-08-25,Sale,138.850006,149.110001,64.080002,0.000000,-0.068808,-0.068808,-1,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,Daniel Goldman,Representatives,D,YUMC,15001.0,2023-08-13,2023-07-12,2023-06-12,2023-08-25,Sale,59.180000,59.529999,53.049999,0.000000,-0.005879,-0.005879,-1,0.0
882,Dan Sullivan,Senate,R,ZTS,1001.0,2022-12-21,2022-11-30,2022-10-31,2023-08-25,Purchase,154.139999,150.779999,182.820007,0.186065,0.000000,0.186065,1,2.0
883,Zoe Lofgren,Representatives,D,ZTS,1001.0,2023-06-06,2023-05-25,2023-04-25,2023-08-25,Sale,165.240005,173.020004,182.820007,0.000000,-0.044966,-0.044966,-1,0.0
884,Daniel Goldman,Representatives,D,ZTS,1001.0,2023-08-13,2023-07-14,2023-06-14,2023-08-25,Sale,172.190002,165.649994,182.820007,0.000000,0.039481,0.039481,-1,0.0
885,Daniel Goldman,Representatives,D,ZURVY,15001.0,2023-02-24,2023-01-13,2022-12-14,2023-08-25,Sale,48.110001,48.689999,46.130001,0.000000,-0.011912,-0.011912,-1,0.0