In [2]:
import os
import pandas as pd
import numpy.random as rnd
import warnings
import json
import sqlalchemy as sql
import datetime
import requests
import yfinance as yf
import numpy as np
import hvplot.pandas
from pathlib import Path
from Ticker_Data_Congress import og_data

[*********************100%***********************]  691 of 691 completed

In [3]:
og_data

            Adj Close                                                \
                AAGIY         AAP        AAPL        AAT      AAVMY
Date
2020-08-26  38.222546  145.895782  124.276154  22.403139   7.651943
2020-08-27  37.918739  144.254852  122.790504  22.881121   7.628179
2020-08-28  39.323841  144.301437  122.591606  22.766048   7.834131
2020-08-31  38.744713  145.737289  126.748947  22.615576   7.509358
2020-09-01  39.209915  145.811859  131.797729  22.535912   7.491933
...               ...         ...         ...        ...        ...
2023-08-21  34.349998   68.199997  175.839996  20.620001  14.500000
2023-08-22  34.380001   67.339996  177.229996  20.459999  14.380000
2023-08-23  35.770000   69.440002  181.119995  20.930000  14.395000
2023-08-24  35.060001   67.910004  176.380005  20.920000  14.220000
2023-08-25  34.400002   64.080002  178.610001  20.790001  14.250000

                                                                       ...  \
                ABBNY        ABBV        ABNB         ABT         ACN  ...
Date                                                                   ...
2020-08-26  24.098074   82.994156         NaN   98.197166  230.706192  ...
2020-08-27  23.600824   82.950188         NaN  105.905258  231.109192  ...
2020-08-28  23.775784   82.835815         NaN  105.429451  233.143280  ...
2020-08-31  23.481119   84.243248         NaN  104.173309  230.207245  ...
2020-09-01  23.748158   81.138107         NaN  101.394608  230.293625  ...
...               ...         ...         ...         ...         ...  ...
2023-08-21  36.980000  150.160004  124.000000  103.870003  306.510010  ...
2023-08-22  37.040001  148.240005  127.080002  105.150002  308.899994  ...
2023-08-23  37.349998  147.080002  128.130005  105.129997  315.339996  ...
2023-08-24  36.849998  146.630005  124.720001  103.750000  314.140015  ...
2023-08-25  37.220001  146.690002  125.790001  104.209999  318.760010  ...

           Volume                                                             \
            YAMHY  YARIY  YASKY        YOU     YUMC        Z  ZLNDY       ZS
Date
2020-08-26      0   4700   1900        NaN   865500  3687500   2200  2228500
2020-08-27      0  10200   3500        NaN   773100  2512100   6200  1906400
2020-08-28      0  12100   3900        NaN  2300900  1823600   4100  2135000
2020-08-31      0  11400   2200        NaN  3621000  2131300   7000  5861100
2020-09-01      0   5600   2500        NaN  2429600  2383800  21400  4511200
...           ...    ...    ...        ...      ...      ...    ...      ...
2023-08-21   4200  27600  10400  1727700.0  2101300  2195300  44900  2411300
2023-08-22  13000  34500  17700  1457900.0  1242900  2604600  24000  1098400
2023-08-23   4100  34400   3500  1083700.0  1550100  1867600   9100  1093300
2023-08-24   1100  59000  11600   696100.0  1256400  2326600  12200  1138200
2023-08-25   2100  44600  10800   741700.0   977700  1895200  16700  1036800


                ZTS   ZURVY
Date
2020-08-26  1917800   83600
2020-08-27  1121700   41300
2020-08-28   926000   57400
2020-08-31  1392800   33400
2020-09-01  1273100   39700
...             ...     ...
2023-08-21   860200   74100
2023-08-22  1286400   74700
2023-08-23  1022900  731300
2023-08-24  1210300  220000
2023-08-25   879700   53900

[755 rows x 4146 columns]

In [4]:
today = datetime.date.today()
start_date = today - datetime.timedelta(days=365*1) #trading days(252) * amount of years to go back 

start = start_date.strftime("%Y-%m-%d")
end = today.strftime("%Y-%m-%d")

In [5]:
url = "https://api.quiverquant.com/beta/bulk/congresstrading"

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 77edeff3a3bd2fa2e10472e0536c0d166c147afa"
}

response = requests.get(url, headers=headers).json()

In [6]:
list_series = []

for row in response:
    list_series.append(pd.Series(row))
    column_names = response

In [7]:
congress_df = pd.DataFrame(data=list_series)
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Michael Patrick Guest,2023-08-23,2023-08-09,PR,Purchase,"$1,001-$15,000",Representatives,1001.0,R
1,Michael Patrick Guest,2023-08-23,2023-08-07,ELF,Purchase,"$1,001-$15,000",Representatives,1001.0,R
2,Michael Patrick Guest,2023-08-23,2023-08-07,XOM,Purchase,"$1,001-$15,000",Representatives,1001.0,R
3,Michael Patrick Guest,2023-08-23,2023-08-07,AAPL,Purchase,"$1,001-$15,000",Representatives,1001.0,R
4,Michael Patrick Guest,2023-08-23,2023-08-07,GD,Purchase,"$1,001-$15,000",Representatives,1001.0,R
...,...,...,...,...,...,...,...,...,...
30834,Sheldon Whitehouse,2016-01-20,2016-01-05,NVDA,Purchase,"$1,001 - $15,000",Senate,1001.0,D
30835,Bill Cassidy,2016-01-12,2016-01-05,AAPL,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30836,Bill Cassidy,2016-01-12,2016-01-05,CMI,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30837,Bill Cassidy,2016-01-12,2016-01-05,INTC,Sale,"$1,001 - $15,000",Senate,1001.0,R
30838,John Hoeven,2016-01-12,2016-01-06,UA,Purchase,"$50,001 - $100,000",Senate,50001.0,R

In [8]:
congress_df = congress_df[congress_df['TransactionDate'] > start]
#sort by TransactionDate
congress_df = congress_df.sort_values(by=['Ticker','TransactionDate'])

congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
4177,Virginia Foxx,2022-09-08,2022-08-30,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R
4175,Virginia Foxx,2022-09-08,2022-08-31,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R
3911,Virginia Foxx,2022-10-12,2022-09-01,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R
3882,Virginia Foxx,2022-10-12,2022-09-28,AA,Sale,"$15,001-$50,000",Representatives,15001.0,R
2355,Josh Gottheimer,2023-03-17,2023-02-13,AAGIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
1589,Daniel Goldman,2023-05-19,2023-04-10,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D
1188,Zoe Lofgren,2023-06-06,2023-05-25,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D
125,Daniel Goldman,2023-08-13,2023-07-14,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D
2642,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D
289,Daniel Goldman,2023-08-13,2023-07-10,ZURVY,Sale,"$1,001-$15,000",Representatives,1001.0,D

In [9]:
congress_df['Signal'] = 0
#if transaction type is Purchase, signal = 1 if transaction type is Sale, signal = -1
congress_df.loc[congress_df['Transaction'] == 'Purchase', 'Signal'] = 1
congress_df.loc[congress_df['Transaction'] == 'Sale', 'Signal'] = -1
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Signal
4177,Virginia Foxx,2022-09-08,2022-08-30,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1
4175,Virginia Foxx,2022-09-08,2022-08-31,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1
3911,Virginia Foxx,2022-10-12,2022-09-01,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1
3882,Virginia Foxx,2022-10-12,2022-09-28,AA,Sale,"$15,001-$50,000",Representatives,15001.0,R,-1
2355,Josh Gottheimer,2023-03-17,2023-02-13,AAGIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,1
...,...,...,...,...,...,...,...,...,...,...
1589,Daniel Goldman,2023-05-19,2023-04-10,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1
1188,Zoe Lofgren,2023-06-06,2023-05-25,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1
125,Daniel Goldman,2023-08-13,2023-07-14,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1
2642,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D,-1
289,Daniel Goldman,2023-08-13,2023-07-10,ZURVY,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1

In [10]:
# Calculate the points in time at which a position should be taken, 1 or -1
congress_df["Entry/Exit"] = congress_df["Signal"].diff()

# Review the DataFrame
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Signal,Entry/Exit
4177,Virginia Foxx,2022-09-08,2022-08-30,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1,NaN
4175,Virginia Foxx,2022-09-08,2022-08-31,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1,0.0
3911,Virginia Foxx,2022-10-12,2022-09-01,AA,Purchase,"$1,001-$15,000",Representatives,1001.0,R,1,0.0
3882,Virginia Foxx,2022-10-12,2022-09-28,AA,Sale,"$15,001-$50,000",Representatives,15001.0,R,-1,-2.0
2355,Josh Gottheimer,2023-03-17,2023-02-13,AAGIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...
1589,Daniel Goldman,2023-05-19,2023-04-10,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,-2.0
1188,Zoe Lofgren,2023-06-06,2023-05-25,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0
125,Daniel Goldman,2023-08-13,2023-07-14,ZTS,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0
2642,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D,-1,0.0
289,Daniel Goldman,2023-08-13,2023-07-10,ZURVY,Sale,"$1,001-$15,000",Representatives,1001.0,D,-1,0.0

In [11]:
#merger ticker data with congress trading data on ticker and transaction date
merged_df = pd.merge(og_data, congress_df, on=['Ticker', 'TransactionDate'], how='outer')
merged_df

MergeError: Not allowed to merge between different levels. (2 levels on the left, 1 on the right)