In [1]:
import os
import requests
import json
import pandas as pd
import numpy as np
from dotenv import load_dotenv
from Ticker_Data import og_data
from datetime import datetime

## Adding dependent modules for ML and Using XGBoost
import xgboost as xgb
import matplotlib.pyplot as plt
from xgboost import plot_importance, plot_tree
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV

[*********************100%***********************]  691 of 691 completed

In [2]:
#Take the original dataframe from the Ticker_Data.py file  
og_data

            Adj Close                                                \
                AAGIY         AAP        AAPL        AAT      AAVMY
Date
2020-08-24  38.450405  146.511169  123.622978  22.810307   7.548965
2020-08-25  38.497875  145.504181  122.608788  22.668684   7.695509
2020-08-26  38.222549  145.895767  124.276154  22.403137   7.651942
2020-08-27  37.918743  144.254852  122.790520  22.881121   7.628179
2020-08-28  39.323845  144.301453  122.591606  22.766052   7.834132
...               ...         ...         ...        ...        ...
2023-08-15  35.610001   69.730003  177.449997  21.260000  14.593046
2023-08-16  35.240002   69.870003  176.570007  20.969999  14.506979
2023-08-17  35.650002   69.459999  174.000000  20.850000  14.966000
2023-08-18  35.240002   69.830002  174.490005  20.900000  14.430000
2023-08-21  34.349998   68.199997  175.839996  20.620001  14.500000

                                                                       ...  \
                ABBNY        ABBV        ABNB         ABT         ACN  ...
Date                                                                   ...
2020-08-24  23.987574   83.134895         NaN   96.484253  228.115601  ...
2020-08-25  23.867867   82.739067         NaN   97.512001  228.557007  ...
2020-08-26  24.098074   82.994171         NaN   98.197174  230.706207  ...
2020-08-27  23.600826   82.950180         NaN  105.905251  231.109192  ...
2020-08-28  23.775784   82.835823         NaN  105.429451  233.143295  ...
...               ...         ...         ...         ...         ...  ...
2023-08-15  38.029999  152.119995  129.850006  104.940002  307.399994  ...
2023-08-16  37.770000  151.550003  128.830002  104.529999  307.640015  ...
2023-08-17  36.730000  150.020004  127.989998  104.930000  305.640015  ...
2023-08-18  37.000000  150.139999  125.059998  103.709999  302.940002  ...
2023-08-21  36.980000  150.160004  124.000000  103.870003  306.510010  ...

           Volume                                                             \
            YAMHY  YARIY  YASKY        YOU     YUMC        Z  ZLNDY       ZS
Date
2020-08-24      0   2000   2100        NaN   846300  1982300   2600  1661800
2020-08-25      0  18200   2200        NaN   874300  2037400   6500  1195800
2020-08-26      0   4700   1900        NaN   865500  3687500   2200  2228500
2020-08-27      0  10200   3500        NaN   773100  2512100   6200  1906400
2020-08-28      0  12100   3900        NaN  2300900  1823600   4100  2135000
...           ...    ...    ...        ...      ...      ...    ...      ...
2023-08-15    600  37200   6000   589100.0  1319000  2159800  11100  1147700
2023-08-16      0  34100   7300   966000.0  2100100  4443700  11700   898700
2023-08-17      0  43500  12300   902400.0  1470500  4340600  29500  1594800
2023-08-18      0  56700  12100   898900.0  2859600  2740100  20300  1703500
2023-08-21   4200  27600  10400  1677200.0  2101300  2183500  44900  2387700


                ZTS   ZURVY
Date
2020-08-24  1721500   69300
2020-08-25  1076100  113000
2020-08-26  1917800   83600
2020-08-27  1121700   41300
2020-08-28   926000   57400
...             ...     ...
2023-08-15  1001200   76200
2023-08-16  1205300   55400
2023-08-17  2197100   57200
2023-08-18  2027200   75000
2023-08-21   860200   74100

[753 rows x 4146 columns]

In [3]:
#API call to retrieve JSON data of people in congress and transactions

url = "https://api.quiverquant.com/beta/bulk/congresstrading"

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 77edeff3a3bd2fa2e10472e0536c0d166c147afa"
}

response = requests.get(url, headers=headers).json()

In [4]:
#For loop to get all congress names and transactions into list

list_series = []

for row in response:
    list_series.append(pd.Series(row))
    column_names = response

In [5]:
#put list into dataframe
congress_df = pd.DataFrame(data=list_series)
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Pete Sessions,2023-08-17,2023-08-15,ARCC,Purchase,$155.92,Representatives,155.92,R
1,Pete Sessions,2023-08-17,2023-07-28,KD,Sale,$163.20,Representatives,163.20,R
2,Kevin Hern,2023-08-16,2023-07-31,JPM,Purchase,"$1,001-$15,000",Representatives,1001.00,R
3,Tommy Tuberville,2023-08-14,2023-07-27,CCL,Sale,"$1,001 - $15,000",Senate,1001.00,R
4,Tommy Tuberville,2023-08-14,2023-07-25,PFE,Purchase,"$1,001 - $15,000",Senate,1001.00,R
...,...,...,...,...,...,...,...,...,...
30746,Sheldon Whitehouse,2016-01-20,2016-01-05,NVDA,Purchase,"$1,001 - $15,000",Senate,1001.00,D
30747,Bill Cassidy,2016-01-12,2016-01-05,AAPL,Purchase,"$1,001 - $15,000",Senate,1001.00,R
30748,Bill Cassidy,2016-01-12,2016-01-05,CMI,Purchase,"$1,001 - $15,000",Senate,1001.00,R
30749,Bill Cassidy,2016-01-12,2016-01-05,INTC,Sale,"$1,001 - $15,000",Senate,1001.00,R
30750,John Hoeven,2016-01-12,2016-01-06,UA,Purchase,"$50,001 - $100,000",Senate,50001.00,R

In [6]:
# check data types in congress dataframe
congress_df.dtypes

Representative      object
ReportDate          object
TransactionDate     object
Ticker              object
Transaction         object
Range               object
House               object
Amount             float64
Party               object
dtype: object

In [7]:
# change the transaction date to pandas datetime format
congress_df['TransactionDate']=pd.to_datetime(congress_df['TransactionDate'],
                                   format="%Y-%m-%d")
                                   
#congress_df.dtypes

# convert the report date to pandas datetime format
congress_df['ReportDate']=pd.to_datetime(congress_df['ReportDate'],
                                   format="%Y-%m-%d")
                                   
#congress_df.dtypes

#set transaction date as index
# congress_df2 = congress_df.set_index('TransactionDate')
display(congress_df.head())
#display(congress_df2.tail())

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Pete Sessions,2023-08-17,2023-08-15,ARCC,Purchase,$155.92,Representatives,155.92,R
1,Pete Sessions,2023-08-17,2023-07-28,KD,Sale,$163.20,Representatives,163.20,R
2,Kevin Hern,2023-08-16,2023-07-31,JPM,Purchase,"$1,001-$15,000",Representatives,1001.00,R
3,Tommy Tuberville,2023-08-14,2023-07-27,CCL,Sale,"$1,001 - $15,000",Senate,1001.00,R
4,Tommy Tuberville,2023-08-14,2023-07-25,PFE,Purchase,"$1,001 - $15,000",Senate,1001.00,R

In [8]:
#Define list of active senators by seeing who made a transaction within the last 3 months
congress_df2_last3months = congress_df.loc[:'2023-05']
display(congress_df2_last3months.head())
display(congress_df2_last3months.tail())

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Pete Sessions,2023-08-17,2023-08-15,ARCC,Purchase,$155.92,Representatives,155.92,R
1,Pete Sessions,2023-08-17,2023-07-28,KD,Sale,$163.20,Representatives,163.20,R
2,Kevin Hern,2023-08-16,2023-07-31,JPM,Purchase,"$1,001-$15,000",Representatives,1001.00,R
3,Tommy Tuberville,2023-08-14,2023-07-27,CCL,Sale,"$1,001 - $15,000",Senate,1001.00,R
4,Tommy Tuberville,2023-08-14,2023-07-25,PFE,Purchase,"$1,001 - $15,000",Senate,1001.00,R

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
20225,Dean Phillips,2019-12-11,2019-11-06,EBAY,Sale,"$1,001-$15,000",Representatives,1001.0,D
20226,Katherine M. Clark,2019-12-11,2019-11-05,CNC,Sale,"$1,001-$15,000",Representatives,1001.0,R
20227,Katherine M. Clark,2019-12-11,2019-11-05,PXD,Sale,"$1,001-$15,000",Representatives,1001.0,R
20228,Katherine M. Clark,2019-12-11,2019-11-05,PXD,Sale,"$1,001-$15,000",Representatives,1001.0,R
20229,Katherine M. Clark,2019-12-11,2019-11-05,KMB,Purchase,"$1,001-$15,000",Representatives,1001.0,R

In [9]:
#Count transactions per senator
congress_df2_last3months['Representative'].value_counts().head(10)

Representative
Josh Gottheimer      1483
Daniel Goldman       1134
Gilbert Cisneros      862
Susie Lee             767
Tommy Tuberville      764
David Perdue          700
Thomas Suozzi         700
Dean Phillips         600
Alan S. Lowenthal     589
Kathy Manning         565
Name: count, dtype: int64

In [10]:
# pull out the close data from the og_data dataframe
#Take out all of the Close prices and transform them into mergable data
Close_Current = og_data.loc[:, ("Close")]
Close_Current = Close_Current.reset_index()
Close_Current = Close_Current.rename(columns={'Date': 'TransactionDate'})
#Close_Current = Close_Current.set_index('Current Date')
Close_Current

,TransactionDate,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2020-08-24,40.500000,157.139999,125.857498,25.770000,9.530,26.049999,94.510002,NaN,101.389999,...,7.920,20.969999,70.040001,NaN,54.590000,83.599998,41.855000,135.740005,156.759995,37.400002
1,2020-08-25,40.549999,156.059998,124.824997,25.610001,9.715,25.920000,94.059998,NaN,102.470001,...,7.920,20.770000,70.940002,NaN,55.070000,82.830002,43.109001,135.630005,158.580002,37.570000
2,2020-08-26,40.259998,156.479996,126.522499,25.309999,9.660,26.170000,94.349998,NaN,103.190002,...,7.920,21.120001,71.300003,NaN,55.400002,83.849998,44.186001,140.000000,159.759995,37.520000
3,2020-08-27,39.939999,154.720001,125.010002,25.850000,9.630,25.629999,94.300003,NaN,111.290001,...,7.920,20.920000,71.290001,NaN,55.200001,85.239998,43.505001,138.759995,159.610001,37.259998
4,2020-08-28,41.419998,154.770004,124.807503,25.719999,9.890,25.820000,94.169998,NaN,110.790001,...,7.920,20.940001,71.516998,NaN,56.500000,87.320000,43.987000,141.130005,160.000000,37.619999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,2023-08-15,35.610001,69.730003,177.449997,21.260000,15.260,38.029999,152.119995,129.850006,104.940002,...,13.035,18.610001,78.970001,23.240000,54.450001,54.770000,14.920000,142.710007,189.149994,46.820000
749,2023-08-16,35.240002,69.870003,176.570007,20.969999,15.170,37.770000,151.550003,128.830002,104.529999,...,13.035,18.459999,76.389999,22.670000,53.869999,51.570000,14.760000,140.130005,186.270004,46.560001
750,2023-08-17,35.650002,69.459999,174.000000,20.850000,15.650,36.730000,150.020004,127.989998,104.930000,...,13.035,18.500000,75.769997,22.320000,54.349998,50.680000,14.770000,135.649994,182.770004,46.340000
751,2023-08-18,35.240002,69.830002,174.490005,20.900000,14.430,37.000000,150.139999,125.059998,103.709999,...,13.035,18.320000,75.599998,22.790001,52.759998,50.869999,14.370000,136.210007,181.570007,46.000000
752,2023-08-21,34.349998,68.199997,175.839996,20.620001,14.500,36.980000,150.160004,124.000000,103.870003,...,12.800,18.370001,74.320000,21.990000,53.040001,49.130001,14.520000,142.779999,180.809998,46.450001

In [11]:
Close_Current.dtypes

TransactionDate    datetime64[ns]
AAGIY                     float64
AAP                       float64
AAPL                      float64
AAT                       float64
                        ...
Z                         float64
ZLNDY                     float64
ZS                        float64
ZTS                       float64
ZURVY                     float64
Length: 692, dtype: object

In [12]:
#Count most traded tickers
congress_df2_last3months['Ticker'].value_counts().head(10)

Ticker
AAPL     343
MSFT     280
NVDA     174
AMZN     163
PYPL     154
DIS      149
BRK.B    126
TSLA     122
T        111
JPM      108
Name: count, dtype: int64

In [13]:
# match ticker from congressman's sell trade with ticker from yfinance 30 days ago.

# match ticker from congressman's sell trade with ticker from yfinance 30 days ago.

def get_price(row):
    assumed_purchase_date30 = row['TransactionDate'] - pd.Timedelta(days=30) # assumed that purchase date of asset sold is 30 days prior to transaction
    #purchase_date = row['TransactionDate'] # date for purchase price at the purchase transaction date 
    ticker = row['Ticker']

# Check if the date exists in Close and if the ticker is a valid column in Close
    if assumed_purchase_date30 in Close_Current['TransactionDate'].values and ticker in Close_Current.columns:  

    # returns the price of the asset at the transaction date
        if row['Transaction'] == 'Purchase':
            return Close_Current.loc[Close_Current['TransactionDate'], ticker].values[0]
   
    # returns the price of the asset assuming asset was purchased 30 day prior 
        elif row['Transaction'] == 'Sale':
            return Close_Current.loc[Close_Current['TransactionDate'] == assumed_purchase_date30, ticker].values[0]     

    # If there's no match, return a placeholder
    else:
        return None

In [14]:
#Create a column for the ticker price 30 days ago for only sale transactions
pd.options.display.max_rows = 4000
congress_df2_last3months['initial_price'] = congress_df2_last3months.apply(get_price, axis=1)
display(congress_df2_last3months.head())
display(congress_df2_last3months.tail())

KeyError: "None of [DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',\n               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',\n               '2020-09-03', '2020-09-04',\n               ...\n               '2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11',\n               '2023-08-14', '2023-08-15', '2023-08-16', '2023-08-17',\n               '2023-08-18', '2023-08-21'],\n              dtype='datetime64[ns]', length=753, freq=None)] are in the [index]"

In [ ]:
congress_df2_last3months['thirty_day_prior_price'].value_counts()

In [ ]:
#Check if un-attainable tickers are in dataframe or not
Daniel_Goldman_Sale[Daniel_Goldman_Sale["Ticker"] == "EASLY"]

In [ ]:
#view updated dataframe
Daniel_Goldman_Sale

In [ ]:
#confirm that renamed and erased tickers are updated
display(Daniel_Goldman_Sale[Daniel_Goldman_Sale["Ticker"] == "BRK-B"])
display(Daniel_Goldman_Sale[Daniel_Goldman_Sale["Ticker"] == "EASLY"])

In [ ]:
# Change ReportDate to datetime and check
Daniel_Goldman_Sale["ReportDate"] = pd.to_datetime(Daniel_Goldman_Sale["ReportDate"], format="%Y-%m-%d")
Daniel_Goldman_Sale.dtypes

# Merge Close prices and add columns for calcs

In [ ]:
Daniel_Goldman_Clean

# Machine Learning

In [ ]:
# create ML dataframe using DG3 data