In [1]:
import os
import requests
import json
import pandas as pd
import numpy as np
from dotenv import load_dotenv
from Ticker_Data import og_data
from datetime import datetime

[*********************100%***********************]  691 of 691 completed

In [2]:
#Take the original dataframe from the Ticker_Data.py file
og_data

            Adj Close                                                \
                AAGIY         AAP        AAPL        AAT      AAVMY
Date
2020-08-20  35.716152  146.790848  116.175079  22.659836   7.323209
2020-08-21  36.883904  145.550827  122.161865  22.119890   7.255879
2020-08-24  38.450401  146.511154  123.622963  22.810308   7.548965
2020-08-25  38.497871  145.504166  122.608788  22.668686   7.695508
2020-08-26  38.222546  145.895782  124.276154  22.403141   7.651942
...               ...         ...         ...        ...        ...
2023-08-14  36.389999   71.110001  179.460007  21.930000  14.631297
2023-08-15  35.610001   69.730003  177.449997  21.260000  14.593046
2023-08-16  35.240002   69.870003  176.570007  20.969999  14.506979
2023-08-17  35.650002   69.459999  174.000000  20.850000  14.966000
2023-08-18  35.240002   69.830002  174.490005  20.900000  14.430000

                                                                       ...  \
                ABBNY        ABBV        ABNB         ABT         ACN  ...
Date                                                                   ...
2020-08-20  23.941532   83.741844         NaN   96.712654  227.021805  ...
2020-08-21  23.794199   83.442780         NaN   97.445396  227.866150  ...
2020-08-24  23.987572   83.134903         NaN   96.484261  228.115631  ...
2020-08-25  23.867867   82.739067         NaN   97.512001  228.556976  ...
2020-08-26  24.098074   82.994156         NaN   98.197166  230.706207  ...
...               ...         ...         ...         ...         ...  ...
2023-08-14  38.610001  152.270004  133.240005  106.099998  311.709991  ...
2023-08-15  38.029999  152.119995  129.850006  104.940002  307.399994  ...
2023-08-16  37.770000  151.550003  128.830002  104.529999  307.640015  ...
2023-08-17  36.730000  150.020004  127.989998  104.930000  305.640015  ...
2023-08-18  37.000000  150.139999  125.059998  103.709999  302.940002  ...

           Volume                                                            \
            YAMHY  YARIY  YASKY       YOU     YUMC        Z  ZLNDY       ZS
Date
2020-08-20    200   3700   2300       NaN  1938000  2496300   1900  3133600
2020-08-21      0   2900   2800       NaN  1278100  1820000   1800  2136700
2020-08-24      0   2000   2100       NaN   846300  1982300   2600  1661800
2020-08-25      0  18200   2200       NaN   874300  2037400   6500  1195800
2020-08-26      0   4700   1900       NaN   865500  3687500   2200  2228500
...           ...    ...    ...       ...      ...      ...    ...      ...
2023-08-14      0  19900   5200  964600.0  1480300  1871300   7800  1075600
2023-08-15    600  37200   6000  589100.0  1319000  2159800  11100  1147700
2023-08-16      0  34100   7300  966000.0  2100100  4443700  11700   898700
2023-08-17      0  43500  12300  902400.0  1470500  4340600  29500  1594800
2023-08-18      0  56700  12100  898900.0  2859600  2740100  20300  1703500


                ZTS   ZURVY
Date
2020-08-20  1828500   75800
2020-08-21  1259500   42500
2020-08-24  1721500   69300
2020-08-25  1076100  113000
2020-08-26  1917800   83600
...             ...     ...
2023-08-14  1352400   57700
2023-08-15  1001200   76200
2023-08-16  1205300   55400
2023-08-17  2197100   57200
2023-08-18  2027200   75000

[754 rows x 4146 columns]

In [3]:
#Take out all of the Close prices and transform them into mergable data
Close = og_data.loc[:, ("Close")]
Close = Close.reset_index()
Close = Close.rename(columns={'Date': 'TransactionDate'})
#Close["TransactionDate - 30 Days Prior"] = Close['TransactionDate']
Close

,TransactionDate,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2020-08-20,37.619999,157.440002,118.275002,25.600000,9.245,26.000000,95.199997,NaN,101.629997,...,7.920,21.290001,70.602997,NaN,53.950001,82.849998,40.390999,136.419998,158.539993,37.040001
1,2020-08-21,38.849998,156.110001,124.370003,24.990000,9.160,25.840000,94.860001,NaN,102.400002,...,7.920,20.950001,70.070000,NaN,54.639999,83.199997,40.993000,135.220001,158.369995,36.779999
2,2020-08-24,40.500000,157.139999,125.857498,25.770000,9.530,26.049999,94.510002,NaN,101.389999,...,7.920,20.969999,70.040001,NaN,54.590000,83.599998,41.855000,135.740005,156.759995,37.400002
3,2020-08-25,40.549999,156.059998,124.824997,25.610001,9.715,25.920000,94.059998,NaN,102.470001,...,7.920,20.770000,70.940002,NaN,55.070000,82.830002,43.109001,135.630005,158.580002,37.570000
4,2020-08-26,40.259998,156.479996,126.522499,25.309999,9.660,26.170000,94.349998,NaN,103.190002,...,7.920,21.120001,71.300003,NaN,55.400002,83.849998,44.186001,140.000000,159.759995,37.520000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,2023-08-14,36.389999,71.110001,179.460007,21.930000,15.300,38.610001,152.270004,133.240005,106.099998,...,13.340,19.020000,79.419998,23.809999,55.119999,56.290001,15.206000,144.910004,189.649994,47.240002
750,2023-08-15,35.610001,69.730003,177.449997,21.260000,15.260,38.029999,152.119995,129.850006,104.940002,...,13.035,18.610001,78.970001,23.240000,54.450001,54.770000,14.920000,142.710007,189.149994,46.820000
751,2023-08-16,35.240002,69.870003,176.570007,20.969999,15.170,37.770000,151.550003,128.830002,104.529999,...,13.035,18.459999,76.389999,22.670000,53.869999,51.570000,14.760000,140.130005,186.270004,46.560001
752,2023-08-17,35.650002,69.459999,174.000000,20.850000,15.650,36.730000,150.020004,127.989998,104.930000,...,13.035,18.500000,75.769997,22.320000,54.349998,50.680000,14.770000,135.649994,182.770004,46.340000
753,2023-08-18,35.240002,69.830002,174.490005,20.900000,14.430,37.000000,150.139999,125.059998,103.709999,...,13.035,18.320000,75.599998,22.790001,52.759998,50.869999,14.370000,136.210007,181.570007,46.000000

In [4]:
#Take out all of the Close prices and transform them into mergable data
Close_30day = og_data.loc[:, ("Close")]
Close_30day = Close_30day.reset_index()
Close_30day = Close_30day.rename(columns={'Date': 'TransactionDate - 30 Days Prior'})
Close_30day

,TransactionDate - 30 Days Prior,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2020-08-20,37.619999,157.440002,118.275002,25.600000,9.245,26.000000,95.199997,NaN,101.629997,...,7.920,21.290001,70.602997,NaN,53.950001,82.849998,40.390999,136.419998,158.539993,37.040001
1,2020-08-21,38.849998,156.110001,124.370003,24.990000,9.160,25.840000,94.860001,NaN,102.400002,...,7.920,20.950001,70.070000,NaN,54.639999,83.199997,40.993000,135.220001,158.369995,36.779999
2,2020-08-24,40.500000,157.139999,125.857498,25.770000,9.530,26.049999,94.510002,NaN,101.389999,...,7.920,20.969999,70.040001,NaN,54.590000,83.599998,41.855000,135.740005,156.759995,37.400002
3,2020-08-25,40.549999,156.059998,124.824997,25.610001,9.715,25.920000,94.059998,NaN,102.470001,...,7.920,20.770000,70.940002,NaN,55.070000,82.830002,43.109001,135.630005,158.580002,37.570000
4,2020-08-26,40.259998,156.479996,126.522499,25.309999,9.660,26.170000,94.349998,NaN,103.190002,...,7.920,21.120001,71.300003,NaN,55.400002,83.849998,44.186001,140.000000,159.759995,37.520000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,2023-08-14,36.389999,71.110001,179.460007,21.930000,15.300,38.610001,152.270004,133.240005,106.099998,...,13.340,19.020000,79.419998,23.809999,55.119999,56.290001,15.206000,144.910004,189.649994,47.240002
750,2023-08-15,35.610001,69.730003,177.449997,21.260000,15.260,38.029999,152.119995,129.850006,104.940002,...,13.035,18.610001,78.970001,23.240000,54.450001,54.770000,14.920000,142.710007,189.149994,46.820000
751,2023-08-16,35.240002,69.870003,176.570007,20.969999,15.170,37.770000,151.550003,128.830002,104.529999,...,13.035,18.459999,76.389999,22.670000,53.869999,51.570000,14.760000,140.130005,186.270004,46.560001
752,2023-08-17,35.650002,69.459999,174.000000,20.850000,15.650,36.730000,150.020004,127.989998,104.930000,...,13.035,18.500000,75.769997,22.320000,54.349998,50.680000,14.770000,135.649994,182.770004,46.340000
753,2023-08-18,35.240002,69.830002,174.490005,20.900000,14.430,37.000000,150.139999,125.059998,103.709999,...,13.035,18.320000,75.599998,22.790001,52.759998,50.869999,14.370000,136.210007,181.570007,46.000000

In [5]:
#Take out all of the Close prices and transform them into mergable data
Close_Current = og_data.loc[:, ("Close")]
Close_Current = Close_Current.reset_index()
Close_Current = Close_Current.rename(columns={'Date': 'Current Date'})
Close_Current

,Current Date,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2020-08-20,37.619999,157.440002,118.275002,25.600000,9.245,26.000000,95.199997,NaN,101.629997,...,7.920,21.290001,70.602997,NaN,53.950001,82.849998,40.390999,136.419998,158.539993,37.040001
1,2020-08-21,38.849998,156.110001,124.370003,24.990000,9.160,25.840000,94.860001,NaN,102.400002,...,7.920,20.950001,70.070000,NaN,54.639999,83.199997,40.993000,135.220001,158.369995,36.779999
2,2020-08-24,40.500000,157.139999,125.857498,25.770000,9.530,26.049999,94.510002,NaN,101.389999,...,7.920,20.969999,70.040001,NaN,54.590000,83.599998,41.855000,135.740005,156.759995,37.400002
3,2020-08-25,40.549999,156.059998,124.824997,25.610001,9.715,25.920000,94.059998,NaN,102.470001,...,7.920,20.770000,70.940002,NaN,55.070000,82.830002,43.109001,135.630005,158.580002,37.570000
4,2020-08-26,40.259998,156.479996,126.522499,25.309999,9.660,26.170000,94.349998,NaN,103.190002,...,7.920,21.120001,71.300003,NaN,55.400002,83.849998,44.186001,140.000000,159.759995,37.520000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,2023-08-14,36.389999,71.110001,179.460007,21.930000,15.300,38.610001,152.270004,133.240005,106.099998,...,13.340,19.020000,79.419998,23.809999,55.119999,56.290001,15.206000,144.910004,189.649994,47.240002
750,2023-08-15,35.610001,69.730003,177.449997,21.260000,15.260,38.029999,152.119995,129.850006,104.940002,...,13.035,18.610001,78.970001,23.240000,54.450001,54.770000,14.920000,142.710007,189.149994,46.820000
751,2023-08-16,35.240002,69.870003,176.570007,20.969999,15.170,37.770000,151.550003,128.830002,104.529999,...,13.035,18.459999,76.389999,22.670000,53.869999,51.570000,14.760000,140.130005,186.270004,46.560001
752,2023-08-17,35.650002,69.459999,174.000000,20.850000,15.650,36.730000,150.020004,127.989998,104.930000,...,13.035,18.500000,75.769997,22.320000,54.349998,50.680000,14.770000,135.649994,182.770004,46.340000
753,2023-08-18,35.240002,69.830002,174.490005,20.900000,14.430,37.000000,150.139999,125.059998,103.709999,...,13.035,18.320000,75.599998,22.790001,52.759998,50.869999,14.370000,136.210007,181.570007,46.000000

In [6]:
#API call to retrieve JSON data of people in congress and transactions

url = "https://api.quiverquant.com/beta/bulk/congresstrading"

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 77edeff3a3bd2fa2e10472e0536c0d166c147afa"
}

response = requests.get(url, headers=headers).json()

In [7]:
#For loop to get all congress names and transactions into list

list_series = []

for row in response:
    list_series.append(pd.Series(row))
    column_names = response

In [8]:
#put list into dataframe
congress_df = pd.DataFrame(data=list_series)
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Pete Sessions,2023-08-17,2023-08-15,ARCC,Purchase,$155.92,Representatives,155.92,R
1,Pete Sessions,2023-08-17,2023-07-28,KD,Sale,$163.20,Representatives,163.20,R
2,Kevin Hern,2023-08-16,2023-07-31,JPM,Purchase,"$1,001-$15,000",Representatives,1001.00,R
3,Tommy Tuberville,2023-08-14,2023-07-27,CCL,Sale,"$1,001 - $15,000",Senate,1001.00,R
4,Tommy Tuberville,2023-08-14,2023-07-25,PFE,Purchase,"$1,001 - $15,000",Senate,1001.00,R
...,...,...,...,...,...,...,...,...,...
30746,Sheldon Whitehouse,2016-01-20,2016-01-05,NVDA,Purchase,"$1,001 - $15,000",Senate,1001.00,D
30747,Bill Cassidy,2016-01-12,2016-01-05,AAPL,Purchase,"$1,001 - $15,000",Senate,1001.00,R
30748,Bill Cassidy,2016-01-12,2016-01-05,CMI,Purchase,"$1,001 - $15,000",Senate,1001.00,R
30749,Bill Cassidy,2016-01-12,2016-01-05,INTC,Sale,"$1,001 - $15,000",Senate,1001.00,R
30750,John Hoeven,2016-01-12,2016-01-06,UA,Purchase,"$50,001 - $100,000",Senate,50001.00,R

In [9]:
#Define list of active senators by seeing who made a transaction within the last 3 months
Active_Senators = congress_df[congress_df["TransactionDate"] > "2023-05-15"]
Active_Senators['Representative'].value_counts()

Daniel Goldman               504
Zoe Lofgren                   72
Tommy Tuberville              70
Josh Gottheimer               62
Lois Frankel                  37
Kevin Hern                    19
Mark Dr Green                 15
Thomas R. Carper              13
Jonathan Jackson              12
Michael C. Burgess            12
John Curtis                   11
Pete Sessions                 10
Rick Larsen                    8
Virginia Foxx                  8
Shelley Moore Capito           8
William R. Keating             6
Lloyd Doggett                  6
Earl Blumenauer                4
Dwight Evans                   4
Michael Garcia                 3
Mary Gay Scanlon               2
Maria Elvira Salazar           2
John Hickenlooper              2
Nancy Pelosi                   2
Robert E. Latta                2
Steve Cohen                    2
Daniel Meuser                  1
Gary Peters                    1
James E Hon Banks              1
Angus King                     1
Seth Moulton                   1
Greg Steube                    1
A. Mitchell Jr. McConnell      1
Robert J. Wittman              1
Thomas H. Kean Jr.             1
Richard W. Allen               1
Name: Representative, dtype: int64

In [10]:
#Count transactions per senator
congress_df['Representative'].value_counts().head(10)

David Perdue         2541
Josh Gottheimer      1984
Gilbert Cisneros     1218
Susie Lee            1191
Daniel Goldman       1134
Greg Gianforte       1118
Dean Phillips         963
Alan S. Lowenthal     941
Lois Frankel          776
Tommy Tuberville      764
Name: Representative, dtype: int64

In [11]:
#Count most traded tickers
congress_df['Ticker'].value_counts().head(10)

AAPL    523
MSFT    406
AMZN    244
DIS     219
NVDA    217
T       194
PFE     186
PYPL    171
FB      168
XOM     163
Name: Ticker, dtype: int64

# Representative DataFrames

In [12]:
#Create dataframe for Senator Daniel Goldman
Daniel_Goldman = congress_df[congress_df["Representative"] == "Daniel Goldman"]
Daniel_Goldman

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
20,Daniel Goldman,2023-08-13,2023-07-19,NOC,Sale,"$15,001-$50,000",Representatives,15001.0,D
22,Daniel Goldman,2023-08-13,2023-07-14,T,Sale,"$1,001-$15,000",Representatives,1001.0,D
23,Daniel Goldman,2023-08-13,2023-07-14,VTR,Sale,"$1,001-$15,000",Representatives,1001.0,D
24,Daniel Goldman,2023-08-13,2023-07-14,MO,Sale,"$1,001-$15,000",Representatives,1001.0,D
25,Daniel Goldman,2023-08-13,2023-07-14,JNJ,Sale,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
2552,Daniel Goldman,2023-02-24,2023-01-13,TOSYY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
2553,Daniel Goldman,2023-02-24,2023-01-13,DEO,Purchase,"$15,001-$50,000",Representatives,15001.0,D
2554,Daniel Goldman,2023-02-24,2023-01-13,DNTUY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
2555,Daniel Goldman,2023-02-24,2023-01-13,TRYIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
2556,Daniel Goldman,2023-02-24,2023-01-13,TKOMY,Sale,"$1,001-$15,000",Representatives,1001.0,D

In [13]:
Daniel_Goldman.count()

Representative     1134
ReportDate         1134
TransactionDate    1134
Ticker             1134
Transaction        1134
Range              1134
House              1134
Amount             1134
Party              1134
dtype: int64

In [14]:
#List tickers and number of transactions of that stock
Daniel_Goldman["Ticker"].value_counts()

KO       7
TSLA     6
ABBV     5
MRK      5
MOS      5
        ..
SBGSY    1
FMS      1
LSRCY    1
LGRDY    1
PSO      1
Name: Ticker, Length: 698, dtype: int64

In [15]:
#List all traded stocks by DG
DG_unique = Daniel_Goldman["Ticker"].unique()
display(DG_unique)
len(DG_unique)

array(['NOC', 'T', 'VTR', 'MO', 'JNJ', 'MRK', 'TEL', 'DAR', 'PLD', 'ZTS',
       'F', 'TSN', 'KO', 'ABBV', 'COIN', 'APTV', 'THO', 'TMUS', 'TRIP',
       'ADC', 'BXP', 'CLVT', 'SLG', 'HHC', 'CBU', 'CAG', 'CCI', 'ALEX',
       'ARE', 'HST', 'CUBE', 'GILD', 'NVO', 'GTY', 'CFG', 'SBGI', 'FNF',
       'CIEN', 'TFC', 'ICHR', 'MOS', 'MOH', 'SGH', 'OGS', 'KHC', 'MRNA',
       'IIPR', 'STX', 'KLIC', 'LHX', 'FCPT', 'SBAC', 'BFS', 'LBTYA',
       'KDP', 'KRC', 'PD', 'PODD', 'PARAA', 'LBTYK', 'LSI', 'PK', 'PYPL',
       'PEB', 'IFF', 'PFE', 'IOT', 'VZ', 'RTX', 'BEPC', 'AAP', 'SR',
       'PECO', 'PHIN', 'PLTK', 'PGR', 'FIS', 'RLJ', 'ROIC', 'INVH', 'STT',
       'TFX', 'FERG', 'RLAY', 'MAA', 'PSA', 'SKT', 'IRM', 'JAZZ', 'INN',
       'AYX', 'RWT', 'RBA', 'LMT', 'QDEL', 'JBGS', 'MELI', 'TNDM', 'FN',
       'DRH', 'UBA', 'AMCX', 'MKTX', 'AMCR', 'UE', 'AMT', 'SYY', 'DG',
       'TMO', 'DLTR', 'UNH', 'URI', 'UPS', 'UDR', 'ADM', 'EXR', 'CADE',
       'SHO', 'MMM', 'NXRT', 'KR', 'D', 'BELFB', 'CTRE', 'BGNE', 'BMY',
       'YUMC', 'CNC', 'EIX', 'WPM', 'ENTA', 'CHPT', 'EXC', 'ES', 'SCHW',
       'CB', 'AVTR', 'NSA', 'AVB', 'KRG', 'WELL', 'EPAM', 'EVBG', 'IRT',
       'MTB', 'LVMUY', 'EPR', 'EQIX', 'EQR', 'EPRT', 'HALO', 'ESS',
       'PEAK', 'HEI.A', 'TEAM', 'USB', 'ANET', 'LUMN', 'DANOY', 'ZURVY',
       'BRDCY', 'BNTGY', 'BXBLY', 'BDNNY', 'BNPQY', 'BDRFY', 'BAYRY',
       'BCS', 'SAN', 'BBVA', 'BAESY', 'BMRRY', 'AXAHY', 'AVVIY', 'BTLCY',
       'NICE', 'NEXOY', 'NCMGY', 'NTES', 'NSRGY', 'NWG', 'NGG', 'NABZY',
       'NCBDY', 'MRAAY', 'MURGY', 'MTUAY', 'MSADY', 'MHGVY', 'MFG',
       'MSLOY', 'MTSFY', 'MUFG', 'MIELY', 'MSSMY', 'MGDDY', 'MKKGY',
       'MBGYY', 'MDIBY', 'MZDAY', 'NINOY', 'NTDOY', 'NTTYY', 'NSANY',
       'NDEKY', 'MKTAY', 'BURBY', 'BVVBY', 'NNGRY', 'CAJPY', 'CGEMY',
       'NOK', 'CCOEY', 'CZMWY', 'CLLNY', 'NMR', 'CJPRY', 'CHGCY', 'NRILY',
       'MQBKY', 'NRDBY', 'MTHRY', 'NVS', 'ATLKY', 'AZN', 'ALPMY', 'ASAZY',
       'ASML', 'ASHTY', 'AHKSY', 'ARKAY', 'ARGX', 'HDB', 'HVRRY', 'HLN',
       'AON', 'ANZGY', 'BUD', 'AMADY', 'ALIZY', 'ALLE', 'ALFVY', 'ALC',
       'AKZOY', 'AJINY', 'EADSY', 'AAGIY', 'AONNY', 'ANYYY', 'AEG',
       'ADYEY', 'GSK', 'GVDNY', 'OCDDY', 'OLYMY', 'OMRNY', 'OPHLY',
       'OLCLY', 'DNNGY', 'OTSKY', 'OVCHY', 'PANDY', 'PRNDY', 'LRLCY',
       'ATEYY', 'ADDYY', 'PROSY', 'PUK', 'PRYMY', 'GNGBY', 'PUBGY',
       'QABSY', 'QBIEY', 'LZAGY', 'LOGI', 'HDELY', 'GMAB', 'RANJY',
       'GBERY', 'RELX', 'RTO', 'RNMBY', 'RIO', 'RHHBY', 'KKPNY', 'RPT',
       'GASNY', 'FJTSY', 'SAFRY', 'SALRY', 'SAXPY', 'SDVKY', 'SNY', 'SAP',
       'SOAGY', 'LYG', 'JSGRY', 'FUJIY', 'LGRDY', 'LSRCY', 'FMS', 'SBGSY',
       'SE', 'AIQUY', 'KHNGY', 'SKLTY', 'SKHSY', 'SVNDY', 'KUBTY',
       'SGSOY', 'SMNNY', 'SHECY', 'FSUGY', 'SGIOY', 'SSDOY', 'SIEGY',
       'SMNEY', 'SMMNY', 'AHEXY', 'SXYAY', 'SINGY', 'SPXCY', 'SKFRY',
       'SMCAY', 'FBP', 'SNN', 'SMFKY', 'SCGLY', 'SOBKY', 'SFTBY', 'SKHHY',
       'SONVY', 'SONY', 'SPKKY', 'SSEZY', 'STLA', 'FRRVY', 'RACE', 'STM',
       'SOMMY', 'SMTOY', 'SMFG', 'FRCOY', 'SUTNY', 'FANUY', 'SUHJY',
       'KSRYY', 'ADRNY', 'STBFY', 'SZKMY', 'KMTUY', 'KNRRY', 'ESLOY',
       'HEINY', 'HESAY', 'EBKDY', 'ERIC', 'EPOKY', 'ENGIY', 'EDPFY',
       'ENLAY', 'DRPRY', 'DQJCY', 'DNBBY', 'KNBWY', 'SVNLY', 'SWDBY',
       'KGSPY', 'SWRAY', 'SSREY', 'SCMWY', 'DSCSY', 'SYIEY', 'DEO',
       'DTEGY', 'DHLGY', 'DBOEY', 'DB', 'DNTUY', 'DNZOY', 'DBSDY',
       'SSMXY', 'TSM', 'TAK', 'KGFHY', 'TTDKY', 'DASTY', 'TTNDY', 'TEF',
       'TLPFY', 'DWAHY', 'TLGPY', 'TMSNY', 'KIM', 'TCEHY', 'KRYAY',
       'TEZNY', 'TRUMY', 'DTRUY', 'DKILY', 'DSNKY', 'DLICY', 'DFKCY',
       'DNPLY', 'CSLLY', 'CRH', 'CRARY', 'CMSQY', 'CODYY', 'CMWAY',
       'CRZBY', 'CLPBY', 'CHEOY', 'NJDCY', 'TKAMY', 'TKOMY', 'TOELY',
       'TRYIY', 'TOTDY', 'TM', 'TT', 'PPRUY', 'KDDIY', 'KBCSY', 'TMICY',
       'UBS', 'UCBJY', 'UMICY', 'UL', 'UOVEY', 'UUGRY', 'UPMMY', 'VACNY',
       'BTI', 'JTKWY', 'JRONY', 'JAPAY', 'JHX', 'JSAIY', 'ITTOY', 'ISUZY',
       'ISNPY', 'IHG', 'ING', 'IFJPY', 'IFNNY', 'IDEXY', 'IMBBY', 'ICL',
       'IBDRY', 'HSQVY', 'HSBC', 'HOCPY', 'AAVMY', 'HKXCY', 'HMC',
       'ABBNY', 'AMKBY', 'HCMLY', 'HTHIY', 'HXGBY', 'VEOEY', 'VCISY',
       'VOD', 'VWAPY', 'VWAGY', 'VLVLY', 'WJRYY', 'WRDLY', 'WPP', 'YAMHY',
       'YARIY', 'YASKY', 'ZLNDY', 'OLPX', 'CLF', 'VAL', 'HAL', 'PARA',
       'LCID', 'DISH', 'ATUS', 'CHX', 'QS', 'IR', 'FTV', 'WFAFY', 'SBRA',
       'SRPT', 'SHLS', 'SPG', 'SWX', 'SYF', 'GTLS', 'TEX', 'YOU', 'CTSH',
       'COLB', 'TSLA', 'CONN', 'CSGP', 'FLO', 'FCNCA', 'FITB', 'EL',
       'UGI', 'ENPH', 'ESRT', 'EDIT', 'EWBC', 'UAL', 'X', 'UNM', 'VCYT',
       'DNB', 'VTRS', 'VNO', 'W', 'WBS', 'WFC', 'DLR', 'DE', 'WY', 'WTW',
       'ZS', 'ARRY', 'AAPL', 'APO', 'FOLD', 'AIG', 'AAT', 'AMZN', 'ALB',
       'AGNC', 'AFRM', 'NEM', 'NFG', 'NTRA', 'NDAQ', 'MDLZ', 'TAP',
       'MRTX', 'MLKN', 'MSFT', 'MPW', 'VAC', 'MRVI', 'MDGL', 'LPSN',
       'LNC', 'FWONK', 'LC', 'KRTX', 'JPM', 'JLL', 'JCI', 'JKHY', 'IQV',
       'INSP', 'HUN', 'HRL', 'HQY', 'GTLB', 'GM', 'FCEL', 'CAR', 'AXS',
       'BILL', 'CPT', 'COF', 'CAT', 'RNG', 'RITM', 'ROKU', 'ACN', 'AKR',
       'CWK', 'CVS', 'DDOG', 'BAC', 'RGA', 'QTWO', 'PLUG', 'OUT', 'OPEN',
       'NVDA', 'NTNX', 'NOV', 'NYCB', 'GRFS', 'MITEY', 'NTDTY', 'BHKLY',
       'CNHI', 'MONOY', 'DPSGY', 'ASXFY', 'SKBSY', 'CS', 'FRC', 'CPB',
       'OHI', 'PM', 'LLY', 'CTLT', 'NFLX', 'PACW', 'PAYC', 'PEP', 'PEG',
       'RJF', 'RTN', 'RIVN', 'CRM', 'SGEN', 'SHW', 'SBNY', 'SILK', 'SNOW',
       'WM', 'WAL', 'Z', 'MDT', 'MKC', 'MMC', 'BATRK', 'KMB', 'K', 'IONS',
       'ISRG', 'INCY', 'IBRX', 'HPP', 'HPQ', 'HE', 'GO', 'GMED', 'EA',
       'ELAN', 'EW', 'DEI', 'APPS', 'DAL', 'SRE', 'DHR', 'ED', 'CTAS',
       'CNP', 'CDNA', 'BRO', 'BLNK', 'BLK', 'BMRN', 'BIIB', 'ATO', 'NLY',
       'GOOGL', 'ALNY', 'ALLY', 'ATVI', 'ABT', 'CEG', 'CF', 'RUN',
       'KKOYY', 'SGAPY', 'ELUXY', 'UNICY', 'TOSYY', 'TELNY', 'BRK.B',
       'ABNB', 'PG', 'RBLX', 'SBCF', 'SWAV', 'NEE', 'SPWR', 'SYNH',
       'MAXR', 'LIN', 'INTC', 'TTD', 'HZNP', 'FATE', 'UNP', 'VFC', 'ENVX',
       'COST', 'CME', 'CHE', 'CELH', 'AVGO', 'ARWR', 'ESALY', 'RDSMY',
       'JAPSY', 'PSO'], dtype=object)

698

In [16]:
#Remove and rename stock tickers so Yahoo Finance can download data 
Daniel_Goldman_Clean = Daniel_Goldman[(Daniel_Goldman.Ticker != "RTN") & 
                                     (Daniel_Goldman.Ticker != "ESALY") &
                                     (Daniel_Goldman.Ticker != "RDSMY") &
                                     (Daniel_Goldman.Ticker != "MAXR") &
                                     (Daniel_Goldman.Ticker != "FRC") &
                                     (Daniel_Goldman.Ticker != "CS")]

Daniel_Goldman_Clean["Ticker"] = Daniel_Goldman_Clean["Ticker"].str.replace("BRK.B", "BRK-B")
Daniel_Goldman_Clean["Ticker"] = Daniel_Goldman_Clean["Ticker"].str.replace("HEI.A", "HEI-A")
Daniel_Goldman_Clean.dtypes

Representative      object
ReportDate          object
TransactionDate     object
Ticker              object
Transaction         object
Range               object
House               object
Amount             float64
Party               object
dtype: object

In [17]:
#Update data types so that they can be merged with financial data
Daniel_Goldman_Clean["TransactionDate"] = pd.to_datetime(Daniel_Goldman_Clean["TransactionDate"], format="%Y-%m-%d")
Daniel_Goldman_Clean["ReportDate"] = pd.to_datetime(Daniel_Goldman_Clean["ReportDate"], format="%Y-%m-%d")
Daniel_Goldman_Clean.dtypes

Representative             object
ReportDate         datetime64[ns]
TransactionDate    datetime64[ns]
Ticker                     object
Transaction                object
Range                      object
House                      object
Amount                    float64
Party                      object
dtype: object

# Sale Data

In [18]:
#put list of ONLY SALE into dataframe
congress_df_sale = congress_df[congress_df["Transaction"] == "Sale"]
congress_df_sale

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
1,Pete Sessions,2023-08-17,2023-07-28,KD,Sale,$163.20,Representatives,163.2,R
3,Tommy Tuberville,2023-08-14,2023-07-27,CCL,Sale,"$1,001 - $15,000",Senate,1001.0,R
15,Tommy Tuberville,2023-08-14,2023-07-25,CLF,Sale,"$1,001 - $15,000",Senate,1001.0,R
16,Tommy Tuberville,2023-08-14,2023-07-24,PG,Sale,"$1,001 - $15,000",Senate,1001.0,R
18,Tommy Tuberville,2023-08-14,2023-07-19,TXN,Sale,"$1,001 - $15,000",Senate,1001.0,R
...,...,...,...,...,...,...,...,...,...
30730,David Perdue,2016-02-02,2016-01-13,GE,Sale,"$1,001 - $15,000",Senate,1001.0,R
30731,David Perdue,2016-02-02,2016-01-13,PFE,Sale,"$1,001 - $15,000",Senate,1001.0,R
30732,David Perdue,2016-02-02,2016-01-13,GE,Sale,"$1,001 - $15,000",Senate,1001.0,R
30745,Sheldon Whitehouse,2016-01-20,2016-01-05,GME,Sale,"$1,001 - $15,000",Senate,1001.0,D
30749,Bill Cassidy,2016-01-12,2016-01-05,INTC,Sale,"$1,001 - $15,000",Senate,1001.0,R

In [19]:
#filter out selected Congressman "Daniel Goldman"

Daniel_Goldman_Sale = Daniel_Goldman_Clean[Daniel_Goldman_Clean["Transaction"] == "Sale"]
Daniel_Goldman_Sale

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
20,Daniel Goldman,2023-08-13,2023-07-19,NOC,Sale,"$15,001-$50,000",Representatives,15001.0,D
22,Daniel Goldman,2023-08-13,2023-07-14,T,Sale,"$1,001-$15,000",Representatives,1001.0,D
23,Daniel Goldman,2023-08-13,2023-07-14,VTR,Sale,"$1,001-$15,000",Representatives,1001.0,D
24,Daniel Goldman,2023-08-13,2023-07-14,MO,Sale,"$1,001-$15,000",Representatives,1001.0,D
25,Daniel Goldman,2023-08-13,2023-07-14,JNJ,Sale,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
2546,Daniel Goldman,2023-02-24,2023-01-13,GVDNY,Sale,"$1,001-$15,000",Representatives,1001.0,D
2548,Daniel Goldman,2023-02-24,2023-01-13,HTHIY,Sale,"$1,001-$15,000",Representatives,1001.0,D
2550,Daniel Goldman,2023-02-24,2023-01-13,BTI,Sale,"$50,001-$100,000",Representatives,50001.0,D
2551,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D
2556,Daniel Goldman,2023-02-24,2023-01-13,TKOMY,Sale,"$1,001-$15,000",Representatives,1001.0,D

In [20]:
#check datatypes in Close dataframe
Close.dtypes

TransactionDate    datetime64[ns]
AAGIY                     float64
AAP                       float64
AAPL                      float64
AAT                       float64
                        ...
Z                         float64
ZLNDY                     float64
ZS                        float64
ZTS                       float64
ZURVY                     float64
Length: 692, dtype: object

In [21]:
#check datatypes in Close dataframe
Daniel_Goldman_Sale.dtypes

Representative             object
ReportDate         datetime64[ns]
TransactionDate    datetime64[ns]
Ticker                     object
Transaction                object
Range                      object
House                      object
Amount                    float64
Party                      object
dtype: object

In [22]:
# Convert 'TransactionDate' column to datetime for Close dataframes
Close['TransactionDate'] = pd.to_datetime(Close['TransactionDate'])

In [23]:
## Convert 'TransactionDate' column to datetime for Dan Goldman dataframes
Daniel_Goldman_Sale['TransactionDate'] = pd.to_datetime(Daniel_Goldman_Sale['TransactionDate'])

In [24]:
# match ticker from congressman's sell trade with ticker from yfinance 30 days ago.

def get_price(row):
    target_date = row['TransactionDate'] - pd.Timedelta(days=30)
    ticker = row['Ticker']
    
    # Check if the date exists in Close and if the ticker is a valid column in Close
    if target_date in Close['TransactionDate'].values and ticker in Close.columns:
        # Return the price for the given ticker and date
        return Close.loc[Close['TransactionDate'] == target_date, ticker].values[0]
    else:
        # If there's no match, return a placeholder (can be None or any other value)
        return None

In [25]:
#Create a column for the ticker price 30 days ago
Daniel_Goldman_Sale['Price - 30 Days Prior'] = Daniel_Goldman_Sale.apply(get_price, axis=1)

In [26]:
#Check if un-attainable tickers are in dataframe or not
Daniel_Goldman_Sale[Daniel_Goldman_Sale["Ticker"] == "EASLY"]

Empty DataFrame
Columns: [Representative, ReportDate, TransactionDate, Ticker, Transaction, Range, House, Amount, Party, Price - 30 Days Prior]
Index: []

In [27]:
#view updated dataframe
Daniel_Goldman_Sale

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Price - 30 Days Prior
20,Daniel Goldman,2023-08-13,2023-07-19,NOC,Sale,"$15,001-$50,000",Representatives,15001.0,D,NaN
22,Daniel Goldman,2023-08-13,2023-07-14,T,Sale,"$1,001-$15,000",Representatives,1001.0,D,15.840000
23,Daniel Goldman,2023-08-13,2023-07-14,VTR,Sale,"$1,001-$15,000",Representatives,1001.0,D,46.320000
24,Daniel Goldman,2023-08-13,2023-07-14,MO,Sale,"$1,001-$15,000",Representatives,1001.0,D,43.950001
25,Daniel Goldman,2023-08-13,2023-07-14,JNJ,Sale,"$1,001-$15,000",Representatives,1001.0,D,161.559998
...,...,...,...,...,...,...,...,...,...,...
2546,Daniel Goldman,2023-02-24,2023-01-13,GVDNY,Sale,"$1,001-$15,000",Representatives,1001.0,D,64.580002
2548,Daniel Goldman,2023-02-24,2023-01-13,HTHIY,Sale,"$1,001-$15,000",Representatives,1001.0,D,105.199997
2550,Daniel Goldman,2023-02-24,2023-01-13,BTI,Sale,"$50,001-$100,000",Representatives,50001.0,D,41.110001
2551,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D,48.689999
2556,Daniel Goldman,2023-02-24,2023-01-13,TKOMY,Sale,"$1,001-$15,000",Representatives,1001.0,D,21.010000

In [28]:
#confirm that renamed and erased tickers are updated
display(Daniel_Goldman_Sale[Daniel_Goldman_Sale["Ticker"] == "BRK-B"])
display(Daniel_Goldman_Sale[Daniel_Goldman_Sale["Ticker"] == "EASLY"])

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Price - 30 Days Prior
2231,Daniel Goldman,2023-03-20,2023-02-03,BRK-B,Sale,"$1,001-$15,000",Representatives,1001.0,D,314.549988

Empty DataFrame
Columns: [Representative, ReportDate, TransactionDate, Ticker, Transaction, Range, House, Amount, Party, Price - 30 Days Prior]
Index: []

In [29]:
# Change ReportDate to datetime and check
Daniel_Goldman_Sale["ReportDate"] = pd.to_datetime(Daniel_Goldman_Sale["ReportDate"], format="%Y-%m-%d")
Daniel_Goldman_Sale.dtypes

Representative                   object
ReportDate               datetime64[ns]
TransactionDate          datetime64[ns]
Ticker                           object
Transaction                      object
Range                            object
House                            object
Amount                          float64
Party                            object
Price - 30 Days Prior           float64
dtype: object

## Check the Price - 30 Days Prior Data

In [30]:
#find the null values
na_DG1 = Daniel_Goldman_Sale.isna()
na_DG1[na_DG1["Price - 30 Days Prior"] == True]

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Price - 30 Days Prior
20,False,False,False,False,False,False,False,False,False,True
95,False,False,False,False,False,False,False,False,False,True
185,False,False,False,False,False,False,False,False,False,True
186,False,False,False,False,False,False,False,False,False,True
187,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
2514,False,False,False,False,False,False,False,False,False,True
2516,False,False,False,False,False,False,False,False,False,True
2520,False,False,False,False,False,False,False,False,False,True
2522,False,False,False,False,False,False,False,False,False,True
2524,False,False,False,False,False,False,False,False,False,True

In [31]:
# check to confirm ticker and that it is null
display(Daniel_Goldman_Sale.iloc[187])

Representative                Daniel Goldman
ReportDate               2023-08-13 00:00:00
TransactionDate          2023-07-10 00:00:00
Ticker                                 NSRGY
Transaction                             Sale
Range                    $250,001-$1,000,000
House                        Representatives
Amount                              250001.0
Party                                      D
Price - 30 Days Prior                    NaN
Name: 208, dtype: object

In [32]:
#check Yahoo data to confirm taht it is null 30 days prior to transaction date
null_test = Close[Close["TransactionDate"] == "2023-01-21"]
null_test["NSRGY"]

Series([], Name: NSRGY, dtype: float64)

In [ ]:
# We have 578 null values for data that does not have a price 30 days prior to its transaction
# - May need to review our time hporizons

# Merge Close prices and add columns for calcs

In [33]:
Daniel_Goldman_Clean

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
20,Daniel Goldman,2023-08-13,2023-07-19,NOC,Sale,"$15,001-$50,000",Representatives,15001.0,D
22,Daniel Goldman,2023-08-13,2023-07-14,T,Sale,"$1,001-$15,000",Representatives,1001.0,D
23,Daniel Goldman,2023-08-13,2023-07-14,VTR,Sale,"$1,001-$15,000",Representatives,1001.0,D
24,Daniel Goldman,2023-08-13,2023-07-14,MO,Sale,"$1,001-$15,000",Representatives,1001.0,D
25,Daniel Goldman,2023-08-13,2023-07-14,JNJ,Sale,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
2552,Daniel Goldman,2023-02-24,2023-01-13,TOSYY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
2553,Daniel Goldman,2023-02-24,2023-01-13,DEO,Purchase,"$15,001-$50,000",Representatives,15001.0,D
2554,Daniel Goldman,2023-02-24,2023-01-13,DNTUY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
2555,Daniel Goldman,2023-02-24,2023-01-13,TRYIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
2556,Daniel Goldman,2023-02-24,2023-01-13,TKOMY,Sale,"$1,001-$15,000",Representatives,1001.0,D

In [34]:
Daniel_Goldman_Clean["TransactionDate - 30 Days Prior"] = (Daniel_Goldman_Clean["TransactionDate"] - pd.Timedelta(days=30))

In [35]:
# Merge Close Data
df_close = Close.melt(id_vars='TransactionDate', var_name='Ticker', value_name='Close')
#df.dtypes
#Daniel_Goldman_Clean.dtypes
DG1 = Daniel_Goldman_Clean.merge(df_close, on = ["TransactionDate",'Ticker'])
DG1

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,TransactionDate - 30 Days Prior,Close
0,Daniel Goldman,2023-08-13,2023-07-19,NOC,Sale,"$15,001-$50,000",Representatives,15001.0,D,2023-06-19,442.279999
1,Daniel Goldman,2023-08-13,2023-07-14,T,Sale,"$1,001-$15,000",Representatives,1001.0,D,2023-06-14,14.500000
2,Daniel Goldman,2023-08-13,2023-07-14,VTR,Sale,"$1,001-$15,000",Representatives,1001.0,D,2023-06-14,48.070000
3,Daniel Goldman,2023-08-13,2023-07-14,MO,Sale,"$1,001-$15,000",Representatives,1001.0,D,2023-06-14,45.490002
4,Daniel Goldman,2023-08-13,2023-07-14,JNJ,Sale,"$1,001-$15,000",Representatives,1001.0,D,2023-06-14,159.869995
...,...,...,...,...,...,...,...,...,...,...,...
1121,Daniel Goldman,2023-02-24,2023-01-13,TOSYY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,2022-12-14,17.740000
1122,Daniel Goldman,2023-02-24,2023-01-13,DEO,Purchase,"$15,001-$50,000",Representatives,15001.0,D,2022-12-14,183.210007
1123,Daniel Goldman,2023-02-24,2023-01-13,DNTUY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,2022-12-14,31.850000
1124,Daniel Goldman,2023-02-24,2023-01-13,TRYIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,2022-12-14,11.240000
1125,Daniel Goldman,2023-02-24,2023-01-13,TKOMY,Sale,"$1,001-$15,000",Representatives,1001.0,D,2022-12-14,21.270000

In [36]:
df_close

       TransactionDate Ticker      Close
0           2020-08-20  AAGIY  37.619999
1           2020-08-21  AAGIY  38.849998
2           2020-08-24  AAGIY  40.500000
3           2020-08-25  AAGIY  40.549999
4           2020-08-26  AAGIY  40.259998
...                ...    ...        ...
521009      2023-08-14  ZURVY  47.240002
521010      2023-08-15  ZURVY  46.820000
521011      2023-08-16  ZURVY  46.560001
521012      2023-08-17  ZURVY  46.340000
521013      2023-08-18  ZURVY  46.000000

[521014 rows x 3 columns]

## Create median of range value

In [37]:
#Get unique values of the ranges
DG1["Range"].unique()

array(['$15,001-$50,000', '$1,001-$15,000', '$50,001-$100,000',
       '$100,001-250,000', '$250,001-$1,000,000'], dtype=object)

In [38]:
#Create a column giving the median of the ranges.
DG1["Price of Transaction (Median)"] = DG1.Range.replace({"$1,001-$15,000":8001, 
                   "$15,001-$50,000":325001, 
                   "$50,001-$100,000":75001, 
                   "$100,001-250,000":175001, 
                   "$250,001-$1,000,000":625000})

In [39]:
#Reorder columns
DG1 = DG1[["Representative",
     "House",
     "Party",
     "Ticker",
     "ReportDate",
     "TransactionDate",
     "TransactionDate - 30 Days Prior",
     "Transaction",
     "Range",
     "Price of Transaction (Median)",
     "Close"]]
DG1

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Range,Price of Transaction (Median),Close
0,Daniel Goldman,Representatives,D,NOC,2023-08-13,2023-07-19,2023-06-19,Sale,"$15,001-$50,000",325001,442.279999
1,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,14.500000
2,Daniel Goldman,Representatives,D,VTR,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,48.070000
3,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,45.490002
4,Daniel Goldman,Representatives,D,JNJ,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,159.869995
...,...,...,...,...,...,...,...,...,...,...,...
1121,Daniel Goldman,Representatives,D,TOSYY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,17.740000
1122,Daniel Goldman,Representatives,D,DEO,2023-02-24,2023-01-13,2022-12-14,Purchase,"$15,001-$50,000",325001,183.210007
1123,Daniel Goldman,Representatives,D,DNTUY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,31.850000
1124,Daniel Goldman,Representatives,D,TRYIY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,11.240000
1125,Daniel Goldman,Representatives,D,TKOMY,2023-02-24,2023-01-13,2022-12-14,Sale,"$1,001-$15,000",8001,21.270000

In [71]:
#Calculate share quantity
DG1["Share Quantity"] = (DG1["Price of Transaction (Median)"] / DG1["Close"]).apply(np.floor)
DG1

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Range,Price of Transaction (Median),Close,Share Quantity
0,Daniel Goldman,Representatives,D,NOC,2023-08-13,2023-07-19,2023-06-19,Sale,"$15,001-$50,000",325001,442.279999,734.0
1,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,14.500000,551.0
2,Daniel Goldman,Representatives,D,VTR,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,48.070000,166.0
3,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,45.490002,175.0
4,Daniel Goldman,Representatives,D,JNJ,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,159.869995,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1121,Daniel Goldman,Representatives,D,TOSYY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,17.740000,451.0
1122,Daniel Goldman,Representatives,D,DEO,2023-02-24,2023-01-13,2022-12-14,Purchase,"$15,001-$50,000",325001,183.210007,1773.0
1123,Daniel Goldman,Representatives,D,DNTUY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,31.850000,251.0
1124,Daniel Goldman,Representatives,D,TRYIY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,11.240000,711.0
1125,Daniel Goldman,Representatives,D,TKOMY,2023-02-24,2023-01-13,2022-12-14,Sale,"$1,001-$15,000",8001,21.270000,376.0

In [72]:
#Many of the tickers that were traded do not have data for 30 days prior to the transation.  
#We may need to change our time horizon for the hold duration - It removes ~500 rows of data

#Merge Close price with Price - 30 Days Prior
df_close_sale = Close_30day.melt(id_vars="TransactionDate - 30 Days Prior", var_name='Ticker', value_name="Price - 30 Days Prior")
#df.dtypes
#Daniel_Goldman_Clean.dtypes
DG2 = DG1.merge(df_close_sale, on = ["TransactionDate - 30 Days Prior",'Ticker'])
DG2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Range,Price of Transaction (Median),Close,Share Quantity,Price - 30 Days Prior
0,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,14.500000,551.0,15.840000
1,Daniel Goldman,Representatives,D,VTR,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,48.070000,166.0,46.320000
2,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,45.490002,175.0,43.950001
3,Daniel Goldman,Representatives,D,JNJ,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,159.869995,50.0,161.559998
4,Daniel Goldman,Representatives,D,MRK,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,107.339996,74.0,108.660004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Daniel Goldman,Representatives,D,TOSYY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,17.740000,451.0,16.910000
309,Daniel Goldman,Representatives,D,DEO,2023-02-24,2023-01-13,2022-12-14,Purchase,"$15,001-$50,000",325001,183.210007,1773.0,188.850006
310,Daniel Goldman,Representatives,D,DNTUY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,31.850000,251.0,32.049999
311,Daniel Goldman,Representatives,D,TRYIY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,11.240000,711.0,11.390000
312,Daniel Goldman,Representatives,D,TKOMY,2023-02-24,2023-01-13,2022-12-14,Sale,"$1,001-$15,000",8001,21.270000,376.0,21.010000

In [73]:
#Get rid of the price for the purchases 30 days prior to the transaction
DG2["Price - 30 Days Prior"] = DG2["Price - 30 Days Prior"].where(DG2["Transaction"] == "Sale", other=0)
DG2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Range,Price of Transaction (Median),Close,Share Quantity,Price - 30 Days Prior
0,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,14.500000,551.0,15.840000
1,Daniel Goldman,Representatives,D,VTR,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,48.070000,166.0,46.320000
2,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,45.490002,175.0,43.950001
3,Daniel Goldman,Representatives,D,JNJ,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,159.869995,50.0,161.559998
4,Daniel Goldman,Representatives,D,MRK,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,107.339996,74.0,108.660004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Daniel Goldman,Representatives,D,TOSYY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,17.740000,451.0,0.000000
309,Daniel Goldman,Representatives,D,DEO,2023-02-24,2023-01-13,2022-12-14,Purchase,"$15,001-$50,000",325001,183.210007,1773.0,0.000000
310,Daniel Goldman,Representatives,D,DNTUY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,31.850000,251.0,0.000000
311,Daniel Goldman,Representatives,D,TRYIY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,11.240000,711.0,0.000000
312,Daniel Goldman,Representatives,D,TKOMY,2023-02-24,2023-01-13,2022-12-14,Sale,"$1,001-$15,000",8001,21.270000,376.0,21.010000

In [74]:
#Set a column for today's date to merge the currentl closing prices.  
#NOTE - This does not work on weekends as Yahoo does not have trading data for the weekends.  Value is currently set to 2023.08.18
#Un-comment the today() line for up to date data.

#DG2["Current Date"] = datetime.today().strftime('%Y-%m-%d')
DG2["Current Date"] = "2023-08-18"
DG2["Current Date"] = pd.to_datetime(DG2["Current Date"], format="%Y-%m-%d")
DG2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Range,Price of Transaction (Median),Close,Share Quantity,Price - 30 Days Prior,Current Date
0,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,14.500000,551.0,15.840000,2023-08-18
1,Daniel Goldman,Representatives,D,VTR,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,48.070000,166.0,46.320000,2023-08-18
2,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,45.490002,175.0,43.950001,2023-08-18
3,Daniel Goldman,Representatives,D,JNJ,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,159.869995,50.0,161.559998,2023-08-18
4,Daniel Goldman,Representatives,D,MRK,2023-08-13,2023-07-14,2023-06-14,Sale,"$1,001-$15,000",8001,107.339996,74.0,108.660004,2023-08-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Daniel Goldman,Representatives,D,TOSYY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,17.740000,451.0,0.000000,2023-08-18
309,Daniel Goldman,Representatives,D,DEO,2023-02-24,2023-01-13,2022-12-14,Purchase,"$15,001-$50,000",325001,183.210007,1773.0,0.000000,2023-08-18
310,Daniel Goldman,Representatives,D,DNTUY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,31.850000,251.0,0.000000,2023-08-18
311,Daniel Goldman,Representatives,D,TRYIY,2023-02-24,2023-01-13,2022-12-14,Purchase,"$1,001-$15,000",8001,11.240000,711.0,0.000000,2023-08-18
312,Daniel Goldman,Representatives,D,TKOMY,2023-02-24,2023-01-13,2022-12-14,Sale,"$1,001-$15,000",8001,21.270000,376.0,21.010000,2023-08-18

In [75]:
#Rearranging column names
DG2 = DG2[["Representative",
     "House",
     "Party",
     "Ticker",
     "ReportDate",
     "TransactionDate",
     "TransactionDate - 30 Days Prior",
     "Current Date",
     "Transaction",
     "Range",
     "Price of Transaction (Median)",
     "Close",
     "Share Quantity",
     "Price - 30 Days Prior"]]
DG2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Current Date,Transaction,Range,Price of Transaction (Median),Close,Share Quantity,Price - 30 Days Prior
0,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,14.500000,551.0,15.840000
1,Daniel Goldman,Representatives,D,VTR,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,48.070000,166.0,46.320000
2,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,45.490002,175.0,43.950001
3,Daniel Goldman,Representatives,D,JNJ,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,159.869995,50.0,161.559998
4,Daniel Goldman,Representatives,D,MRK,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,107.339996,74.0,108.660004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Daniel Goldman,Representatives,D,TOSYY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,17.740000,451.0,0.000000
309,Daniel Goldman,Representatives,D,DEO,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$15,001-$50,000",325001,183.210007,1773.0,0.000000
310,Daniel Goldman,Representatives,D,DNTUY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,31.850000,251.0,0.000000
311,Daniel Goldman,Representatives,D,TRYIY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,11.240000,711.0,0.000000
312,Daniel Goldman,Representatives,D,TKOMY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Sale,"$1,001-$15,000",8001,21.270000,376.0,21.010000

In [76]:
#Merge current close prices
df_close_current = Close_Current.melt(id_vars="Current Date", var_name='Ticker', value_name="Current Close Price")
DG2 = DG2.merge(df_close_current, on = ["Current Date",'Ticker'])
DG2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Current Date,Transaction,Range,Price of Transaction (Median),Close,Share Quantity,Price - 30 Days Prior,Current Close Price
0,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,14.500000,551.0,15.840000,14.050000
1,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-12,2023-06-12,2023-08-18,Sale,"$50,001-$100,000",75001,15.120000,4960.0,15.930000,14.050000
2,Daniel Goldman,Representatives,D,VTR,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,48.070000,166.0,46.320000,41.959999
3,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,45.490002,175.0,43.950001,42.910000
4,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-12,2023-06-12,2023-08-18,Sale,"$1,001-$15,000",8001,45.689999,175.0,45.529999,42.910000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Daniel Goldman,Representatives,D,ZURVY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Sale,"$15,001-$50,000",325001,48.110001,6755.0,48.689999,46.000000
309,Daniel Goldman,Representatives,D,TOSYY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,17.740000,451.0,0.000000,15.600000
310,Daniel Goldman,Representatives,D,DNTUY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,31.850000,251.0,0.000000,28.570000
311,Daniel Goldman,Representatives,D,TRYIY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,11.240000,711.0,0.000000,10.770000
312,Daniel Goldman,Representatives,D,TKOMY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Sale,"$1,001-$15,000",8001,21.270000,376.0,21.010000,21.500000

In [77]:
#Calculate unrealized purchase revenue from the purchase data
DG2["Purchase Revenue (Unrealized)"] = (DG2["Share Quantity"] * DG2['Current Close Price']) - (DG2["Price of Transaction (Median)"])
DG2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Current Date,Transaction,Range,Price of Transaction (Median),Close,Share Quantity,Price - 30 Days Prior,Current Close Price,Purchase Revenue (Unrealized)
0,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,14.500000,551.0,15.840000,14.050000,-259.449895
1,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-12,2023-06-12,2023-08-18,Sale,"$50,001-$100,000",75001,15.120000,4960.0,15.930000,14.050000,-5312.999054
2,Daniel Goldman,Representatives,D,VTR,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,48.070000,166.0,46.320000,41.959999,-1035.640152
3,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,45.490002,175.0,43.950001,42.910000,-491.750027
4,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-12,2023-06-12,2023-08-18,Sale,"$1,001-$15,000",8001,45.689999,175.0,45.529999,42.910000,-491.750027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Daniel Goldman,Representatives,D,ZURVY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Sale,"$15,001-$50,000",325001,48.110001,6755.0,48.689999,46.000000,-14271.000000
309,Daniel Goldman,Representatives,D,TOSYY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,17.740000,451.0,0.000000,15.600000,-965.399828
310,Daniel Goldman,Representatives,D,DNTUY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,31.850000,251.0,0.000000,28.570000,-829.930077
311,Daniel Goldman,Representatives,D,TRYIY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,11.240000,711.0,0.000000,10.770000,-343.529675
312,Daniel Goldman,Representatives,D,TKOMY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Sale,"$1,001-$15,000",8001,21.270000,376.0,21.010000,21.500000,83.000000

In [82]:
#Calculate realized sale revenue from the sale data
DG2["Sale Revenue (Realized)"] =  (DG2["Price of Transaction (Median)"] - (DG2["Share Quantity"] * DG2['Price - 30 Days Prior']))
DG2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Current Date,Transaction,Range,Price of Transaction (Median),Close,Share Quantity,Price - 30 Days Prior,Current Close Price,Purchase Revenue (Unrealized),Sale Revenue,Net Revenue,Sale Revenue (Realized)
0,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,14.500000,551.0,15.840000,14.050000,-259.449895,-726.840084,-986.289979,-726.840084
1,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-12,2023-06-12,2023-08-18,Sale,"$50,001-$100,000",75001,15.120000,4960.0,15.930000,14.050000,-5312.999054,-4011.801514,-9324.800568,-4011.801514
2,Daniel Goldman,Representatives,D,VTR,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,48.070000,166.0,46.320000,41.959999,-1035.640152,311.880051,-723.760101,311.880051
3,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,45.490002,175.0,43.950001,42.910000,-491.750027,309.749866,-182.000160,309.749866
4,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-12,2023-06-12,2023-08-18,Sale,"$1,001-$15,000",8001,45.689999,175.0,45.529999,42.910000,-491.750027,33.250214,-458.499813,33.250214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Daniel Goldman,Representatives,D,ZURVY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Sale,"$15,001-$50,000",325001,48.110001,6755.0,48.689999,46.000000,-14271.000000,-3899.940723,-18170.940723,-3899.940723
309,Daniel Goldman,Representatives,D,TOSYY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,17.740000,451.0,0.000000,15.600000,-965.399828,8001.000000,7035.600172,8001.000000
310,Daniel Goldman,Representatives,D,DNTUY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,31.850000,251.0,0.000000,28.570000,-829.930077,8001.000000,7171.069923,8001.000000
311,Daniel Goldman,Representatives,D,TRYIY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,11.240000,711.0,0.000000,10.770000,-343.529675,8001.000000,7657.470325,8001.000000
312,Daniel Goldman,Representatives,D,TKOMY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Sale,"$1,001-$15,000",8001,21.270000,376.0,21.010000,21.500000,83.000000,101.239914,184.239914,101.239914

In [83]:
#Calulated net revenue
DG2["Net Revenue (Realized + Unrealized)"] =  (DG2["Purchase Revenue (Unrealized)"] + DG2["Sale Revenue (Realized)"])
DG2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Current Date,Transaction,Range,Price of Transaction (Median),Close,Share Quantity,Price - 30 Days Prior,Current Close Price,Purchase Revenue (Unrealized),Sale Revenue,Net Revenue,Sale Revenue (Realized),Net Revenue (Realized + Unrealized)
0,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,14.500000,551.0,15.840000,14.050000,-259.449895,-726.840084,-986.289979,-726.840084,-986.289979
1,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-12,2023-06-12,2023-08-18,Sale,"$50,001-$100,000",75001,15.120000,4960.0,15.930000,14.050000,-5312.999054,-4011.801514,-9324.800568,-4011.801514,-9324.800568
2,Daniel Goldman,Representatives,D,VTR,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,48.070000,166.0,46.320000,41.959999,-1035.640152,311.880051,-723.760101,311.880051,-723.760101
3,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,45.490002,175.0,43.950001,42.910000,-491.750027,309.749866,-182.000160,309.749866,-182.000160
4,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-12,2023-06-12,2023-08-18,Sale,"$1,001-$15,000",8001,45.689999,175.0,45.529999,42.910000,-491.750027,33.250214,-458.499813,33.250214,-458.499813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Daniel Goldman,Representatives,D,ZURVY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Sale,"$15,001-$50,000",325001,48.110001,6755.0,48.689999,46.000000,-14271.000000,-3899.940723,-18170.940723,-3899.940723,-18170.940723
309,Daniel Goldman,Representatives,D,TOSYY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,17.740000,451.0,0.000000,15.600000,-965.399828,8001.000000,7035.600172,8001.000000,7035.600172
310,Daniel Goldman,Representatives,D,DNTUY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,31.850000,251.0,0.000000,28.570000,-829.930077,8001.000000,7171.069923,8001.000000,7171.069923
311,Daniel Goldman,Representatives,D,TRYIY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,11.240000,711.0,0.000000,10.770000,-343.529675,8001.000000,7657.470325,8001.000000,7657.470325
312,Daniel Goldman,Representatives,D,TKOMY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Sale,"$1,001-$15,000",8001,21.270000,376.0,21.010000,21.500000,83.000000,101.239914,184.239914,101.239914,184.239914

In [84]:
#Calulate total revenue of portfolio
DG2["Net Revenue (Realized + Unrealized)"].sum()

4653958.900576353

In [85]:
DG3 = DG2
DG3

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Current Date,Transaction,Range,Price of Transaction (Median),Close,Share Quantity,Price - 30 Days Prior,Current Close Price,Purchase Revenue (Unrealized),Sale Revenue,Net Revenue,Sale Revenue (Realized),Net Revenue (Realized + Unrealized)
0,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,14.500000,551.0,15.840000,14.050000,-259.449895,-726.840084,-986.289979,-726.840084,-986.289979
1,Daniel Goldman,Representatives,D,T,2023-08-13,2023-07-12,2023-06-12,2023-08-18,Sale,"$50,001-$100,000",75001,15.120000,4960.0,15.930000,14.050000,-5312.999054,-4011.801514,-9324.800568,-4011.801514,-9324.800568
2,Daniel Goldman,Representatives,D,VTR,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,48.070000,166.0,46.320000,41.959999,-1035.640152,311.880051,-723.760101,311.880051,-723.760101
3,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-14,2023-06-14,2023-08-18,Sale,"$1,001-$15,000",8001,45.490002,175.0,43.950001,42.910000,-491.750027,309.749866,-182.000160,309.749866,-182.000160
4,Daniel Goldman,Representatives,D,MO,2023-08-13,2023-07-12,2023-06-12,2023-08-18,Sale,"$1,001-$15,000",8001,45.689999,175.0,45.529999,42.910000,-491.750027,33.250214,-458.499813,33.250214,-458.499813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Daniel Goldman,Representatives,D,ZURVY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Sale,"$15,001-$50,000",325001,48.110001,6755.0,48.689999,46.000000,-14271.000000,-3899.940723,-18170.940723,-3899.940723,-18170.940723
309,Daniel Goldman,Representatives,D,TOSYY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,17.740000,451.0,0.000000,15.600000,-965.399828,8001.000000,7035.600172,8001.000000,7035.600172
310,Daniel Goldman,Representatives,D,DNTUY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,31.850000,251.0,0.000000,28.570000,-829.930077,8001.000000,7171.069923,8001.000000,7171.069923
311,Daniel Goldman,Representatives,D,TRYIY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Purchase,"$1,001-$15,000",8001,11.240000,711.0,0.000000,10.770000,-343.529675,8001.000000,7657.470325,8001.000000,7657.470325
312,Daniel Goldman,Representatives,D,TKOMY,2023-02-24,2023-01-13,2022-12-14,2023-08-18,Sale,"$1,001-$15,000",8001,21.270000,376.0,21.010000,21.500000,83.000000,101.239914,184.239914,101.239914,184.239914