In [1]:
import os
import requests
import json
import pandas as pd
import numpy as np
from dotenv import load_dotenv
from Ticker_Data import og_data
from datetime import datetime

[*********************100%***********************]  1521 of 1521 completed

71 Failed downloads:
- METAP: No timezone found, symbol may be delisted
- SIRE: No timezone found, symbol may be delisted
- ABBNYNY: No timezone found, symbol may be delisted
- MS$P: No timezone found, symbol may be delisted
- CSII: No timezone found, symbol may be delisted
- RDSMY: No timezone found, symbol may be delisted
- GNKOQ: No timezone found, symbol may be delisted
- AAIC$B: No timezone found, symbol may be delisted
- MNRL: No timezone found, symbol may be delisted
- VTRSV: No timezone found, symbol may be delisted
- LHCG: No timezone found, symbol may be delisted
- TWTR: No timezone found, symbol may be delisted
- DRE: No timezone found, symbol may be delisted
- PBCT: No timezone found, symbol may be delisted
- FISV: No timezone found, symbol may be delisted
- NTT: No data found for this date range, symbol may be delisted
- ECOL: No timezone found, symbol may be delisted
- FRC: No timezone found, symbol may be delisted
- AXHE: Period 'max' is invalid, must be one of ['1d', '5d']
- ESALY: No timezone found, symbol may be delisted
- SCHW$D: No timezone found, symbol may be delisted
- LMST: No timezone found, symbol may be delisted
- SSLTY: No data found for this date range, symbol may be delisted
- CERN: No timezone found, symbol may be delisted
- BRCM: No data found for this date range, symbol may be delisted
- FMBA: No timezone found, symbol may be delisted
- SIVB: No timezone found, symbol may be delisted
- MAXR: No timezone found, symbol may be delisted
- AQUA: No timezone found, symbol may be delisted
- AZSEY: No timezone found, symbol may be delisted
- NEE$Q: No timezone found, symbol may be delisted
- CDEV: No timezone found, symbol may be delisted
- HSAC: No timezone found, symbol may be delisted
- SRLP: No timezone found, symbol may be delisted
- DUK$A: No timezone found, symbol may be delisted
- HTZWW: Period 'max' is invalid, must be one of ['1d', '5d']
- CCXI: No timezone found, symbol may be delisted
- BELMETA: No timezone found, symbol may be delisted
- CVET: No timezone found, symbol may be delisted
- AAM$A: No timezone found, symbol may be delisted
- DNHBY: No timezone found, symbol may be delisted
- BRMK: No timezone found, symbol may be delisted
- T$A: No timezone found, symbol may be delisted
- HIL: No timezone found, symbol may be delisted
- PBFX: No timezone found, symbol may be delisted
- PLAN: No timezone found, symbol may be delisted
- VOLVY: No data found for this date range, symbol may be delisted
- ASBC: No data found for this date range, symbol may be delisted
- ECOM: No timezone found, symbol may be delisted
- DISCA: No timezone found, symbol may be delisted
- MTBC: No timezone found, symbol may be delisted
- BLL: No timezone found, symbol may be delisted
- BRK.A: No timezone found, symbol may be delisted
- SI: No timezone found, symbol may be delisted
- TLRN: No data found for this date range, symbol may be delisted
- COUP: No timezone found, symbol may be delisted
- SKHCY: No timezone found, symbol may be delisted
- BANC$E: No timezone found, symbol may be delisted
- Y: No timezone found, symbol may be delisted
- CS: No timezone found, symbol may be delisted
- KMI-W: No timezone found, symbol may be delisted
- AXTE: Period 'max' is invalid, must be one of ['1d', '5d']
- BKEPP: No timezone found, symbol may be delisted
- INSW.V: No timezone found, symbol may be delisted
- RNWK: No timezone found, symbol may be delisted
- RTN: No timezone found, symbol may be delisted
- PYPLV: No timezone found, symbol may be delisted
- IAA: No timezone found, symbol may be delisted
- ANTM: No timezone found, symbol may be delisted
- PSXP: No timezone found, symbol may be delisted
- SRE$A: No timezone found, symbol may be delisted

In [2]:
#Take the original dataframe from the Ticker_Data.py file
og_data

             Adj Close                                                 \
                     A         AA      AAGIY AAIC$B AAM$A         AAP
Date
2021-08-23  167.862350  40.411308  47.843948    NaN   NaN  195.592056
2021-08-24  168.425171  41.413975  47.121670    NaN   NaN  195.601456
2021-08-25  171.120865  41.345161  47.189079    NaN   NaN  199.800034
2021-08-26  171.407227  40.716034  46.447536    NaN   NaN  196.580505
2021-08-27  171.624451  43.379982  47.150562    NaN   NaN  191.873566
...                ...        ...        ...    ...   ...         ...
2023-08-15  125.650002  30.340000  35.610001    NaN   NaN   69.730003
2023-08-16  121.360001  29.309999  35.240002    NaN   NaN   69.870003
2023-08-17  120.849998  29.110001  35.650002    NaN   NaN   69.459999
2023-08-18  119.250000  28.969999  35.240002    NaN   NaN   69.830002
2023-08-21  118.860001  28.590000  34.349998    NaN   NaN   68.199997

                                                        ...   Volume           \
                  AAPL        AAT      AATC      AAVMY  ...      YUM     YUMC
Date                                                    ...
2021-08-23  147.997772  34.694260  6.010661  10.796684  ...   948600  2313800
2021-08-24  147.908798  34.913906  5.967851  10.875897  ...  1079800  2968700
2021-08-25  146.663239  35.032875  6.284652  10.994717  ...   856200  1916400
2021-08-26  145.852615  34.858994  6.507269  10.844212  ...  1541800  2298000
2021-08-27  146.900482  36.048717  6.567204  10.973329  ...  1263000  1283300
...                ...        ...       ...        ...  ...      ...      ...
2023-08-15  177.449997  21.260000  5.460000  14.593046  ...  1247500  1319000
2023-08-16  176.570007  20.969999  5.590000  14.506979  ...  2082800  2100100
2023-08-17  174.000000  20.850000  5.650000  14.966000  ...  1582700  1470500
2023-08-18  174.490005  20.900000  5.720000  14.430000  ...  1307700  2859600
2023-08-21  175.839996  20.620001  5.710000  14.500000  ...  1537100  2101300

                                                                          \
                  Z      ZBH      ZIMV  ZLNDY       ZM       ZS      ZTS
Date
2021-08-23  3488700  1131043       NaN   8000  2147300  1148100  1081600
2021-08-24  3497400  2439761       NaN  10300  1778100  1663600   978700
2021-08-25  2653900  1715053       NaN   3700  2039200  1458100   780700
2021-08-26  2670400  1127438       NaN   5700  4849000  1713400   957600
2021-08-27  2256200  1114048       NaN   7100  3096200  1315300   855300
...             ...      ...       ...    ...      ...      ...      ...
2023-08-15  2159800   994800  104700.0  11100  2567500  1147700  1001200
2023-08-16  4443700   943800  101000.0  11700  2080800   898700  1205300
2023-08-17  4340600  1007100  143100.0  29500  2315600  1594800  2197100
2023-08-18  2740100  1329600  161200.0  20300  3202900  1703500  2027200
2023-08-21  2195300  1248100   89100.0  44900  9917400  2411300   860200


            ZURVY
Date
2021-08-23  36400
2021-08-24  28400
2021-08-25  45400
2021-08-26  61100
2021-08-27  24300
...           ...
2023-08-15  76200
2023-08-16  55400
2023-08-17  57200
2023-08-18  75000
2023-08-21  74100

[502 rows x 9126 columns]

In [3]:
#Take out all of the Close prices and transform them into mergable data
Close = og_data.loc[:, ("Close")]
Close = Close.reset_index()
Close = Close.rename(columns={'Date': 'TransactionDate'})
#Close["TransactionDate - 30 Days Prior"] = Close['TransactionDate']
Close

,TransactionDate,A,AA,AAGIY,AAIC$B,AAM$A,AAP,AAPL,AAT,AATC,...,YUM,YUMC,Z,ZBH,ZIMV,ZLNDY,ZM,ZS,ZTS,ZURVY
0,2021-08-23,170.000000,41.110001,49.680000,NaN,NaN,207.770004,149.710007,37.910000,7.02,...,134.899994,60.180000,97.830002,141.106796,NaN,55.577000,341.299988,250.809998,206.470001,44.599998
1,2021-08-24,170.570007,42.130001,48.930000,NaN,NaN,207.779999,149.619995,38.150002,6.97,...,133.539993,61.009998,97.510002,144.407761,NaN,55.744999,340.250000,257.970001,204.990005,44.590000
2,2021-08-25,173.300003,42.060001,49.000000,NaN,NaN,212.240005,148.360001,38.279999,7.34,...,134.440002,61.160000,99.959999,146.009705,NaN,56.147999,337.739990,263.029999,204.429993,44.330002
3,2021-08-26,173.589996,41.419998,48.230000,NaN,NaN,208.820007,147.539993,38.090000,7.60,...,131.399994,60.299999,97.690002,145.233017,NaN,55.458000,340.630005,266.970001,204.020004,43.759998
4,2021-08-27,173.809998,44.130001,48.959999,NaN,NaN,203.820007,148.600006,39.389999,7.67,...,131.699997,60.360001,99.239998,145.699036,NaN,55.465000,340.809998,273.730011,203.820007,44.189999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,2023-08-15,125.650002,30.340000,35.610001,NaN,NaN,69.730003,177.449997,21.260000,5.46,...,132.720001,54.450001,54.770000,122.519997,12.31,14.920000,66.059998,142.710007,189.149994,46.820000
498,2023-08-16,121.360001,29.309999,35.240002,NaN,NaN,69.870003,176.570007,20.969999,5.59,...,131.559998,53.869999,51.570000,120.980003,12.06,14.760000,65.375000,140.130005,186.270004,46.560001
499,2023-08-17,120.849998,29.110001,35.650002,NaN,NaN,69.459999,174.000000,20.850000,5.65,...,129.919998,54.349998,50.680000,119.440002,11.91,14.770000,65.360001,135.649994,182.770004,46.340000
500,2023-08-18,119.250000,28.969999,35.240002,NaN,NaN,69.830002,174.490005,20.900000,5.72,...,129.119995,52.759998,50.869999,119.180000,11.73,14.370000,66.290001,136.210007,181.570007,46.000000
501,2023-08-21,118.860001,28.590000,34.349998,NaN,NaN,68.199997,175.839996,20.620001,5.71,...,128.800003,53.040001,49.130001,120.349998,11.58,14.520000,67.269997,142.779999,180.809998,46.450001

In [4]:
#Take out all of the Close prices and transform them into mergable data
Close_30day = og_data.loc[:, ("Close")]
Close_30day = Close_30day.reset_index()
Close_30day = Close_30day.rename(columns={'Date': 'TransactionDate - 30 Days Prior'})
Close_30day

,TransactionDate - 30 Days Prior,A,AA,AAGIY,AAIC$B,AAM$A,AAP,AAPL,AAT,AATC,...,YUM,YUMC,Z,ZBH,ZIMV,ZLNDY,ZM,ZS,ZTS,ZURVY
0,2021-08-23,170.000000,41.110001,49.680000,NaN,NaN,207.770004,149.710007,37.910000,7.02,...,134.899994,60.180000,97.830002,141.106796,NaN,55.577000,341.299988,250.809998,206.470001,44.599998
1,2021-08-24,170.570007,42.130001,48.930000,NaN,NaN,207.779999,149.619995,38.150002,6.97,...,133.539993,61.009998,97.510002,144.407761,NaN,55.744999,340.250000,257.970001,204.990005,44.590000
2,2021-08-25,173.300003,42.060001,49.000000,NaN,NaN,212.240005,148.360001,38.279999,7.34,...,134.440002,61.160000,99.959999,146.009705,NaN,56.147999,337.739990,263.029999,204.429993,44.330002
3,2021-08-26,173.589996,41.419998,48.230000,NaN,NaN,208.820007,147.539993,38.090000,7.60,...,131.399994,60.299999,97.690002,145.233017,NaN,55.458000,340.630005,266.970001,204.020004,43.759998
4,2021-08-27,173.809998,44.130001,48.959999,NaN,NaN,203.820007,148.600006,39.389999,7.67,...,131.699997,60.360001,99.239998,145.699036,NaN,55.465000,340.809998,273.730011,203.820007,44.189999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,2023-08-15,125.650002,30.340000,35.610001,NaN,NaN,69.730003,177.449997,21.260000,5.46,...,132.720001,54.450001,54.770000,122.519997,12.31,14.920000,66.059998,142.710007,189.149994,46.820000
498,2023-08-16,121.360001,29.309999,35.240002,NaN,NaN,69.870003,176.570007,20.969999,5.59,...,131.559998,53.869999,51.570000,120.980003,12.06,14.760000,65.375000,140.130005,186.270004,46.560001
499,2023-08-17,120.849998,29.110001,35.650002,NaN,NaN,69.459999,174.000000,20.850000,5.65,...,129.919998,54.349998,50.680000,119.440002,11.91,14.770000,65.360001,135.649994,182.770004,46.340000
500,2023-08-18,119.250000,28.969999,35.240002,NaN,NaN,69.830002,174.490005,20.900000,5.72,...,129.119995,52.759998,50.869999,119.180000,11.73,14.370000,66.290001,136.210007,181.570007,46.000000
501,2023-08-21,118.860001,28.590000,34.349998,NaN,NaN,68.199997,175.839996,20.620001,5.71,...,128.800003,53.040001,49.130001,120.349998,11.58,14.520000,67.269997,142.779999,180.809998,46.450001

In [60]:
#Take out all of the Close prices and transform them into mergable data
Close_Current = og_data.loc[:, ("Close")]
Close_Current = Close_Current.reset_index()
Close_Current = Close_Current.rename(columns={'Date': "Latest Close Date"})
Close_Current

,Latest Close Date,A,AA,AAGIY,AAIC$B,AAM$A,AAP,AAPL,AAT,AATC,...,YUM,YUMC,Z,ZBH,ZIMV,ZLNDY,ZM,ZS,ZTS,ZURVY
0,2021-08-23,170.000000,41.110001,49.680000,NaN,NaN,207.770004,149.710007,37.910000,7.02,...,134.899994,60.180000,97.830002,141.106796,NaN,55.577000,341.299988,250.809998,206.470001,44.599998
1,2021-08-24,170.570007,42.130001,48.930000,NaN,NaN,207.779999,149.619995,38.150002,6.97,...,133.539993,61.009998,97.510002,144.407761,NaN,55.744999,340.250000,257.970001,204.990005,44.590000
2,2021-08-25,173.300003,42.060001,49.000000,NaN,NaN,212.240005,148.360001,38.279999,7.34,...,134.440002,61.160000,99.959999,146.009705,NaN,56.147999,337.739990,263.029999,204.429993,44.330002
3,2021-08-26,173.589996,41.419998,48.230000,NaN,NaN,208.820007,147.539993,38.090000,7.60,...,131.399994,60.299999,97.690002,145.233017,NaN,55.458000,340.630005,266.970001,204.020004,43.759998
4,2021-08-27,173.809998,44.130001,48.959999,NaN,NaN,203.820007,148.600006,39.389999,7.67,...,131.699997,60.360001,99.239998,145.699036,NaN,55.465000,340.809998,273.730011,203.820007,44.189999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,2023-08-15,125.650002,30.340000,35.610001,NaN,NaN,69.730003,177.449997,21.260000,5.46,...,132.720001,54.450001,54.770000,122.519997,12.31,14.920000,66.059998,142.710007,189.149994,46.820000
498,2023-08-16,121.360001,29.309999,35.240002,NaN,NaN,69.870003,176.570007,20.969999,5.59,...,131.559998,53.869999,51.570000,120.980003,12.06,14.760000,65.375000,140.130005,186.270004,46.560001
499,2023-08-17,120.849998,29.110001,35.650002,NaN,NaN,69.459999,174.000000,20.850000,5.65,...,129.919998,54.349998,50.680000,119.440002,11.91,14.770000,65.360001,135.649994,182.770004,46.340000
500,2023-08-18,119.250000,28.969999,35.240002,NaN,NaN,69.830002,174.490005,20.900000,5.72,...,129.119995,52.759998,50.869999,119.180000,11.73,14.370000,66.290001,136.210007,181.570007,46.000000
501,2023-08-21,118.860001,28.590000,34.349998,NaN,NaN,68.199997,175.839996,20.620001,5.71,...,128.800003,53.040001,49.130001,120.349998,11.58,14.520000,67.269997,142.779999,180.809998,46.450001

In [6]:
#API call to retrieve JSON data of people in congress and transactions

url = "https://api.quiverquant.com/beta/bulk/congresstrading"

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 77edeff3a3bd2fa2e10472e0536c0d166c147afa"
}

response = requests.get(url, headers=headers).json()

In [7]:
#For loop to get all congress names and transactions into list

list_series = []

for row in response:
    list_series.append(pd.Series(row))
    column_names = response

In [8]:
#put list into dataframe
congress_df = pd.DataFrame(data=list_series)
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Josh Gottheimer,2023-08-21,2023-07-27,ABBV,Sale,"$1,001-$15,000",Representatives,1001.0,D
1,Josh Gottheimer,2023-08-21,2023-07-25,FCX,Sale,"$1,001-$15,000",Representatives,1001.0,D
2,Josh Gottheimer,2023-08-21,2023-07-24,AMD,Purchase,"$1,001-$15,000",Representatives,1001.0,D
3,Josh Gottheimer,2023-08-21,2023-07-21,HLN,Purchase,"$1,001-$15,000",Representatives,1001.0,D
4,Josh Gottheimer,2023-08-21,2023-07-20,KUBTY,Sale,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
30802,Sheldon Whitehouse,2016-01-20,2016-01-05,NVDA,Purchase,"$1,001 - $15,000",Senate,1001.0,D
30803,Bill Cassidy,2016-01-12,2016-01-05,AAPL,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30804,Bill Cassidy,2016-01-12,2016-01-05,CMI,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30805,Bill Cassidy,2016-01-12,2016-01-05,INTC,Sale,"$1,001 - $15,000",Senate,1001.0,R
30806,John Hoeven,2016-01-12,2016-01-06,UA,Purchase,"$50,001 - $100,000",Senate,50001.0,R

In [10]:
#Define list of active senators by seeing who made a transaction within the last 3 months
Active_Congress = congress_df[congress_df["TransactionDate"] > "2022-01-01"]
Active_Congress['Representative'].value_counts()

Daniel Goldman      1134
Josh Gottheimer      697
Tommy Tuberville     509
Kathy Manning        448
Virginia Foxx        310
                    ...
Austin Scott           1
John Thune             1
Maria Cantwell         1
Marcy Kaptur           1
Tammy Duckworth        1
Name: Representative, Length: 111, dtype: int64

In [11]:
#Count transactions per senator
congress_df['Representative'].value_counts().head(10)

David Perdue         2541
Josh Gottheimer      2040
Gilbert Cisneros     1218
Susie Lee            1191
Daniel Goldman       1134
Greg Gianforte       1118
Dean Phillips         963
Alan S. Lowenthal     941
Lois Frankel          776
Tommy Tuberville      764
Name: Representative, dtype: int64

In [12]:
#Count most traded tickers
congress_df['Ticker'].value_counts().head(10)

AAPL    524
MSFT    408
AMZN    244
DIS     219
NVDA    218
T       194
PFE     186
PYPL    171
FB      168
XOM     163
Name: Ticker, dtype: int64

In [13]:
Congress_unique = Active_Congress
Congress_unique["Ticker"] = Congress_unique["Ticker"].str.replace("BRK.B", "BRK-B")
Congress_unique["Ticker"] = Congress_unique["Ticker"].str.replace("HEI.A", "HEI-A")
Congress_unique["Ticker"] = Congress_unique["Ticker"].str.replace("FB", "META")
Congress_unique["Ticker"] = Congress_unique["Ticker"].str.replace("BF.B", "BF-B")
Congress_unique["Ticker"] = Congress_unique["Ticker"].str.replace("LGF.B", "LGF-B")
Congress_unique["Ticker"] = Congress_unique["Ticker"].str.replace("KMI.W", "KMI-W")
Congress_unique["Ticker"] = Congress_unique["Ticker"].str.replace("CWEN.A", "CWEN-A")
Congress_unique["Ticker"] = Congress_unique["Ticker"].str.replace("ABB", "ABBNY")

In [14]:
Congress_unique_1 = Congress_unique["Ticker"].unique()
Congress_list = Congress_unique_1.tolist()

# Representative DataFrames

In [15]:
Bad_Data_List = ["MS$P", "Y", "PLAN", "AAIC$B", "PYPLV", "SI", "TLRN", "HIL", "ANTM", "AZSEY", "AQUA", "FRC", "AXHE", "IAA", "PSXP",
"PBFX", "MNRL", "DUK$A", "AAM$A", "ECOM", "SSLTY", "CERN", "ESALY", "CS", "RNWK", "MAXR", "NTT",
"LHCG", "AXTE", "GNKOQ", "INSW.V", "DRE", "NEE$Q", "HSAC", "ECOL", "BRCM", "BRMK", "FISV", "SKHCY",
"SIRE", "LMST", "FMBA", "BANC$E", "SIVB", "RDSMY", "BLL", "PBCT", "MTBC", "VTRSV", "SCHW$D", 
"CSII", "CCXI", "DNHBY", "COUP", "VOLVY", "ASBC", "CDEV", "DISCA", "CVET", "HTZWW", "BKEPP", "TWTR",
"RTN", "SRLP", "SRE$A", "T$A"]

In [16]:
Congress_Clean = Active_Congress[~Active_Congress["Ticker"].isin(Bad_Data_List)]
Congress_Clean

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Josh Gottheimer,2023-08-21,2023-07-27,ABBNYV,Sale,"$1,001-$15,000",Representatives,1001.0,D
1,Josh Gottheimer,2023-08-21,2023-07-25,FCX,Sale,"$1,001-$15,000",Representatives,1001.0,D
2,Josh Gottheimer,2023-08-21,2023-07-24,AMD,Purchase,"$1,001-$15,000",Representatives,1001.0,D
3,Josh Gottheimer,2023-08-21,2023-07-21,HLN,Purchase,"$1,001-$15,000",Representatives,1001.0,D
4,Josh Gottheimer,2023-08-21,2023-07-20,KUBTY,Sale,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
6448,Andrew Garbarino,2022-01-14,2022-01-14,ORMP,Sale,"$1,001-$15,000",Representatives,1001.0,R
6505,Daniel Crenshaw,2022-01-10,2022-01-10,FAS,Sale,"$15,001-$50,000",Representatives,15001.0,R
6562,Gary Peters,2022-01-08,2022-01-03,IBM,Purchase,"$1,001 - $15,000",Senate,1001.0,D
6564,Deborah K. Ross,2022-01-08,2022-01-04,MSFT,Sale,"$1,001-$15,000",Representatives,1001.0,D
6573,Bob Gibbs,2022-01-06,2022-01-06,TGT,Purchase,"$15,001-$50,000",Representatives,15001.0,R

In [17]:
#Update data types so that they can be merged with financial data
Congress_Clean["TransactionDate"] = pd.to_datetime(Congress_Clean["TransactionDate"], format="%Y-%m-%d")
Congress_Clean["ReportDate"] = pd.to_datetime(Congress_Clean["ReportDate"], format="%Y-%m-%d")
Congress_Clean.dtypes

Representative             object
ReportDate         datetime64[ns]
TransactionDate    datetime64[ns]
Ticker                     object
Transaction                object
Range                      object
House                      object
Amount                    float64
Party                      object
dtype: object

# Sale Data

In [18]:
#put list of ONLY SALE into dataframe
Congress_Clean_sale = Congress_Clean[Congress_Clean["Transaction"] == "Sale"]
Congress_Clean_sale

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Josh Gottheimer,2023-08-21,2023-07-27,ABBNYV,Sale,"$1,001-$15,000",Representatives,1001.0,D
1,Josh Gottheimer,2023-08-21,2023-07-25,FCX,Sale,"$1,001-$15,000",Representatives,1001.0,D
4,Josh Gottheimer,2023-08-21,2023-07-20,KUBTY,Sale,"$1,001-$15,000",Representatives,1001.0,D
5,Josh Gottheimer,2023-08-21,2023-07-20,AAGIY,Sale,"$1,001-$15,000",Representatives,1001.0,D
9,Josh Gottheimer,2023-08-21,2023-07-19,ADYEY,Sale,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
6424,Mark Dr Green,2022-01-18,2022-01-06,PAA,Sale,"$500,001",Representatives,500001.0,R
6428,David Cheston Rouzer,2022-01-17,2022-01-14,PINS,Sale,"$1,001-$15,000",Representatives,1001.0,R
6448,Andrew Garbarino,2022-01-14,2022-01-14,ORMP,Sale,"$1,001-$15,000",Representatives,1001.0,R
6505,Daniel Crenshaw,2022-01-10,2022-01-10,FAS,Sale,"$15,001-$50,000",Representatives,15001.0,R
6564,Deborah K. Ross,2022-01-08,2022-01-04,MSFT,Sale,"$1,001-$15,000",Representatives,1001.0,D

In [19]:
#check datatypes in Close dataframe
Close.dtypes

TransactionDate    datetime64[ns]
A                         float64
AA                        float64
AAGIY                     float64
AAIC$B                    float64
                        ...
ZLNDY                     float64
ZM                        float64
ZS                        float64
ZTS                       float64
ZURVY                     float64
Length: 1522, dtype: object

In [20]:
#check datatypes in Close dataframe
Congress_Clean_sale.dtypes

Representative             object
ReportDate         datetime64[ns]
TransactionDate    datetime64[ns]
Ticker                     object
Transaction                object
Range                      object
House                      object
Amount                    float64
Party                      object
dtype: object

In [21]:
# Convert 'TransactionDate' column to datetime for both dataframes
Close['TransactionDate'] = pd.to_datetime(Close['TransactionDate'])

In [22]:
## Convert 'TransactionDate' column to datetime for Dan Goldman dataframes
Congress_Clean_sale['TransactionDate'] = pd.to_datetime(Congress_Clean_sale['TransactionDate'])

In [23]:
def get_price(row):
    target_date = row['TransactionDate'] - pd.Timedelta(days=30)
    ticker = row['Ticker']
    # Only process rows with "Sale" in the Transaction column
    if row['Transaction'] != 'Sale':
        return None
    # Check if the date exists in Close and if the ticker is a valid column in Close
    if target_date in Close['TransactionDate'].values and ticker in Close.columns:
        # Return the price for the given ticker and date
        return Close.loc[Close['TransactionDate'] == target_date, ticker].values[0]
    # If there's no match, return a placeholder
    return None

In [24]:
#Create a column for the ticker price 30 days ago
Congress_Clean_sale['Price - 30 Days Prior'] = Congress_Clean_sale.apply(get_price, axis=1)

In [25]:
#Create a column for the ticker price 30 days ago
#Congress_Clean['Price - 30 Days Prior'] = Congress_Clean.apply(get_price, axis=1)
#Congress_Clean

In [26]:
#Check if un-attainable tickers are in dataframe or not
Congress_Clean_sale[Congress_Clean_sale["Ticker"] == "EASLY"]

Empty DataFrame
Columns: [Representative, ReportDate, TransactionDate, Ticker, Transaction, Range, House, Amount, Party, Price - 30 Days Prior]
Index: []

In [27]:
#view updated dataframe
Congress_Clean_sale = Congress_Clean_sale.reset_index()
Congress_Clean_sale

,index,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Price - 30 Days Prior
0,0,Josh Gottheimer,2023-08-21,2023-07-27,ABBNYV,Sale,"$1,001-$15,000",Representatives,1001.0,D,NaN
1,1,Josh Gottheimer,2023-08-21,2023-07-25,FCX,Sale,"$1,001-$15,000",Representatives,1001.0,D,NaN
2,4,Josh Gottheimer,2023-08-21,2023-07-20,KUBTY,Sale,"$1,001-$15,000",Representatives,1001.0,D,75.029999
3,5,Josh Gottheimer,2023-08-21,2023-07-20,AAGIY,Sale,"$1,001-$15,000",Representatives,1001.0,D,41.130001
4,9,Josh Gottheimer,2023-08-21,2023-07-19,ADYEY,Sale,"$1,001-$15,000",Representatives,1001.0,D,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3182,6424,Mark Dr Green,2022-01-18,2022-01-06,PAA,Sale,"$500,001",Representatives,500001.0,R,9.590000
3183,6428,David Cheston Rouzer,2022-01-17,2022-01-14,PINS,Sale,"$1,001-$15,000",Representatives,1001.0,R,36.049999
3184,6448,Andrew Garbarino,2022-01-14,2022-01-14,ORMP,Sale,"$1,001-$15,000",Representatives,1001.0,R,15.090000
3185,6505,Daniel Crenshaw,2022-01-10,2022-01-10,FAS,Sale,"$15,001-$50,000",Representatives,15001.0,R,NaN
3186,6564,Deborah K. Ross,2022-01-08,2022-01-04,MSFT,Sale,"$1,001-$15,000",Representatives,1001.0,D,NaN

In [28]:
#confirm that renamed and erased tickers are updated
display(Congress_Clean_sale[Congress_Clean_sale["Ticker"] == "BRK-B"])
display(Congress_Clean_sale[Congress_Clean_sale["Ticker"] == "EASLY"])

,index,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Price - 30 Days Prior
761,1115,Zoe Lofgren,2023-06-06,2023-05-25,BRK-B,Sale,"$1,001-$15,000",Representatives,1001.0,D,324.339996
1377,2292,Daniel Goldman,2023-03-20,2023-02-03,BRK-B,Sale,"$1,001-$15,000",Representatives,1001.0,D,314.549988
1455,2431,Scott Mr Franklin,2023-03-07,2023-02-15,BRK-B,Sale,"$50,001-$100,000",Representatives,50001.0,,NaN
2074,3704,Kathy Manning,2022-11-10,2022-10-12,BRK-B,Sale,"$1,001-$15,000",Representatives,1001.0,D,288.510010
2442,4731,Tommy Tuberville,2022-07-13,2022-06-17,BRK-B,Sale,"$100,001 - $250,000",Senate,100001.0,R,306.640015
2594,5095,Josh Gottheimer,2022-05-16,2022-04-01,BRK-B,Sale,"$1,001-$15,000",Representatives,1001.0,D,323.640015
2761,5389,Michael C. Burgess,2022-04-15,2022-03-18,BRK-B,Sale,"$15,001-$50,000",Representatives,15001.0,R,315.649994
2944,5849,Donald Sternoff Beyer Jr.,2022-03-03,2022-02-28,BRK-B,Sale,"$1,001-$15,000",Representatives,1001.0,D,NaN
3159,6336,Donald Sternoff Beyer Jr.,2022-02-01,2022-01-20,BRK-B,Sale,"$15,001-$50,000",Representatives,15001.0,D,293.239990

Empty DataFrame
Columns: [index, Representative, ReportDate, TransactionDate, Ticker, Transaction, Range, House, Amount, Party, Price - 30 Days Prior]
Index: []

In [29]:
# Change ReportDate to datetime and check
Congress_Clean_sale["ReportDate"] = pd.to_datetime(Congress_Clean_sale["ReportDate"], format="%Y-%m-%d")
Congress_Clean_sale.dtypes

index                             int64
Representative                   object
ReportDate               datetime64[ns]
TransactionDate          datetime64[ns]
Ticker                           object
Transaction                      object
Range                            object
House                            object
Amount                          float64
Party                            object
Price - 30 Days Prior           float64
dtype: object

## Check the Price - 30 Days Prior Data

In [30]:
#find the null values
na_congress = Congress_Clean_sale.isna()
na_congress[na_congress["Price - 30 Days Prior"] == True]

,index,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Price - 30 Days Prior
0,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
3156,False,False,False,False,False,False,False,False,False,False,True
3163,False,False,False,False,False,False,False,False,False,False,True
3174,False,False,False,False,False,False,False,False,False,False,True
3185,False,False,False,False,False,False,False,False,False,False,True
3186,False,False,False,False,False,False,False,False,False,False,True

In [31]:
# check to confirm ticker and that it is null
display(Congress_Clean_sale.iloc[1])

index                                      1
Representative               Josh Gottheimer
ReportDate               2023-08-21 00:00:00
TransactionDate          2023-07-25 00:00:00
Ticker                                   FCX
Transaction                             Sale
Range                         $1,001-$15,000
House                        Representatives
Amount                                1001.0
Party                                      D
Price - 30 Days Prior                    NaN
Name: 1, dtype: object

In [32]:
#check Yahoo data to confirm taht it is null 30 days prior to transaction date
null_test = Close[Close["TransactionDate"] == "2023-06-25"]
null_test["FCX"]

Series([], Name: FCX, dtype: float64)

In [ ]:
# We have 578 null values for data that does not have a price 30 days prior to its transaction
# - May need to review our time hporizons

# Merge Close prices and add columns for calcs

In [33]:
Congress_Clean

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Josh Gottheimer,2023-08-21,2023-07-27,ABBNYV,Sale,"$1,001-$15,000",Representatives,1001.0,D
1,Josh Gottheimer,2023-08-21,2023-07-25,FCX,Sale,"$1,001-$15,000",Representatives,1001.0,D
2,Josh Gottheimer,2023-08-21,2023-07-24,AMD,Purchase,"$1,001-$15,000",Representatives,1001.0,D
3,Josh Gottheimer,2023-08-21,2023-07-21,HLN,Purchase,"$1,001-$15,000",Representatives,1001.0,D
4,Josh Gottheimer,2023-08-21,2023-07-20,KUBTY,Sale,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
6448,Andrew Garbarino,2022-01-14,2022-01-14,ORMP,Sale,"$1,001-$15,000",Representatives,1001.0,R
6505,Daniel Crenshaw,2022-01-10,2022-01-10,FAS,Sale,"$15,001-$50,000",Representatives,15001.0,R
6562,Gary Peters,2022-01-08,2022-01-03,IBM,Purchase,"$1,001 - $15,000",Senate,1001.0,D
6564,Deborah K. Ross,2022-01-08,2022-01-04,MSFT,Sale,"$1,001-$15,000",Representatives,1001.0,D
6573,Bob Gibbs,2022-01-06,2022-01-06,TGT,Purchase,"$15,001-$50,000",Representatives,15001.0,R

In [34]:
Congress_Clean["TransactionDate - 30 Days Prior"] = (Congress_Clean["TransactionDate"] - pd.Timedelta(days=30))

In [70]:
# Merge Close Data
df_close = Close.melt(id_vars='TransactionDate', var_name='Ticker', value_name='Transaction Close')
#df.dtypes
#Daniel_Goldman_Clean.dtypes
CC1 = Congress_Clean.merge(df_close, on = ["TransactionDate",'Ticker'])
CC1

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,TransactionDate - 30 Days Prior,Transaction Close
0,Josh Gottheimer,2023-08-21,2023-07-25,FCX,Sale,"$1,001-$15,000",Representatives,1001.0,D,2023-06-25,43.689999
1,Josh Gottheimer,2023-08-21,2023-07-24,AMD,Purchase,"$1,001-$15,000",Representatives,1001.0,D,2023-06-24,110.610001
2,Josh Gottheimer,2023-08-21,2023-07-21,HLN,Purchase,"$1,001-$15,000",Representatives,1001.0,D,2023-06-21,8.890000
3,Josh Gottheimer,2023-08-21,2023-07-20,KUBTY,Sale,"$1,001-$15,000",Representatives,1001.0,D,2023-06-20,72.389999
4,Josh Gottheimer,2023-08-21,2023-07-20,AAGIY,Sale,"$1,001-$15,000",Representatives,1001.0,D,2023-06-20,39.590000
...,...,...,...,...,...,...,...,...,...,...,...
5616,Andrew Garbarino,2022-01-14,2022-01-14,ORMP,Sale,"$1,001-$15,000",Representatives,1001.0,R,2021-12-15,11.050000
5617,Daniel Crenshaw,2022-01-10,2022-01-10,FAS,Sale,"$15,001-$50,000",Representatives,15001.0,R,2021-12-11,148.529999
5618,Gary Peters,2022-01-08,2022-01-03,IBM,Purchase,"$1,001 - $15,000",Senate,1001.0,D,2021-12-04,136.039993
5619,Deborah K. Ross,2022-01-08,2022-01-04,MSFT,Sale,"$1,001-$15,000",Representatives,1001.0,D,2021-12-05,329.010010
5620,Bob Gibbs,2022-01-06,2022-01-06,TGT,Purchase,"$15,001-$50,000",Representatives,15001.0,R,2021-12-07,231.350006

In [36]:
df_close

       TransactionDate Ticker       Close
0           2021-08-23      A  170.000000
1           2021-08-24      A  170.570007
2           2021-08-25      A  173.300003
3           2021-08-26      A  173.589996
4           2021-08-27      A  173.809998
...                ...    ...         ...
763537      2023-08-15  ZURVY   46.820000
763538      2023-08-16  ZURVY   46.560001
763539      2023-08-17  ZURVY   46.340000
763540      2023-08-18  ZURVY   46.000000
763541      2023-08-21  ZURVY   46.450001

[763542 rows x 3 columns]

## Create median of range value

In [71]:
#Reorder columns
CC1 = CC1[["Representative",
     "House",
     "Party",
     "Ticker",
     "ReportDate",
     "TransactionDate",
     "TransactionDate - 30 Days Prior",
     "Transaction",
     "Transaction Close"]]
CC1

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Transaction Close
0,Josh Gottheimer,Representatives,D,FCX,2023-08-21,2023-07-25,2023-06-25,Sale,43.689999
1,Josh Gottheimer,Representatives,D,AMD,2023-08-21,2023-07-24,2023-06-24,Purchase,110.610001
2,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-21,2023-06-21,Purchase,8.890000
3,Josh Gottheimer,Representatives,D,KUBTY,2023-08-21,2023-07-20,2023-06-20,Sale,72.389999
4,Josh Gottheimer,Representatives,D,AAGIY,2023-08-21,2023-07-20,2023-06-20,Sale,39.590000
...,...,...,...,...,...,...,...,...,...
5616,Andrew Garbarino,Representatives,R,ORMP,2022-01-14,2022-01-14,2021-12-15,Sale,11.050000
5617,Daniel Crenshaw,Representatives,R,FAS,2022-01-10,2022-01-10,2021-12-11,Sale,148.529999
5618,Gary Peters,Senate,D,IBM,2022-01-08,2022-01-03,2021-12-04,Purchase,136.039993
5619,Deborah K. Ross,Representatives,D,MSFT,2022-01-08,2022-01-04,2021-12-05,Sale,329.010010
5620,Bob Gibbs,Representatives,R,TGT,2022-01-06,2022-01-06,2021-12-07,Purchase,231.350006

In [72]:
#Many of the tickers that were traded do not have data for 30 days prior to the transation.  
#We may need to change our time horizon for the hold duration - It removes ~500 rows of data

#Merge Close price with Price - 30 Days Prior
df_close_sale = Close_30day.melt(id_vars="TransactionDate - 30 Days Prior", var_name='Ticker', value_name="Price - 30 Days Prior")
#df.dtypes
#Daniel_Goldman_Clean.dtypes
CC2 = CC1.merge(df_close_sale, on = ["TransactionDate - 30 Days Prior",'Ticker'])
CC2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Transaction Close,Price - 30 Days Prior
0,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-21,2023-06-21,Purchase,8.890000,8.340000
1,Josh Gottheimer,Representatives,D,KUBTY,2023-08-21,2023-07-20,2023-06-20,Sale,72.389999,75.029999
2,Josh Gottheimer,Representatives,D,AAGIY,2023-08-21,2023-07-20,2023-06-20,Sale,39.590000,41.130001
3,Josh Gottheimer,Representatives,D,GMAB,2023-08-21,2023-07-20,2023-06-20,Purchase,41.450001,38.419998
4,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-20,2023-06-20,Purchase,8.750000,8.260000
...,...,...,...,...,...,...,...,...,...,...
2877,Mark Dr Green,Representatives,R,USAC,2022-01-18,2022-01-06,2021-12-07,Purchase,17.010000,15.090000
2878,David Cheston Rouzer,Representatives,R,PINS,2022-01-17,2022-01-14,2021-12-15,Sale,32.830002,36.049999
2879,Andrew Garbarino,Representatives,R,TELL,2022-01-14,2022-01-14,2021-12-15,Purchase,3.180000,3.010000
2880,Andrew Garbarino,Representatives,R,ORMP,2022-01-14,2022-01-14,2021-12-15,Sale,11.050000,15.090000
2881,Bob Gibbs,Representatives,R,TGT,2022-01-06,2022-01-06,2021-12-07,Purchase,231.350006,245.630005

In [73]:
CC2["Price - 30 Days Prior"] = CC2["Price - 30 Days Prior"].where(CC2["Transaction"] == "Sale", other=0)
CC2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Transaction Close,Price - 30 Days Prior
0,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-21,2023-06-21,Purchase,8.890000,0.000000
1,Josh Gottheimer,Representatives,D,KUBTY,2023-08-21,2023-07-20,2023-06-20,Sale,72.389999,75.029999
2,Josh Gottheimer,Representatives,D,AAGIY,2023-08-21,2023-07-20,2023-06-20,Sale,39.590000,41.130001
3,Josh Gottheimer,Representatives,D,GMAB,2023-08-21,2023-07-20,2023-06-20,Purchase,41.450001,0.000000
4,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-20,2023-06-20,Purchase,8.750000,0.000000
...,...,...,...,...,...,...,...,...,...,...
2877,Mark Dr Green,Representatives,R,USAC,2022-01-18,2022-01-06,2021-12-07,Purchase,17.010000,0.000000
2878,David Cheston Rouzer,Representatives,R,PINS,2022-01-17,2022-01-14,2021-12-15,Sale,32.830002,36.049999
2879,Andrew Garbarino,Representatives,R,TELL,2022-01-14,2022-01-14,2021-12-15,Purchase,3.180000,0.000000
2880,Andrew Garbarino,Representatives,R,ORMP,2022-01-14,2022-01-14,2021-12-15,Sale,11.050000,15.090000
2881,Bob Gibbs,Representatives,R,TGT,2022-01-06,2022-01-06,2021-12-07,Purchase,231.350006,0.000000

In [74]:
#Set a column for today's date to merge the currentl closing prices.  
#NOTE - This does not work on weekends as Yahoo does not have trading data for the weekends.  Value is currently set to 2023.08.18
#Un-comment the today() line for up to date data.

CC2["Latest Close Date"] = datetime.today().strftime('%Y-%m-%d')
#CC2["Current Date"] = "2023-08-18"
CC2["Latest Close Date"] = pd.to_datetime(CC2["Latest Close Date"], format="%Y-%m-%d")
CC2["Latest Close Date"] = CC2["Latest Close Date"] - pd.Timedelta(days=1)
CC2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Transaction,Transaction Close,Price - 30 Days Prior,Latest Close Date
0,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-21,2023-06-21,Purchase,8.890000,0.000000,2023-08-21
1,Josh Gottheimer,Representatives,D,KUBTY,2023-08-21,2023-07-20,2023-06-20,Sale,72.389999,75.029999,2023-08-21
2,Josh Gottheimer,Representatives,D,AAGIY,2023-08-21,2023-07-20,2023-06-20,Sale,39.590000,41.130001,2023-08-21
3,Josh Gottheimer,Representatives,D,GMAB,2023-08-21,2023-07-20,2023-06-20,Purchase,41.450001,0.000000,2023-08-21
4,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-20,2023-06-20,Purchase,8.750000,0.000000,2023-08-21
...,...,...,...,...,...,...,...,...,...,...,...
2877,Mark Dr Green,Representatives,R,USAC,2022-01-18,2022-01-06,2021-12-07,Purchase,17.010000,0.000000,2023-08-21
2878,David Cheston Rouzer,Representatives,R,PINS,2022-01-17,2022-01-14,2021-12-15,Sale,32.830002,36.049999,2023-08-21
2879,Andrew Garbarino,Representatives,R,TELL,2022-01-14,2022-01-14,2021-12-15,Purchase,3.180000,0.000000,2023-08-21
2880,Andrew Garbarino,Representatives,R,ORMP,2022-01-14,2022-01-14,2021-12-15,Sale,11.050000,15.090000,2023-08-21
2881,Bob Gibbs,Representatives,R,TGT,2022-01-06,2022-01-06,2021-12-07,Purchase,231.350006,0.000000,2023-08-21

In [76]:
#Rearranging column names
CC2 = CC2[["Representative",
     "House",
     "Party",
     "Ticker",
     "ReportDate",
     "TransactionDate",
     "TransactionDate - 30 Days Prior",
     "Latest Close Date",
     "Transaction",
     "Transaction Close",
     "Price - 30 Days Prior"]]
CC2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Latest Close Date,Transaction,Transaction Close,Price - 30 Days Prior
0,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-21,2023-06-21,2023-08-21,Purchase,8.890000,0.000000
1,Josh Gottheimer,Representatives,D,KUBTY,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Sale,72.389999,75.029999
2,Josh Gottheimer,Representatives,D,AAGIY,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Sale,39.590000,41.130001
3,Josh Gottheimer,Representatives,D,GMAB,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Purchase,41.450001,0.000000
4,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Purchase,8.750000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2877,Mark Dr Green,Representatives,R,USAC,2022-01-18,2022-01-06,2021-12-07,2023-08-21,Purchase,17.010000,0.000000
2878,David Cheston Rouzer,Representatives,R,PINS,2022-01-17,2022-01-14,2021-12-15,2023-08-21,Sale,32.830002,36.049999
2879,Andrew Garbarino,Representatives,R,TELL,2022-01-14,2022-01-14,2021-12-15,2023-08-21,Purchase,3.180000,0.000000
2880,Andrew Garbarino,Representatives,R,ORMP,2022-01-14,2022-01-14,2021-12-15,2023-08-21,Sale,11.050000,15.090000
2881,Bob Gibbs,Representatives,R,TGT,2022-01-06,2022-01-06,2021-12-07,2023-08-21,Purchase,231.350006,0.000000

In [77]:
#Merge current close prices
df_close_current = Close_Current.melt(id_vars="Latest Close Date", var_name='Ticker', value_name="Current Date Close Price")
CC2 = CC2.merge(df_close_current, on = ["Latest Close Date",'Ticker'])
CC2

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Latest Close Date,Transaction,Transaction Close,Price - 30 Days Prior,Current Date Close Price
0,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-21,2023-06-21,2023-08-21,Purchase,8.890000,0.000000,8.270000
1,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Purchase,8.750000,0.000000,8.270000
2,Josh Gottheimer,Representatives,D,HLN,2023-04-20,2023-03-31,2023-03-01,2023-08-21,Purchase,8.140000,0.000000,8.270000
3,Daniel Goldman,Representatives,D,HLN,2023-02-24,2023-01-13,2022-12-14,2023-08-21,Purchase,7.990000,0.000000,8.270000
4,Josh Gottheimer,Representatives,D,KUBTY,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Sale,72.389999,75.029999,74.190002
...,...,...,...,...,...,...,...,...,...,...,...,...
2877,Donald Sternoff Beyer Jr.,Representatives,D,CYRX,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,45.779999,61.470001,14.290000
2878,Donald Sternoff Beyer Jr.,Representatives,D,GH,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,78.800003,91.449997,37.750000
2879,John Garamendi,Representatives,D,GVA,2022-01-21,2022-01-14,2021-12-15,2023-08-21,Sale,38.160000,38.099998,40.470001
2880,Thomas Suozzi,Representatives,D,SLB,2022-01-20,2022-01-07,2021-12-08,2023-08-21,Sale,35.029999,31.059999,57.439999
2881,Andrew Garbarino,Representatives,R,ORMP,2022-01-14,2022-01-14,2021-12-15,2023-08-21,Sale,11.050000,15.090000,3.280000

In [78]:
CC3 = CC2
CC3

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Latest Close Date,Transaction,Transaction Close,Price - 30 Days Prior,Current Date Close Price
0,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-21,2023-06-21,2023-08-21,Purchase,8.890000,0.000000,8.270000
1,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Purchase,8.750000,0.000000,8.270000
2,Josh Gottheimer,Representatives,D,HLN,2023-04-20,2023-03-31,2023-03-01,2023-08-21,Purchase,8.140000,0.000000,8.270000
3,Daniel Goldman,Representatives,D,HLN,2023-02-24,2023-01-13,2022-12-14,2023-08-21,Purchase,7.990000,0.000000,8.270000
4,Josh Gottheimer,Representatives,D,KUBTY,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Sale,72.389999,75.029999,74.190002
...,...,...,...,...,...,...,...,...,...,...,...,...
2877,Donald Sternoff Beyer Jr.,Representatives,D,CYRX,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,45.779999,61.470001,14.290000
2878,Donald Sternoff Beyer Jr.,Representatives,D,GH,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,78.800003,91.449997,37.750000
2879,John Garamendi,Representatives,D,GVA,2022-01-21,2022-01-14,2021-12-15,2023-08-21,Sale,38.160000,38.099998,40.470001
2880,Thomas Suozzi,Representatives,D,SLB,2022-01-20,2022-01-07,2021-12-08,2023-08-21,Sale,35.029999,31.059999,57.439999
2881,Andrew Garbarino,Representatives,R,ORMP,2022-01-14,2022-01-14,2021-12-15,2023-08-21,Sale,11.050000,15.090000,3.280000

In [89]:
CC3["Rate of Return (Purchase)"] = ((CC3["Current Date Close Price"] - CC3["Transaction Close"])/ CC3["Transaction Close"])
CC3["Rate of Return (Purchase)"] = CC3["Rate of Return (Purchase)"].where(CC3["Transaction"] == "Purchase", other=0)
CC3

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Latest Close Date,Transaction,Transaction Close,Price - 30 Days Prior,Current Date Close Price,Rate of Return (Purchase),Rate of Return (Sale)
0,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-21,2023-06-21,2023-08-21,Purchase,8.890000,0.000000,8.270000,-0.069741,0.000000
1,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Purchase,8.750000,0.000000,8.270000,-0.054857,0.000000
2,Josh Gottheimer,Representatives,D,HLN,2023-04-20,2023-03-31,2023-03-01,2023-08-21,Purchase,8.140000,0.000000,8.270000,0.015971,0.000000
3,Daniel Goldman,Representatives,D,HLN,2023-02-24,2023-01-13,2022-12-14,2023-08-21,Purchase,7.990000,0.000000,8.270000,0.035044,0.000000
4,Josh Gottheimer,Representatives,D,KUBTY,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Sale,72.389999,75.029999,74.190002,0.000000,-0.035186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2877,Donald Sternoff Beyer Jr.,Representatives,D,CYRX,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,45.779999,61.470001,14.290000,0.000000,-0.255246
2878,Donald Sternoff Beyer Jr.,Representatives,D,GH,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,78.800003,91.449997,37.750000,0.000000,-0.138327
2879,John Garamendi,Representatives,D,GVA,2022-01-21,2022-01-14,2021-12-15,2023-08-21,Sale,38.160000,38.099998,40.470001,0.000000,0.001575
2880,Thomas Suozzi,Representatives,D,SLB,2022-01-20,2022-01-07,2021-12-08,2023-08-21,Sale,35.029999,31.059999,57.439999,0.000000,0.127817
2881,Andrew Garbarino,Representatives,R,ORMP,2022-01-14,2022-01-14,2021-12-15,2023-08-21,Sale,11.050000,15.090000,3.280000,0.000000,-0.267727

In [90]:
CC3["Rate of Return (Sale)"] = ((CC3["Transaction Close"] - CC3["Price - 30 Days Prior"])/ CC3["Price - 30 Days Prior"])
CC3["Rate of Return (Sale)"] = CC3["Rate of Return (Sale)"].where(CC3["Transaction"] == "Sale", other=0)
CC3

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Latest Close Date,Transaction,Transaction Close,Price - 30 Days Prior,Current Date Close Price,Rate of Return (Purchase),Rate of Return (Sale)
0,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-21,2023-06-21,2023-08-21,Purchase,8.890000,0.000000,8.270000,-0.069741,0.000000
1,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Purchase,8.750000,0.000000,8.270000,-0.054857,0.000000
2,Josh Gottheimer,Representatives,D,HLN,2023-04-20,2023-03-31,2023-03-01,2023-08-21,Purchase,8.140000,0.000000,8.270000,0.015971,0.000000
3,Daniel Goldman,Representatives,D,HLN,2023-02-24,2023-01-13,2022-12-14,2023-08-21,Purchase,7.990000,0.000000,8.270000,0.035044,0.000000
4,Josh Gottheimer,Representatives,D,KUBTY,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Sale,72.389999,75.029999,74.190002,0.000000,-0.035186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2877,Donald Sternoff Beyer Jr.,Representatives,D,CYRX,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,45.779999,61.470001,14.290000,0.000000,-0.255246
2878,Donald Sternoff Beyer Jr.,Representatives,D,GH,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,78.800003,91.449997,37.750000,0.000000,-0.138327
2879,John Garamendi,Representatives,D,GVA,2022-01-21,2022-01-14,2021-12-15,2023-08-21,Sale,38.160000,38.099998,40.470001,0.000000,0.001575
2880,Thomas Suozzi,Representatives,D,SLB,2022-01-20,2022-01-07,2021-12-08,2023-08-21,Sale,35.029999,31.059999,57.439999,0.000000,0.127817
2881,Andrew Garbarino,Representatives,R,ORMP,2022-01-14,2022-01-14,2021-12-15,2023-08-21,Sale,11.050000,15.090000,3.280000,0.000000,-0.267727

In [93]:
CC3["Total Returns"] = (CC3["Rate of Return (Purchase)"] + CC3["Rate of Return (Sale)"])
CC3

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Latest Close Date,Transaction,Transaction Close,Price - 30 Days Prior,Current Date Close Price,Rate of Return (Purchase),Rate of Return (Sale),Total Returns
0,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-21,2023-06-21,2023-08-21,Purchase,8.890000,0.000000,8.270000,-0.069741,0.000000,-0.069741
1,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Purchase,8.750000,0.000000,8.270000,-0.054857,0.000000,-0.054857
2,Josh Gottheimer,Representatives,D,HLN,2023-04-20,2023-03-31,2023-03-01,2023-08-21,Purchase,8.140000,0.000000,8.270000,0.015971,0.000000,0.015971
3,Daniel Goldman,Representatives,D,HLN,2023-02-24,2023-01-13,2022-12-14,2023-08-21,Purchase,7.990000,0.000000,8.270000,0.035044,0.000000,0.035044
4,Josh Gottheimer,Representatives,D,KUBTY,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Sale,72.389999,75.029999,74.190002,0.000000,-0.035186,-0.035186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2877,Donald Sternoff Beyer Jr.,Representatives,D,CYRX,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,45.779999,61.470001,14.290000,0.000000,-0.255246,-0.255246
2878,Donald Sternoff Beyer Jr.,Representatives,D,GH,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,78.800003,91.449997,37.750000,0.000000,-0.138327,-0.138327
2879,John Garamendi,Representatives,D,GVA,2022-01-21,2022-01-14,2021-12-15,2023-08-21,Sale,38.160000,38.099998,40.470001,0.000000,0.001575,0.001575
2880,Thomas Suozzi,Representatives,D,SLB,2022-01-20,2022-01-07,2021-12-08,2023-08-21,Sale,35.029999,31.059999,57.439999,0.000000,0.127817,0.127817
2881,Andrew Garbarino,Representatives,R,ORMP,2022-01-14,2022-01-14,2021-12-15,2023-08-21,Sale,11.050000,15.090000,3.280000,0.000000,-0.267727,-0.267727

In [94]:
CC_Final = CC3
CC_Final

,Representative,House,Party,Ticker,ReportDate,TransactionDate,TransactionDate - 30 Days Prior,Latest Close Date,Transaction,Transaction Close,Price - 30 Days Prior,Current Date Close Price,Rate of Return (Purchase),Rate of Return (Sale),Total Returns
0,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-21,2023-06-21,2023-08-21,Purchase,8.890000,0.000000,8.270000,-0.069741,0.000000,-0.069741
1,Josh Gottheimer,Representatives,D,HLN,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Purchase,8.750000,0.000000,8.270000,-0.054857,0.000000,-0.054857
2,Josh Gottheimer,Representatives,D,HLN,2023-04-20,2023-03-31,2023-03-01,2023-08-21,Purchase,8.140000,0.000000,8.270000,0.015971,0.000000,0.015971
3,Daniel Goldman,Representatives,D,HLN,2023-02-24,2023-01-13,2022-12-14,2023-08-21,Purchase,7.990000,0.000000,8.270000,0.035044,0.000000,0.035044
4,Josh Gottheimer,Representatives,D,KUBTY,2023-08-21,2023-07-20,2023-06-20,2023-08-21,Sale,72.389999,75.029999,74.190002,0.000000,-0.035186,-0.035186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2877,Donald Sternoff Beyer Jr.,Representatives,D,CYRX,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,45.779999,61.470001,14.290000,0.000000,-0.255246,-0.255246
2878,Donald Sternoff Beyer Jr.,Representatives,D,GH,2022-02-01,2022-01-13,2021-12-14,2023-08-21,Sale,78.800003,91.449997,37.750000,0.000000,-0.138327,-0.138327
2879,John Garamendi,Representatives,D,GVA,2022-01-21,2022-01-14,2021-12-15,2023-08-21,Sale,38.160000,38.099998,40.470001,0.000000,0.001575,0.001575
2880,Thomas Suozzi,Representatives,D,SLB,2022-01-20,2022-01-07,2021-12-08,2023-08-21,Sale,35.029999,31.059999,57.439999,0.000000,0.127817,0.127817
2881,Andrew Garbarino,Representatives,R,ORMP,2022-01-14,2022-01-14,2021-12-15,2023-08-21,Sale,11.050000,15.090000,3.280000,0.000000,-0.267727,-0.267727