In [1]:
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv

In [2]:
url = "https://api.quiverquant.com/beta/bulk/congresstrading"

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 77edeff3a3bd2fa2e10472e0536c0d166c147afa"
}

response = requests.get(url, headers=headers).json()

In [19]:
list_series = []

for row in response:
    list_series.append(pd.Series(row))
    column_names = response

In [22]:
congress_df = pd.DataFrame(data=list_series)

In [25]:
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Jonathan Jackson,2023-08-09,2023-07-31,LIN,Purchase,"$15,001-$50,000",Representatives,15001.0,
1,Jonathan Jackson,2023-08-09,2023-07-18,NEE,Sale,"$15,001-$50,000",Representatives,15001.0,
2,Jonathan Jackson,2023-08-09,2023-07-18,LIN,Purchase,"$15,001-$50,000",Representatives,15001.0,
3,Greg Steube,2023-08-09,2023-07-03,SNV,Sale,"$1,001-$15,000",Representatives,1001.0,R
4,Mark Dr Green,2023-08-08,2023-08-04,NGL,Purchase,"$250,001-$1,000,000",Representatives,250001.0,R
...,...,...,...,...,...,...,...,...,...
30068,Sheldon Whitehouse,2016-01-20,2016-01-05,NFLX,Purchase,"$1,001 - $15,000",Senate,1001.0,D
30069,Bill Cassidy,2016-01-12,2016-01-05,INTC,Sale,"$1,001 - $15,000",Senate,1001.0,R
30070,Bill Cassidy,2016-01-12,2016-01-05,CMI,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30071,Bill Cassidy,2016-01-12,2016-01-05,AAPL,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30072,John Hoeven,2016-01-12,2016-01-06,UA,Purchase,"$50,001 - $100,000",Senate,50001.0,R