In [1]:
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
from Ticker_Data import og_data

[*********************100%***********************]  691 of 691 completed

# Financial Data

In [3]:
og_data

            Adj Close                                                \
                AAGIY         AAP        AAPL        AAT      AAVMY
Date
2022-08-17  38.170048  202.686813  173.520615  28.259022   9.905236
2022-08-18  37.513298  200.283310  173.122971  28.562067   9.775270
2022-08-19  37.297649  199.829620  170.508484  28.116968   9.435054
2022-08-22  37.268242  191.586243  166.581772  27.359352   9.046918
2022-08-23  37.317249  192.136444  166.243759  27.008957   9.171504
...               ...         ...         ...        ...        ...
2023-08-10  37.799999   71.529999  177.729996  22.190001  15.690000
2023-08-11  36.709999   72.279999  177.789993  22.280001  15.440000
2023-08-14  36.389999   71.110001  179.460007  21.930000  15.300000
2023-08-15  35.610001   69.730003  177.449997  21.260000  15.260000
2023-08-16  35.240002   69.870003  176.570007  20.969999  15.170000

                                                                       ...  \
                ABBNY        ABBV        ABNB         ABT         ACN  ...
Date                                                                   ...
2022-08-17  29.187326  135.925644  121.870003  108.469994  313.376221  ...
2022-08-18  29.449749  135.781494  121.269997  107.891090  314.370117  ...
2022-08-19  28.886024  136.319656  114.760002  107.989204  310.266571  ...
2022-08-22  27.641943  134.868515  111.389999  105.428307  305.060822  ...
2022-08-23  27.739138  133.600006  111.599998  104.015411  301.813416  ...
...               ...         ...         ...         ...         ...  ...
2023-08-10  38.250000  151.440002  135.970001  104.739998  310.410004  ...
2023-08-11  38.520000  152.179993  133.679993  105.309998  309.049988  ...
2023-08-14  38.610001  152.270004  133.240005  106.099998  311.709991  ...
2023-08-15  38.029999  152.119995  129.850006  104.940002  307.399994  ...
2023-08-16  37.770000  151.550003  128.830002  104.529999  307.640015  ...

           Volume                                                           \
            YAMHY  YARIY YASKY      YOU     YUMC        Z   ZLNDY       ZS
Date
2022-08-17   2100   6800  6500  1060500  1392300  3675900   54400  1583500
2022-08-18   1200  18500  1500  1619100  6319600  2847200   53300  1141000
2022-08-19   4700   8700  2000  1040900  1884800  3264100   43900  2554700
2022-08-22  25100  33600  3900   924900  3712100  3331800  182400  1771800
2022-08-23  15200  73900  3700   516800  2286900  3913100  202300  2384700
...           ...    ...   ...      ...      ...      ...     ...      ...
2023-08-10      0  31100  5600  1122000  1926400  2097700    6900  1886400
2023-08-11   1400  18300  5500  1162600  1642600  2064000   13400  1101000
2023-08-14      0  19900  5200   964600  1480300  1871300    7800  1075600
2023-08-15    600  37200  6000   589100  1319000  2159800   11100  1147700
2023-08-16      0  34100  7300   966000  2100100  4437000   11700   863400


                ZTS  ZURVY
Date
2022-08-17  1367200  48600
2022-08-18  1297900  73300
2022-08-19  1223200  76700
2022-08-22  1606800  99500
2022-08-23  1320300  75800
...             ...    ...
2023-08-10  2348500  42200
2023-08-11  1742900  67400
2023-08-14  1352400  57700
2023-08-15  1001200  76200
2023-08-16  1205300  55400

[251 rows x 4146 columns]

In [30]:
Adj_Close = og_data.loc[:, ("Adj Close")]
Adj_Close = Adj_Close.reset_index()
Adj_Close = Adj_Close.rename(columns={'Date': 'TransactionDate'})
Adj_Close

,TransactionDate,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2022-08-17,38.170048,202.686813,173.520615,28.259022,9.905236,29.187326,135.925644,121.870003,108.469994,...,10.590,18.561052,70.805000,29.021086,47.687782,35.860001,14.436,174.350006,170.947006,42.830879
1,2022-08-18,37.513298,200.283310,173.122971,28.562067,9.775270,29.449749,135.781494,121.269997,107.891090,...,10.580,18.825722,71.004997,28.020359,46.469082,35.720001,13.720,175.309998,168.677094,42.366463
2,2022-08-19,37.297649,199.829620,170.508484,28.116968,9.435054,28.886024,136.319656,114.760002,107.989204,...,10.600,18.236620,70.080002,27.029444,46.726696,33.619999,13.360,166.220001,168.032806,42.338028
3,2022-08-22,37.268242,191.586243,166.581772,27.359352,9.046918,27.641943,134.868515,111.389999,105.428307,...,10.500,17.604828,68.349998,25.508734,47.618431,32.639999,12.458,163.000000,163.592117,42.091602
4,2022-08-23,37.317249,192.136444,166.243759,27.008957,9.171504,27.739138,133.600006,111.599998,104.015411,...,10.458,18.424450,68.669998,25.420433,48.381355,33.430000,12.358,165.350006,160.995087,41.797783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2023-08-10,37.799999,71.529999,177.729996,22.190001,15.690000,38.250000,151.440002,135.970001,104.739998,...,13.180,19.680000,82.239998,22.969999,56.439999,55.900002,15.995,144.300003,189.100006,47.990002
247,2023-08-11,36.709999,72.279999,177.789993,22.280001,15.440000,38.520000,152.179993,133.679993,105.309998,...,13.340,19.250000,81.330002,23.660000,55.500000,56.330002,15.600,142.949997,190.830002,47.380001
248,2023-08-14,36.389999,71.110001,179.460007,21.930000,15.300000,38.610001,152.270004,133.240005,106.099998,...,13.340,19.020000,79.419998,23.809999,55.119999,56.290001,15.206,144.910004,189.649994,47.240002
249,2023-08-15,35.610001,69.730003,177.449997,21.260000,15.260000,38.029999,152.119995,129.850006,104.940002,...,13.035,18.610001,78.970001,23.240000,54.450001,54.770000,14.920,142.710007,189.149994,46.820000
250,2023-08-16,35.240002,69.870003,176.570007,20.969999,15.170000,37.770000,151.550003,128.830002,104.529999,...,13.035,18.459999,76.389999,22.670000,53.869999,51.570000,14.760,140.130005,186.270004,46.560001

In [31]:
Open = og_data.loc[:, ("Open")]
Open = Open.reset_index()
Open = Open.rename(columns={'Date': 'TransactionDate'})
Open

,TransactionDate,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2022-08-17,38.240002,207.940002,172.770004,30.260000,10.610,30.049999,141.419998,121.629997,111.629997,...,10.486,21.650000,70.550003,29.670000,47.970001,37.500000,14.436000,175.000000,171.699997,44.880001
1,2022-08-18,38.599998,209.779999,173.750000,30.010000,10.550,30.309999,141.490005,121.500000,110.930000,...,10.622,22.110001,71.000000,28.500000,47.450001,35.770000,13.720000,175.009995,172.460007,45.150002
2,2022-08-19,38.500000,206.059998,173.029999,30.040001,9.880,30.049999,141.779999,118.184998,110.480003,...,10.530,21.620001,70.525002,28.030001,46.900002,34.939999,13.360000,172.820007,170.729996,44.680000
3,2022-08-22,38.020000,204.990005,169.690002,29.450001,9.580,28.790001,141.970001,110.360001,108.970001,...,10.485,20.719999,68.860001,26.820000,47.740002,32.689999,12.458000,162.410004,167.929993,44.439999
4,2022-08-23,38.000000,199.529999,167.080002,28.860001,9.660,28.420000,139.649994,112.410004,106.820000,...,10.564,21.440001,68.589996,26.000000,48.509998,32.820000,12.358000,167.809998,163.429993,43.959999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2023-08-10,37.750000,71.559998,179.479996,22.410000,15.740,38.599998,151.199997,139.869995,105.480003,...,13.180,20.030001,83.370003,23.180000,57.160000,56.869999,16.049999,143.029999,190.000000,48.180000
247,2023-08-11,36.799999,70.870003,177.320007,22.090000,15.370,38.290001,151.949997,134.149994,104.220001,...,13.300,19.160000,83.699997,22.830000,55.930000,54.970001,15.574000,142.660004,188.479996,47.160000
248,2023-08-14,36.200001,71.599998,177.970001,22.139999,15.469,38.230000,153.020004,133.559998,105.139999,...,13.340,19.030001,79.000000,23.459999,54.980000,55.709999,15.205000,142.369995,190.210007,47.060001
249,2023-08-15,35.500000,70.809998,178.880005,21.610001,15.560,38.299999,151.570007,132.500000,106.150002,...,13.030,18.799999,79.709999,23.629999,54.840000,55.799999,15.080000,144.210007,189.149994,46.919998
250,2023-08-16,35.689999,70.000000,177.130005,21.290001,15.520,38.000000,152.589996,129.000000,104.459999,...,13.035,18.790001,77.500000,23.120001,53.439999,54.410000,14.950000,142.000000,187.979996,46.630001

In [32]:
High = og_data.loc[:, ("High")]
High = High.reset_index()
High = High.rename(columns={'Date': 'TransactionDate'})
High

,TransactionDate,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2022-08-17,38.990002,211.860001,176.149994,30.290001,10.750,30.190001,142.759995,123.269997,112.129997,...,10.590,21.930000,70.959999,30.040001,48.805000,37.820000,14.436000,176.354996,174.759995,45.360001
1,2022-08-18,38.799999,210.229996,174.899994,30.240000,10.580,30.400000,141.580002,122.199997,110.930000,...,10.622,22.120001,71.004997,28.990000,48.049999,36.360001,13.720000,176.720001,172.940002,45.150002
2,2022-08-19,38.500000,207.179993,173.740005,30.040001,9.880,30.070000,143.360001,119.220001,110.800003,...,10.650,21.620001,70.525002,28.030001,47.770000,35.459999,13.360000,172.820007,171.869995,44.759998
3,2022-08-22,39.000000,204.990005,169.860001,29.450001,9.580,28.809999,142.660004,114.227997,109.309998,...,10.500,20.719999,68.860001,27.180000,48.290001,33.250000,12.458000,165.710007,168.500000,44.529999
4,2022-08-23,39.000000,200.490005,168.710007,28.959999,9.670,28.850000,140.850006,114.019997,106.870003,...,10.564,21.650000,69.199997,26.379999,49.470001,33.669998,12.358000,172.250000,164.360001,44.330002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2023-08-10,38.250000,73.059998,180.750000,22.670000,15.740,38.799999,152.839996,140.970001,107.000000,...,13.180,20.049999,83.370003,23.360001,58.169998,56.950001,16.224001,146.880005,191.830002,48.549999
247,2023-08-11,37.110001,72.550003,178.619995,22.309999,15.440,38.610001,153.500000,134.259995,105.410004,...,13.340,19.290001,83.699997,23.870001,56.000000,56.349998,15.640000,146.000000,191.600006,47.430000
248,2023-08-14,36.459999,72.000000,179.690002,22.180000,15.469,38.689999,153.139999,133.789993,106.220001,...,13.340,19.110001,79.419998,23.959999,55.384998,56.415001,15.260000,145.270004,192.520004,47.349998
249,2023-08-15,36.299999,71.169998,179.479996,21.610001,15.560,38.380001,152.899994,132.809998,106.150002,...,13.035,18.799999,79.720001,23.799999,55.310001,56.360001,15.110000,144.220001,190.770004,47.119999
250,2023-08-16,35.689999,70.680000,178.539993,21.320000,15.520,38.150002,153.600006,130.149994,105.379997,...,13.035,18.790001,77.500000,23.360001,54.070000,54.709999,14.990000,142.449997,189.100006,46.779999

In [33]:
Low = og_data.loc[:, ("Low")]
Low = Low.reset_index()
Low = Low.rename(columns={'Date': 'TransactionDate'})
Low

,TransactionDate,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2022-08-17,38.230000,206.669998,172.570007,29.740000,10.580,29.860001,140.550003,120.639999,110.370003,...,10.486,21.650000,70.389999,29.209999,47.860001,35.830002,14.436,171.610001,171.250000,44.799999
1,2022-08-18,38.060001,205.770004,173.119995,29.889999,10.300,30.209999,139.820007,120.279999,108.790001,...,10.580,21.940001,71.000000,27.270000,46.400002,35.160000,13.720,172.860001,169.759995,44.580002
2,2022-08-19,37.889999,205.139999,171.309998,29.430000,9.800,29.680000,141.460007,114.099998,109.400002,...,10.530,21.340000,70.080002,26.870001,46.480000,33.430000,13.360,163.330002,169.169998,44.450001
3,2022-08-22,37.830002,198.220001,167.139999,28.760000,9.420,28.389999,139.960007,109.970001,106.889999,...,10.400,20.590000,68.349998,25.690001,46.799999,32.525002,12.458,159.705002,164.039993,44.250000
4,2022-08-23,37.950001,197.750000,166.649994,28.510000,9.560,28.400000,138.449997,111.410004,105.519997,...,10.425,21.440001,68.500000,25.690001,48.299999,32.660000,12.358,164.649994,161.910004,43.939999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2023-08-10,37.430000,71.059998,177.600006,22.070000,15.661,38.180000,150.570007,135.649994,104.620003,...,13.180,19.580000,82.239998,22.760000,56.209999,55.049999,15.940,142.240005,187.729996,47.919998
247,2023-08-11,36.540001,70.629997,176.550003,22.080000,15.260,38.290001,151.720001,131.699997,103.690002,...,13.276,19.090000,81.320000,22.790001,54.980000,54.639999,15.491,142.509995,188.179993,47.130001
248,2023-08-14,36.090000,69.800003,177.309998,21.830000,15.300,38.189999,151.570007,131.740005,105.139999,...,13.340,18.920000,78.599998,23.370001,54.630001,55.509998,15.165,141.589996,188.820007,47.060001
249,2023-08-15,35.500000,69.400002,177.050003,21.200001,15.260,37.980000,150.789993,129.729996,104.550003,...,13.030,18.600000,78.519997,23.190001,54.430000,54.529999,14.920,140.940002,188.520004,46.689999
250,2023-08-16,35.080002,69.830002,176.500000,20.940001,15.170,37.709999,151.380005,128.399994,104.440002,...,13.035,18.459999,76.389999,22.650000,53.040001,51.529999,14.760,139.419998,185.860001,46.540001

In [34]:
Close = og_data.loc[:, ("Close")]
Close = Close.reset_index()
Close = Close.rename(columns={'Date': 'TransactionDate'})
Close

,TransactionDate,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2022-08-17,38.939999,209.979996,174.550003,29.840000,10.670,30.030001,141.440002,121.870003,110.550003,...,10.590,21.740000,70.805000,29.580000,48.130001,35.860001,14.436,174.350006,172.460007,45.189999
1,2022-08-18,38.270000,207.490005,174.149994,30.160000,10.530,30.299999,141.289993,121.269997,109.959999,...,10.580,22.049999,71.004997,28.559999,46.900002,35.720001,13.720,175.309998,170.169998,44.700001
2,2022-08-19,38.049999,207.020004,171.520004,29.690001,9.845,29.719999,141.850006,114.760002,110.059998,...,10.600,21.360001,70.080002,27.549999,47.160000,33.619999,13.360,166.220001,169.520004,44.669998
3,2022-08-22,38.020000,198.479996,167.570007,28.889999,9.440,28.440001,140.339996,111.389999,107.449997,...,10.500,20.620001,68.349998,26.000000,48.060001,32.639999,12.458,163.000000,165.039993,44.410000
4,2022-08-23,38.070000,199.050003,167.229996,28.520000,9.570,28.540001,139.020004,111.599998,106.010002,...,10.458,21.580000,68.669998,25.910000,48.830002,33.430000,12.358,165.350006,162.419998,44.099998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2023-08-10,37.799999,71.529999,177.970001,22.190001,15.690,38.250000,151.440002,135.970001,104.739998,...,13.180,19.680000,82.239998,22.969999,56.439999,55.900002,15.995,144.300003,189.100006,47.990002
247,2023-08-11,36.709999,72.279999,177.789993,22.280001,15.440,38.520000,152.179993,133.679993,105.309998,...,13.340,19.250000,81.330002,23.660000,55.500000,56.330002,15.600,142.949997,190.830002,47.380001
248,2023-08-14,36.389999,71.110001,179.460007,21.930000,15.300,38.610001,152.270004,133.240005,106.099998,...,13.340,19.020000,79.419998,23.809999,55.119999,56.290001,15.206,144.910004,189.649994,47.240002
249,2023-08-15,35.610001,69.730003,177.449997,21.260000,15.260,38.029999,152.119995,129.850006,104.940002,...,13.035,18.610001,78.970001,23.240000,54.450001,54.770000,14.920,142.710007,189.149994,46.820000
250,2023-08-16,35.240002,69.870003,176.570007,20.969999,15.170,37.770000,151.550003,128.830002,104.529999,...,13.035,18.459999,76.389999,22.670000,53.869999,51.570000,14.760,140.130005,186.270004,46.560001

In [35]:
Volume = og_data.loc[:, ("Volume")]
Volume = Volume.reset_index()
Volume = Volume.rename(columns={'Date': 'TransactionDate'})
Volume

,TransactionDate,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
0,2022-08-17,196600,506600,79542000,190300,7500,985600,3605200,4336200,3053500,...,2100,6800,6500,1060500,1392300,3675900,54400,1583500,1367200,48600
1,2022-08-18,308900,528000,62290100,174200,23500,1026900,3525200,3373900,4143600,...,1200,18500,1500,1619100,6319600,2847200,53300,1141000,1297900,73300
2,2022-08-19,363500,585300,70346300,172200,23100,957100,4530700,5288800,5092700,...,4700,8700,2000,1040900,1884800,3264100,43900,2554700,1223200,76700
3,2022-08-22,741600,792000,69026800,172500,58200,1591100,4023500,6057400,3496800,...,25100,33600,3900,924900,3712100,3331800,182400,1771800,1606800,99500
4,2022-08-23,453300,1022800,54147100,165100,35700,1268600,3768100,5447200,4203000,...,15200,73900,3700,516800,2286900,3913100,202300,2384700,1320300,75800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2023-08-10,4696000,1750700,54686900,302600,6200,197200,3275800,3437600,4708200,...,0,31100,5600,1122000,1926400,2097700,6900,1886400,2348500,42200
247,2023-08-11,2271200,1182900,51988100,145200,4900,106000,3454800,4372200,3478600,...,1400,18300,5500,1162600,1642600,2064000,13400,1101000,1742900,67400
248,2023-08-14,2614400,3057200,43675600,225500,3800,136900,2570900,3373800,3076100,...,0,19900,5200,964600,1480300,1871300,7800,1075600,1352400,57700
249,2023-08-15,2332500,1282000,43622600,264700,10300,123600,3636300,3970500,3150600,...,600,37200,6000,589100,1319000,2159800,11100,1147700,1001200,76200
250,2023-08-16,2012600,1431800,46876800,325800,5500,468200,3214500,3311000,4086400,...,0,34100,7300,966000,2100100,4437000,11700,863400,1205300,55400

# Main Congress Dataframe

In [10]:
#API call to retrieve JSON data of people in congress and transactions

url = "https://api.quiverquant.com/beta/bulk/congresstrading"

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 77edeff3a3bd2fa2e10472e0536c0d166c147afa"
}

response = requests.get(url, headers=headers).json()

In [11]:
#For loop to get all congress names and transactions into list

list_series = []

for row in response:
    list_series.append(pd.Series(row))
    column_names = response

In [12]:
#put list into dataframe
congress_df = pd.DataFrame(data=list_series)

In [13]:
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Tommy Tuberville,2023-08-14,2023-07-27,CCL,Sale,"$1,001 - $15,000",Senate,1001.0,R
1,Tommy Tuberville,2023-08-14,2023-07-25,PFE,Purchase,"$1,001 - $15,000",Senate,1001.0,R
2,Tommy Tuberville,2023-08-14,2023-07-25,KEY,Purchase,"$1,001 - $15,000",Senate,1001.0,R
3,Tommy Tuberville,2023-08-14,2023-07-25,FGBI,Purchase,"$1,001 - $15,000",Senate,1001.0,R
4,Tommy Tuberville,2023-08-14,2023-07-25,FGBI,Purchase,"$1,001 - $15,000",Senate,1001.0,R
...,...,...,...,...,...,...,...,...,...
30743,Sheldon Whitehouse,2016-01-20,2016-01-05,NVDA,Purchase,"$1,001 - $15,000",Senate,1001.0,D
30744,Bill Cassidy,2016-01-12,2016-01-05,AAPL,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30745,Bill Cassidy,2016-01-12,2016-01-05,CMI,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30746,Bill Cassidy,2016-01-12,2016-01-05,INTC,Sale,"$1,001 - $15,000",Senate,1001.0,R
30747,John Hoeven,2016-01-12,2016-01-06,UA,Purchase,"$50,001 - $100,000",Senate,50001.0,R

In [14]:
#Define list of active senators by seeing who made a transaction within the last 3 months
Active_Senators = congress_df[congress_df["TransactionDate"] > "2023-05-15"]
Active_Senators['Representative'].value_counts()

Daniel Goldman               504
Zoe Lofgren                   72
Tommy Tuberville              70
Josh Gottheimer               62
Lois Frankel                  37
Kevin Hern                    18
Mark Dr Green                 15
Thomas R. Carper              13
Jonathan Jackson              12
Michael C. Burgess            12
John Curtis                   11
Virginia Foxx                  8
Shelley Moore Capito           8
Pete Sessions                  8
Rick Larsen                    8
William R. Keating             6
Lloyd Doggett                  6
Earl Blumenauer                4
Dwight Evans                   4
Michael Garcia                 3
Steve Cohen                    2
Mary Gay Scanlon               2
Maria Elvira Salazar           2
John Hickenlooper              2
Nancy Pelosi                   2
Robert E. Latta                2
Daniel Meuser                  1
James E Hon Banks              1
Angus King                     1
Gary Peters                    1
Seth Moulton                   1
A. Mitchell Jr. McConnell      1
Robert J. Wittman              1
Greg Steube                    1
Thomas H. Kean Jr.             1
Richard W. Allen               1
Name: Representative, dtype: int64

In [15]:
len(congress_df.index)

30748

In [16]:
#Count transactions per senator
congress_df['Representative'].value_counts().head(10)

David Perdue         2541
Josh Gottheimer      1984
Gilbert Cisneros     1218
Susie Lee            1191
Daniel Goldman       1134
Greg Gianforte       1118
Dean Phillips         963
Alan S. Lowenthal     941
Lois Frankel          776
Tommy Tuberville      764
Name: Representative, dtype: int64

In [17]:
#Count most traded tickers
congress_df['Ticker'].value_counts().head(10)

AAPL    523
MSFT    406
AMZN    244
DIS     219
NVDA    217
T       194
PFE     186
PYPL    171
FB      168
XOM     163
Name: Ticker, dtype: int64

# Representative DataFrames

## Daniel Goldman

In [18]:
#Create dataframe for Senator Daniel Goldman
Daniel_Goldman = congress_df[congress_df["Representative"] == "Daniel Goldman"]
Daniel_Goldman

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
18,Daniel Goldman,2023-08-13,2023-07-19,NOC,Sale,"$15,001-$50,000",Representatives,15001.0,D
19,Daniel Goldman,2023-08-13,2023-07-14,TMUS,Sale,"$1,001-$15,000",Representatives,1001.0,D
20,Daniel Goldman,2023-08-13,2023-07-14,THO,Sale,"$1,001-$15,000",Representatives,1001.0,D
21,Daniel Goldman,2023-08-13,2023-07-14,ABBV,Sale,"$1,001-$15,000",Representatives,1001.0,D
22,Daniel Goldman,2023-08-13,2023-07-14,F,Sale,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
2549,Daniel Goldman,2023-02-24,2023-01-13,KDDIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
2550,Daniel Goldman,2023-02-24,2023-01-13,STBFY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
2551,Daniel Goldman,2023-02-24,2023-01-13,TOSYY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
2552,Daniel Goldman,2023-02-24,2023-01-13,TRYIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D
2553,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D

In [19]:
Daniel_Goldman.count()

Representative     1134
ReportDate         1134
TransactionDate    1134
Ticker             1134
Transaction        1134
Range              1134
House              1134
Amount             1134
Party              1134
dtype: int64

In [20]:
#List tickers and number of transactions of that stock
Daniel_Goldman["Ticker"].value_counts()

KO       7
TSLA     6
MRK      5
ZTS      5
MO       5
        ..
CRH      1
TAK      1
CRARY    1
CODYY    1
PSO      1
Name: Ticker, Length: 698, dtype: int64

In [21]:
#List all traded stocks by DG
DG_unique = Daniel_Goldman["Ticker"].unique()
display(DG_unique)
len(DG_unique)

array(['NOC', 'TMUS', 'THO', 'ABBV', 'F', 'T', 'MRK', 'COIN', 'MO', 'JNJ',
       'KO', 'DAR', 'TEL', 'PLD', 'ZTS', 'TSN', 'VTR', 'APTV', 'LHX',
       'PODD', 'PYPL', 'VZ', 'IIPR', 'PK', 'AVB', 'AAP', 'PEAK', 'LBTYA',
       'SR', 'LBTYK', 'ADC', 'LSI', 'PARAA', 'HALO', 'IRM', 'GILD', 'PD',
       'GTY', 'JAZZ', 'TEAM', 'ANET', 'WELL', 'LMT', 'WPM', 'HEI.A',
       'ALEX', 'ARE', 'SGH', 'SLG', 'LVMUY', 'MTB', 'MKTX', 'SBGI',
       'MELI', 'AYX', 'ADM', 'OGS', 'AMCX', 'AMCR', 'AMT', 'MAA', 'STT',
       'FCPT', 'FNF', 'STX', 'FIS', 'SBAC', 'BFS', 'JBGS', 'IRT', 'FERG',
       'IOT', 'KDP', 'KRC', 'FN', 'RTX', 'EXR', 'ICHR', 'RLJ', 'EXC',
       'ES', 'ROIC', 'KRG', 'KR', 'RLAY', 'RWT', 'EVBG', 'ESS', 'EPRT',
       'EQR', 'EQIX', 'EPR', 'EPAM', 'ENTA', 'EIX', 'D', 'DLTR', 'DG',
       'URI', 'UPS', 'SKT', 'UDR', 'USB', 'TFC', 'RBA', 'IFF', 'TRIP',
       'QDEL', 'YUMC', 'TMO', 'MRNA', 'MOH', 'MOS', 'KHC', 'NSA', 'KLIC',
       'DRH', 'TNDM', 'CUBE', 'CCI', 'CAG', 'CBU', 'SYY', 'HHC', 'HST',
       'PSA', 'UNH', 'SHO', 'INN', 'CLVT', 'CFG', 'CIEN', 'CB', 'SCHW',
       'CHPT', 'NVO', 'INVH', 'UE', 'UBA', 'CNC', 'CTRE', 'CADE', 'BEPC',
       'BMY', 'PGR', 'PLTK', 'PHIN', 'BXP', 'BELFB', 'BGNE', 'AVTR',
       'PECO', 'PFE', 'PEB', 'MMM', 'NXRT', 'TFX', 'LUMN', 'FJTSY',
       'HEINY', 'HESAY', 'HXGBY', 'ISNPY', 'IHG', 'ING', 'HTHIY', 'HCMLY',
       'HMC', 'HKXCY', 'IFJPY', 'IFNNY', 'IDEXY', 'IMBBY', 'ICL', 'IBDRY',
       'HSQVY', 'HSBC', 'HOCPY', 'UPMMY', 'VACNY', 'VEOEY', 'VCISY',
       'VOD', 'VWAPY', 'SPKKY', 'SONY', 'SONVY', 'SKHHY', 'SFTBY',
       'SOBKY', 'SCGLY', 'SMFKY', 'SNN', 'SMCAY', 'SKFRY', 'SPXCY',
       'SINGY', 'SXYAY', 'SMMNY', 'SMNEY', 'SIEGY', 'SSDOY', 'SGIOY',
       'SHECY', 'SMNNY', 'SGSOY', 'SVNDY', 'SKHSY', 'SKLTY', 'SE',
       'SBGSY', 'SOAGY', 'SAP', 'SNY', 'SDVKY', 'SAXPY', 'SALRY', 'SAFRY',
       'RPT', 'KKPNY', 'RHHBY', 'RIO', 'RNMBY', 'RTO', 'RELX', 'RANJY',
       'QBIEY', 'QABSY', 'PUBGY', 'PRYMY', 'PUK', 'PROSY', 'PRNDY',
       'AMKBY', 'ABBNY', 'AAVMY', 'AHEXY', 'ADDYY', 'ATEYY', 'ADYEY',
       'AEG', 'ANYYY', 'AONNY', 'AAGIY', 'EADSY', 'AJINY', 'PANDY',
       'VWAGY', 'VLVLY', 'WJRYY', 'AKZOY', 'ALC', 'ALFVY', 'ALLE',
       'ALIZY', 'WRDLY', 'OVCHY', 'OTSKY', 'DNNGY', 'OLCLY', 'OPHLY',
       'AMADY', 'BUD', 'ANZGY', 'AON', 'OCDDY', 'STM', 'SOMMY', 'NVS',
       'NRDBY', 'CJPRY', 'CHGCY', 'SMTOY', 'NRILY', 'NMR', 'NOK', 'NNGRY',
       'SMFG', 'SUTNY', 'NDEKY', 'NSANY', 'NTTYY', 'SUHJY', 'STBFY',
       'SZKMY', 'SVNLY', 'CHEOY', 'CLPBY', 'SWDBY', 'SWRAY', 'SSREY',
       'SCMWY', 'SYIEY', 'CRZBY', 'CMWAY', 'CODYY', 'CMSQY', 'SSMXY',
       'CRARY', 'TSM', 'TAK', 'CRH', 'CSLLY', 'DNPLY', 'DFKCY', 'DLICY',
       'TTDKY', 'TTNDY', 'TEF', 'TLPFY', 'TLGPY', 'TMSNY', 'TCEHY',
       'NTDOY', 'NINOY', 'NJDCY', 'NICE', 'NEXOY', 'NCMGY', 'NTES',
       'DSNKY', 'DKILY', 'DTRUY', 'DWAHY', 'NSRGY', 'NWG', 'DANOY', 'NGG',
       'NABZY', 'TEZNY', 'TRUMY', 'NCBDY', 'MRAAY', 'MURGY', 'MTUAY',
       'MSADY', 'MHGVY', 'MFG', 'WPP', 'MSLOY', 'DASTY', 'MTSFY', 'MUFG',
       'DBSDY', 'DNZOY', 'DNTUY', 'DB', 'MIELY', 'MSSMY', 'YAMHY',
       'YARIY', 'YASKY', 'ZLNDY', 'TKAMY', 'TKOMY', 'TOELY', 'TRYIY',
       'TOTDY', 'TM', 'TT', 'TMICY', 'UBS', 'STLA', 'UCBJY', 'UMICY',
       'UL', 'DBOEY', 'DHLGY', 'DTEGY', 'DEO', 'DSCSY', 'DNBBY', 'UOVEY',
       'UUGRY', 'ZURVY', 'DQJCY', 'DRPRY', 'ENLAY', 'EDPFY', 'ENGIY',
       'EPOKY', 'ERIC', 'EBKDY', 'ESLOY', 'FANUY', 'FRCOY', 'RACE',
       'FRRVY', 'FBP', 'FSUGY', 'FMS', 'FUJIY', 'HDELY', 'GASNY', 'GBERY',
       'MGDDY', 'MKKGY', 'MBGYY', 'MDIBY', 'MZDAY', 'MKTAY', 'MQBKY',
       'MTHRY', 'LRLCY', 'LZAGY', 'LOGI', 'LYG', 'JSGRY', 'LGRDY',
       'LSRCY', 'AIQUY', 'KHNGY', 'KUBTY', 'KSRYY', 'ADRNY', 'KMTUY',
       'KNRRY', 'KNBWY', 'KGSPY', 'KGFHY', 'KIM', 'KRYAY', 'PPRUY',
       'KDDIY', 'KBCSY', 'JTKWY', 'JRONY', 'JAPAY', 'JHX', 'GMAB',
       'GNGBY', 'GVDNY', 'GSK', 'JSAIY', 'ITTOY', 'ISUZY', 'HLN', 'HVRRY',
       'HDB', 'ARGX', 'ARKAY', 'AHKSY', 'ASHTY', 'ASML', 'ASAZY', 'ALPMY',
       'AZN', 'ATLKY', 'AVVIY', 'AXAHY', 'OMRNY', 'BMRRY', 'BAESY',
       'BBVA', 'SAN', 'BCS', 'BAYRY', 'OLYMY', 'BDRFY', 'BNPQY', 'BDNNY',
       'BXBLY', 'BNTGY', 'BRDCY', 'BTI', 'BTLCY', 'SSEZY', 'BURBY',
       'BVVBY', 'CAJPY', 'CGEMY', 'CCOEY', 'CZMWY', 'CLLNY', 'LCID',
       'PARA', 'ATUS', 'HAL', 'QS', 'OLPX', 'DISH', 'CHX', 'CLF', 'VAL',
       'IR', 'FTV', 'WFAFY', 'QTWO', 'AKR', 'ACN', 'AFRM', 'AGNC', 'ALB',
       'AMZN', 'AAT', 'AIG', 'FOLD', 'APO', 'AAPL', 'ARRY', 'CAR', 'AXS',
       'BAC', 'BILL', 'CPT', 'COF', 'CAT', 'GTLS', 'YOU', 'CTSH', 'COLB',
       'CONN', 'CSGP', 'CWK', 'CVS', 'DDOG', 'DE', 'DLR', 'DNB', 'EWBC',
       'EDIT', 'ESRT', 'ENPH', 'EL', 'FITB', 'FCNCA', 'FLO', 'FCEL', 'GM',
       'GTLB', 'HQY', 'HRL', 'HUN', 'INSP', 'IQV', 'JKHY', 'JCI', 'JLL',
       'JPM', 'KRTX', 'LC', 'FWONK', 'LNC', 'LPSN', 'MDGL', 'MRVI', 'VAC',
       'MPW', 'MSFT', 'MLKN', 'MRTX', 'TAP', 'MDLZ', 'NDAQ', 'NTRA',
       'NFG', 'NYCB', 'NEM', 'NOV', 'NTNX', 'NVDA', 'OPEN', 'OUT', 'PLUG',
       'RGA', 'RNG', 'RITM', 'ROKU', 'SBRA', 'SRPT', 'SHLS', 'SPG', 'SWX',
       'SYF', 'TEX', 'TSLA', 'UGI', 'UAL', 'X', 'UNM', 'VCYT', 'VTRS',
       'VNO', 'W', 'WBS', 'WFC', 'WY', 'WTW', 'ZS', 'GRFS', 'NTDTY',
       'DPSGY', 'ASXFY', 'CNHI', 'BHKLY', 'MONOY', 'SKBSY', 'MITEY', 'CS',
       'FRC', 'PM', 'CPB', 'CTLT', 'OHI', 'LLY', 'ELAN', 'ED', 'SRE',
       'CRM', 'SGEN', 'SHW', 'SBNY', 'BMRN', 'SILK', 'BLK', 'SNOW',
       'BLNK', 'NFLX', 'DAL', 'APPS', 'DEI', 'EW', 'DHR', 'BATRK', 'KMB',
       'K', 'IONS', 'ISRG', 'INCY', 'IBRX', 'HPP', 'HPQ', 'CTAS', 'EA',
       'MMC', 'MKC', 'PACW', 'PAYC', 'PEP', 'GMED', 'GO', 'HE', 'CNP',
       'CDNA', 'BRO', 'Z', 'WAL', 'WM', 'MDT', 'ABT', 'ATVI', 'ALLY',
       'ALNY', 'GOOGL', 'NLY', 'ATO', 'PEG', 'BIIB', 'RJF', 'RTN', 'RIVN',
       'RUN', 'CEG', 'CF', 'SGAPY', 'KKOYY', 'ELUXY', 'TELNY', 'TOSYY',
       'UNICY', 'BRK.B', 'ABNB', 'ARWR', 'AVGO', 'CELH', 'CHE', 'CME',
       'COST', 'ENVX', 'FATE', 'HZNP', 'INTC', 'LIN', 'MAXR', 'NEE', 'PG',
       'RBLX', 'SBCF', 'SWAV', 'SPWR', 'SYNH', 'TTD', 'UNP', 'VFC',
       'ESALY', 'RDSMY', 'JAPSY', 'PSO'], dtype=object)

698

In [22]:
#Remove and rename stock tickers so Yahoo Finance can download data 
Daniel_Goldman_Clean = Daniel_Goldman[(Daniel_Goldman.Ticker != "RTN") & 
                                     (Daniel_Goldman.Ticker != "ESALY") &
                                     (Daniel_Goldman.Ticker != "RDSMY") &
                                     (Daniel_Goldman.Ticker != "MAXR") &
                                     (Daniel_Goldman.Ticker != "FRC") &
                                     (Daniel_Goldman.Ticker != "CS")]

Daniel_Goldman_Clean["Ticker"] = Daniel_Goldman_Clean["Ticker"].str.replace("BRK.B", "BRK-B")
Daniel_Goldman_Clean["Ticker"] = Daniel_Goldman_Clean["Ticker"].str.replace("HEI.A", "HEI-A")
Daniel_Goldman_Clean.dtypes

Representative      object
ReportDate          object
TransactionDate     object
Ticker              object
Transaction         object
Range               object
House               object
Amount             float64
Party               object
dtype: object

In [23]:
#Update data types so that they can be merged with financial data
Daniel_Goldman_Clean["TransactionDate"] = pd.to_datetime(Daniel_Goldman_Clean["TransactionDate"], format="%Y-%m-%d")
Daniel_Goldman_Clean["ReportDate"] = pd.to_datetime(Daniel_Goldman_Clean["ReportDate"], format="%Y-%m-%d")
Daniel_Goldman_Clean.dtypes

Representative             object
ReportDate         datetime64[ns]
TransactionDate    datetime64[ns]
Ticker                     object
Transaction                object
Range                      object
House                      object
Amount                    float64
Party                      object
dtype: object

In [39]:
# Merge Volume Data
df_volume = Volume.melt(id_vars='TransactionDate', var_name='Ticker', value_name='Volume')
#df.dtypes
#Daniel_Goldman_Clean.dtypes
DG1 = Daniel_Goldman_Clean.merge(df_volume, on = ["TransactionDate",'Ticker'])
DG1

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Volume
0,Daniel Goldman,2023-08-13,2023-07-19,NOC,Sale,"$15,001-$50,000",Representatives,15001.0,D,933600.0
1,Daniel Goldman,2023-08-13,2023-07-14,TMUS,Sale,"$1,001-$15,000",Representatives,1001.0,D,4044400.0
2,Daniel Goldman,2023-08-13,2023-07-14,THO,Sale,"$1,001-$15,000",Representatives,1001.0,D,1126500.0
3,Daniel Goldman,2023-08-13,2023-07-14,ABBV,Sale,"$1,001-$15,000",Representatives,1001.0,D,5543400.0
4,Daniel Goldman,2023-08-13,2023-07-14,F,Sale,"$1,001-$15,000",Representatives,1001.0,D,48720800.0
...,...,...,...,...,...,...,...,...,...,...
1121,Daniel Goldman,2023-02-24,2023-01-13,KDDIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,149600.0
1122,Daniel Goldman,2023-02-24,2023-01-13,STBFY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,23300.0
1123,Daniel Goldman,2023-02-24,2023-01-13,TOSYY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,18200.0
1124,Daniel Goldman,2023-02-24,2023-01-13,TRYIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,11900.0
1125,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D,60500.0

In [40]:
#Check that data is correct
Volume[Volume["TransactionDate"] == "2023-07-14" ]

,TransactionDate,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
227,2023-07-14,423200,2386200,41573900,222400,5800,142100,5543400,6496600,4015600,...,700,10300,4600,1070300,1251200,2313300,8800,2495900,2455900,53800

In [42]:
# Merge Close Data
df_close = Close.melt(id_vars='TransactionDate', var_name='Ticker', value_name='Close')
#df.dtypes
#Daniel_Goldman_Clean.dtypes
DG2 = DG1.merge(df_close, on = ["TransactionDate",'Ticker'])
DG2

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party,Volume,Close
0,Daniel Goldman,2023-08-13,2023-07-19,NOC,Sale,"$15,001-$50,000",Representatives,15001.0,D,933600.0,442.279999
1,Daniel Goldman,2023-08-13,2023-07-14,TMUS,Sale,"$1,001-$15,000",Representatives,1001.0,D,4044400.0,139.679993
2,Daniel Goldman,2023-08-13,2023-07-14,THO,Sale,"$1,001-$15,000",Representatives,1001.0,D,1126500.0,108.470001
3,Daniel Goldman,2023-08-13,2023-07-14,ABBV,Sale,"$1,001-$15,000",Representatives,1001.0,D,5543400.0,136.009995
4,Daniel Goldman,2023-08-13,2023-07-14,F,Sale,"$1,001-$15,000",Representatives,1001.0,D,48720800.0,14.980000
...,...,...,...,...,...,...,...,...,...,...,...
1121,Daniel Goldman,2023-02-24,2023-01-13,KDDIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,149600.0,15.130000
1122,Daniel Goldman,2023-02-24,2023-01-13,STBFY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,23300.0,16.620001
1123,Daniel Goldman,2023-02-24,2023-01-13,TOSYY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,18200.0,17.740000
1124,Daniel Goldman,2023-02-24,2023-01-13,TRYIY,Purchase,"$1,001-$15,000",Representatives,1001.0,D,11900.0,11.240000
1125,Daniel Goldman,2023-02-24,2023-01-13,ZURVY,Sale,"$15,001-$50,000",Representatives,15001.0,D,60500.0,48.110001

In [43]:
#Check that data is correct
Close[Close["TransactionDate"] == "2023-07-14" ]

,TransactionDate,AAGIY,AAP,AAPL,AAT,AAVMY,ABBNY,ABBV,ABNB,ABT,...,YAMHY,YARIY,YASKY,YOU,YUMC,Z,ZLNDY,ZS,ZTS,ZURVY
227,2023-07-14,40.889999,70.639999,190.690002,20.790001,16.82,39.43,136.009995,143.339996,107.93,...,14.01,19.309999,87.349998,25.01,60.009998,53.23,15.73,145.429993,172.190002,47.459999

## David Perdue

In [ ]:
David_Perdue = congress_df[congress_df["Representative"] == "David Perdue"]
David_Perdue

In [ ]:
David_Perdue.count()

In [ ]:
David_Perdue["Ticker"].value_counts().head(10)

In [ ]:
DP_unique = David_Perdue["Ticker"].unique()
display(DP_unique)
len(DP_unique)

In [ ]:
David_Perdue_PFE = David_Perdue[David_Perdue["Ticker"] == "PFE"]
David_Perdue_PFE

In [ ]:
David_Perdue_AAPL_Purchase = David_Perdue_AAPL[David_Perdue_AAPL["Transaction"] == "Purchase"]
David_Perdue_AAPL_Purchase.head()

In [ ]:
David_Perdue_AAPL_Sell = David_Perdue_AAPL[David_Perdue_AAPL["Transaction"] == "Sale"]
David_Perdue_AAPL_Sell.head()

# Ticker DataFrames

In [ ]:
AAPL = congress_df[congress_df["Ticker"] == "AAPL"]
AAPL