In [1]:
import os
import pandas as pd
import numpy.random as rnd
import warnings
import json
import sqlalchemy as sql
import datetime
import requests
import yfinance as yf
import numpy as np

/Library/anaconda3/envs/dev/lib/python3.10/site-packages/requests/__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (5.1.0)/charset_normalizer (None) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [2]:
# Date range
today = datetime.date.today()
start_date = today - datetime.timedelta(days=365*1) #trading days(252) * amount of years to go back 

start = start_date.strftime("%Y-%m-%d")
end = today.strftime("%Y-%m-%d")

In [3]:
url = "https://api.quiverquant.com/beta/bulk/congresstrading"

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 77edeff3a3bd2fa2e10472e0536c0d166c147afa"
}

response = requests.get(url, headers=headers).json()

In [4]:
#For loop to get all congress names and transactions into list

list_series = []

for row in response:
    list_series.append(pd.Series(row))
    column_names = response

In [5]:
congress_df = pd.DataFrame(data=list_series)
congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Josh Gottheimer,2023-08-21,2023-07-27,ABBV,Sale,"$1,001-$15,000",Representatives,1001.0,D
1,Josh Gottheimer,2023-08-21,2023-07-25,FCX,Sale,"$1,001-$15,000",Representatives,1001.0,D
2,Josh Gottheimer,2023-08-21,2023-07-24,AMD,Purchase,"$1,001-$15,000",Representatives,1001.0,D
3,Josh Gottheimer,2023-08-21,2023-07-21,HLN,Purchase,"$1,001-$15,000",Representatives,1001.0,D
4,Josh Gottheimer,2023-08-21,2023-07-20,HLN,Purchase,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
30802,Sheldon Whitehouse,2016-01-20,2016-01-05,NVDA,Purchase,"$1,001 - $15,000",Senate,1001.0,D
30803,Bill Cassidy,2016-01-12,2016-01-05,AAPL,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30804,Bill Cassidy,2016-01-12,2016-01-05,CMI,Purchase,"$1,001 - $15,000",Senate,1001.0,R
30805,Bill Cassidy,2016-01-12,2016-01-05,INTC,Sale,"$1,001 - $15,000",Senate,1001.0,R
30806,John Hoeven,2016-01-12,2016-01-06,UA,Purchase,"$50,001 - $100,000",Senate,50001.0,R

In [6]:

#Filter for TransactionDate within the last year
congress_df = congress_df[congress_df['TransactionDate'] > start]


congress_df

,Representative,ReportDate,TransactionDate,Ticker,Transaction,Range,House,Amount,Party
0,Josh Gottheimer,2023-08-21,2023-07-27,ABBV,Sale,"$1,001-$15,000",Representatives,1001.0,D
1,Josh Gottheimer,2023-08-21,2023-07-25,FCX,Sale,"$1,001-$15,000",Representatives,1001.0,D
2,Josh Gottheimer,2023-08-21,2023-07-24,AMD,Purchase,"$1,001-$15,000",Representatives,1001.0,D
3,Josh Gottheimer,2023-08-21,2023-07-21,HLN,Purchase,"$1,001-$15,000",Representatives,1001.0,D
4,Josh Gottheimer,2023-08-21,2023-07-20,HLN,Purchase,"$1,001-$15,000",Representatives,1001.0,D
...,...,...,...,...,...,...,...,...,...
4235,Gerald E. Connolly,2022-09-01,2022-08-30,SAIC,Sale,"$1,001-$15,000",Representatives,1001.0,D
4236,Gerald E. Connolly,2022-09-01,2022-08-30,D,Sale,"$15,001-$50,000",Representatives,15001.0,D
4237,Gerald E. Connolly,2022-09-01,2022-08-30,LDOS,Sale,"$15,001-$50,000",Representatives,15001.0,D
4238,Mark Dr Green,2022-09-01,2022-08-29,ET,Sale,"$15,001-$50,000",Representatives,15001.0,R
4239,Mark Dr Green,2022-09-01,2022-08-29,NGL,Sale,"$1,001-$15,000",Representatives,1001.0,R

In [7]:
#Create a list of all items in the column "Ticker" in the dataframe
ticker_list = congress_df["Ticker"].tolist()
#Remove duplicates from the list
ticker_list = list(dict.fromkeys(ticker_list))

#rename BRK.A to BRKA   
ticker_list = [w.replace('BRK.A', 'BRK-A') for w in ticker_list]
ticker_list = [w.replace('BRK.B', 'BRK-B') for w in ticker_list]
ticker_list = [w.replace('FB', 'META') for w in ticker_list]
ticker_list = [w.replace('BF.B', 'BF-B') for w in ticker_list]
ticker_list = [w.replace('LGF.B', 'LGF-B') for w in ticker_list]
ticker_list = [w.replace('KMI.W', 'KMI-W') for w in ticker_list]
ticker_list = [w.replace('CWEN.A', 'CWEN-A') for w in ticker_list]
ticker_list = [w.replace('ABB', 'ABBNY') for w in ticker_list]
ticker_list = [w.replace('RTN', 'RTX') for w in ticker_list]
ticker_list = [w.replace('INSW.V', 'INSW-V') for w in ticker_list]
ticker_list = [w.replace('FMBA', 'FMAO') for w in ticker_list]
ticker_list = [w.replace('ESALY', 'ESALF') for w in ticker_list]
ticker_list = [w.replace('RDSMY', 'RDSMF') for w in ticker_list]

In [8]:
# Downloading data
ticker_data = yf.download(ticker_list, start = start, end = end)

display(ticker_data)

display(start)
display(end)
#display(Y)

[*********************100%***********************]  1232 of 1232 completed

41 Failed downloads:
['TTNDY', 'BRCM', 'TLRN', 'NKE', 'CHPT', 'CC', 'CDNA', 'SSLTY']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2022-08-24 -> 2023-08-24)')
['FRC', 'CS', 'BRMK', 'AAIC$B', 'BLL', 'TWTR', 'SI', 'HSAC', 'SIVB', 'RDSMF', 'T$A', 'FISV', 'CVET', 'INSW-V', 'SRE$A', 'BELMETA', 'METAP', 'AQUA', 'AAM$A', 'RNWK', 'HEI.A', 'DUK$A', 'ABBNYV', 'SIRE', 'LMST', 'SCHW$D', 'MAXR', 'ECOM', 'CCXI', 'CSII', 'ABBNYNY', 'MNRL', 'COUP']: Exception('%ticker%: No timezone found, symbol may be delisted')

            Adj Close                                                  \
                   AA      AAGIY AAIC$B AAM$A         AAP        AAPL
Date
2022-08-24  53.881981  37.199623    NaN   NaN  173.661240  166.542007
2022-08-25  56.346909  39.022846    NaN   NaN  174.703735  169.027283
2022-08-26  55.277786  38.816998    NaN   NaN  167.560745  162.655045
2022-08-29  54.941212  38.650364    NaN   NaN  164.616669  160.428268
2022-08-30  50.278629  37.581913    NaN   NaN  164.549133  157.972855
...               ...        ...    ...   ...         ...         ...
2023-08-17  29.110001  35.650002    NaN   NaN   69.459999  174.000000
2023-08-18  28.969999  35.240002    NaN   NaN   69.830002  174.490005
2023-08-21  28.590000  34.349998    NaN   NaN   68.199997  175.839996
2023-08-22  28.780001  34.380001    NaN   NaN   67.339996  177.229996
2023-08-23  28.809999  35.770000    NaN   NaN   69.440002  181.119995

                                                     ... Volume           \
                  AAT      AAVMY      ABBNY ABBNYNY  ...  YASKY      YOU
Date                                                 ...
2022-08-24  27.037367   8.779819  27.690538     NaN  ...   2700   588300
2022-08-25  27.444582   8.853137  28.254263     NaN  ...   4200   764200
2022-08-26  27.018427   8.578195  27.379519     NaN  ...   5300   680300
2022-08-29  26.942665   8.715666  27.535028     NaN  ...   3500   709400
2022-08-30  26.649088   8.834807  27.185131     NaN  ...   9800  1188600
...               ...        ...        ...     ...  ...    ...      ...
2023-08-17  20.850000  14.966000  36.730000     NaN  ...  12300   902400
2023-08-18  20.900000  14.430000  37.000000     NaN  ...  12100   898900
2023-08-21  20.620001  14.500000  36.980000     NaN  ...  10400  1727700
2023-08-22  20.459999  14.380000  37.040001     NaN  ...  17700  1457900
2023-08-23  20.930000  14.395000  37.349998     NaN  ...   3500  1083200

                                                                         \
               YUMC        Z      ZBH    ZIMV   ZLNDY       ZS      ZTS
Date
2022-08-24  2899300  2498600   620600  271200  115900  1153200  1206400
2022-08-25  2316000  2424300   530700  118400   92800  1657800  1088800
2022-08-26  2036700  3116500   627700  119100  117000  1983700  1468000
2022-08-29  2022100  2606400   556700  140600  160200  1215600  1236900
2022-08-30  2756100  3535100   782900  139700  162100  1778100  1918800
...             ...      ...      ...     ...     ...      ...      ...
2023-08-17  1470500  4340600  1007100  143100   29500  1594800  2197100
2023-08-18  2859600  2740100  1329600  161200   20300  1703500  2027200
2023-08-21  2101300  2195300  1248100   89100   44900  2411300   860200
2023-08-22  1242900  2604600  3648900  132200   24000  1098400  1286400
2023-08-23  1550100  1865000  2755200   73600    9100  1091700  1022900


             ZURVY
Date
2022-08-24   73900
2022-08-25   60800
2022-08-26   48800
2022-08-29   85700
2022-08-30   79700
...            ...
2023-08-17   57200
2023-08-18   75000
2023-08-21   74100
2023-08-22   74700
2023-08-23  731300

[251 rows x 7392 columns]

'2022-08-24'

'2023-08-24'

In [11]:
data = ticker_data.loc[:,('Adj Close', slice(None))]
data.columns = ticker

daily_returns = data[assets].pct_change().dropna()
display(daily_returns)

ValueError: Length mismatch: Expected axis has 1232 elements, new values have 1235 elements

In [ ]:
cumulative_returns = daily_returns.cumsum()
cumulative_returns